In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r'data/Dropbox/LIQUIDADOR DE EMBARQUE.xlsx', sheet_name='CALCULO PAGO')
df = df.iloc[6:, 2:]
df.columns = df.iloc[0]
df = df.iloc[1:]
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')
# Convertimos la fecha al formato 'DD/MM/YYYY'
df['Fecha'] = df['Fecha'].dt.strftime('%d/%m/%Y')
df.reset_index(drop=True, inplace=True)
df

c:\Users\Pedrito\Downloads\zomac_data\venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

6,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
0,28/12/2021,2021,52,312,S20,San Pedro,1500,1000,500,978,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
1,28/12/2021,2021,52,80,U21,Uveros,1500,1000,500,331,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
2,29/12/2021,2021,52,221,S20,San Pedro,1500,1000,500,978,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
3,29/12/2021,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
4,29/12/2021,2021,52,81,P23,Pedrito,2100,1000,500,523,...,25085.714286,175600,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,29/04/2024,2024,18,119,S020-2,San Pedro,2000,0,575,665,...,0,0,0,0,San Pedro,NaN,0,NaN,NaN,0
598,30/04/2024,2024,18,8,U21-2,Uveros,2000,0,575,90,...,4000,0,0,0,Uveros,NaN,0,NaN,NaN,12000
599,30/04/2024,2024,18,4,d22-2,Damaquiel,2000,0,575,41,...,2000,0,0,0,Damaquiel,NaN,0,NaN,NaN,6000
600,30/04/2024,2024,18,117,P023-2,Pedrito,2000,0,575,814,...,0,0,0,0,Pedrito,NaN,0,NaN,NaN,0
601,07/05/2024,2024,19,114,P023-2,Pedrito,2000,0,575,804,...,0,0,0,0,Pedrito,NaN,0,NaN,NaN,0

In [3]:
df.columns

Index(['Fecha', 'Año', 'Semana', 'Cajas', 'Codigo Finca', 'Finca',
       'Precio Caja', 'Precio Caja Segunda', 'Precio Bolsa', 'Total Racimos',
       'Ratio', 'Racimos Precortados', 'Personas Precorte', 'Cajas Estimadas',
       'Cajas por Personas', 'Valor Precorte Pesona', 'Racimos Cortados',
       'Personas Precorte2', 'Cajas Embarque', 'Cajas por Personas2',
       'Valor Embarque Pesona', 'Cajas Segunda', 'Personas Intervienen',
       'Columna3', 'Columna2', 'Columna1', 'Bosas', 'kilos', 'Sacas',
       'Peso Sacas', 'Personas13', 'Bolsas', 'Bolsas Por Personas',
       'Valor bolsas Pesona', 'Cajas por Personas Precorte',
       'Valor Precorte Pesona Precorte', 'Perzonas Precorte',
       'Total Valor Precorte', 'Cajas por Personas Embarque',
       'Valor Embarque Pesona3', 'Perzona Primera', 'Total Valor Primera',
       'Valor Embarque Pesona4', 'Valor Embarque Pesona5', 'Presonas Segunda',
       'Total Valor Segunda', 'Rechazo', 'Valor bolsas Pesona2',
       'Personas Rechazo', 'Total Rechazo', 'TOTAL A PAGAR', 'VALOR GANADO',
       'REAJUSTADO', 'CUANTO SE REAJUSTA', 'Columna7', 'Columna8',
       'TOTAL EMBARQUE REAJUSTADO', 'Finca2', 'Numero de Ocacionales',
       'EMBARQUE', 'PEGA CARTON', 'BARCADILLERO', 'PRECORTE'],
      dtype='object', name=6)

In [4]:
columnas_a_conservar = ['Fecha', 'Año', 'Semana', 'Cajas', 'Finca', 'Total Racimos', 'Ratio', 'Bolsas']
df = df[columnas_a_conservar]
df

6         Fecha   Año Semana Cajas      Finca Total Racimos     Ratio Bolsas
0    28/12/2021  2021     52   312  San Pedro           978  3.134615   20.4
1    28/12/2021  2021     52    80     Uveros           331    4.1375   10.2
2    29/12/2021  2021     52   221  San Pedro           978  4.425339      6
3    29/12/2021  2021     52   120  Damaquiel           735     6.125     36
4    29/12/2021  2021     52    81    Pedrito           523   6.45679     11
..          ...   ...    ...   ...        ...           ...       ...    ...
597  29/04/2024  2024     18   119  San Pedro           665  5.588235      0
598  30/04/2024  2024     18     8     Uveros            90     11.25      0
599  30/04/2024  2024     18     4  Damaquiel            41     10.25      0
600  30/04/2024  2024     18   117    Pedrito           814  6.957265      0
601  07/05/2024  2024     19   114    Pedrito           804  7.052632      0

[602 rows x 8 columns]

In [5]:
df.dtypes

6
Fecha            object
Año              object
Semana           object
Cajas            object
Finca            object
Total Racimos    object
Ratio            object
Bolsas           object
dtype: object

In [6]:
# Eliminamos las filas que en Cajas tengan un valor NaN
df = df.dropna(subset=['Cajas']).reset_index(drop=True)
df

6         Fecha   Año Semana Cajas      Finca Total Racimos     Ratio Bolsas
0    28/12/2021  2021     52   312  San Pedro           978  3.134615   20.4
1    28/12/2021  2021     52    80     Uveros           331    4.1375   10.2
2    29/12/2021  2021     52   221  San Pedro           978  4.425339      6
3    29/12/2021  2021     52   120  Damaquiel           735     6.125     36
4    29/12/2021  2021     52    81    Pedrito           523   6.45679     11
..          ...   ...    ...   ...        ...           ...       ...    ...
582  29/04/2024  2024     18   119  San Pedro           665  5.588235      0
583  30/04/2024  2024     18     8     Uveros            90     11.25      0
584  30/04/2024  2024     18     4  Damaquiel            41     10.25      0
585  30/04/2024  2024     18   117    Pedrito           814  6.957265      0
586  07/05/2024  2024     19   114    Pedrito           804  7.052632      0

[587 rows x 8 columns]

In [7]:
# Mostrar los valores donde el año sea 2024, la semana 16 y la finca 'San Pedro'
df[(df['Año'] == 2023) & (df['Semana'] == 14) & (df['Finca'] == 'San Pedro')]

6         Fecha   Año Semana Cajas      Finca Total Racimos     Ratio Bolsas
319  03/04/2023  2023     14    87  San Pedro           481  5.528736   18.5
320  03/04/2023  2023     14    57  San Pedro             0         0   12.1

In [8]:
df = df.groupby(['Año', 'Semana', 'Finca']).sum().reset_index()
df

6,Año,Semana,Finca,Fecha,Cajas,Total Racimos,Ratio,Bolsas
0,2021,52,Damaquiel,29/12/2021,120,735,6.125,36
1,2021,52,Pedrito,29/12/2021,81,523,6.45679,11
2,2021,52,San Pedro,28/12/202129/12/2021,533,1956,7.559955,26.4
3,2021,52,Uveros,28/12/2021,80,331,4.1375,10.2
4,2022,1,Damaquiel,05/01/2022,100,606,6.06,10.2
...,...,...,...,...,...,...,...,...
430,2024,18,Damaquiel,30/04/2024,4,41,10.25,0
431,2024,18,Pedrito,30/04/2024,117,814,6.957265,0
432,2024,18,San Pedro,29/04/2024,119,665,5.588235,0
433,2024,18,Uveros,30/04/2024,8,90,11.25,0
434,2024,19,Pedrito,07/05/2024,114,804,7.052632,0

In [9]:
df.drop(columns=['Fecha'], inplace=True)
df.columns

Index(['Año', 'Semana', 'Finca', 'Cajas', 'Total Racimos', 'Ratio', 'Bolsas'], dtype='object', name=6)

In [10]:
df[(df['Año'] == 2023) & (df['Semana'] == 14) & (df['Finca'] == 'San Pedro')]

6     Año  Semana      Finca Cajas Total Racimos     Ratio Bolsas
243  2023      14  San Pedro   144           481  5.528736   30.6

In [11]:
df['Ratio'] = df['Total Racimos'] / df['Cajas']
df

6     Año  Semana      Finca Cajas Total Racimos     Ratio Bolsas
0    2021      52  Damaquiel   120           735     6.125     36
1    2021      52    Pedrito    81           523   6.45679     11
2    2021      52  San Pedro   533          1956  3.669794   26.4
3    2021      52     Uveros    80           331    4.1375   10.2
4    2022       1  Damaquiel   100           606      6.06   10.2
..    ...     ...        ...   ...           ...       ...    ...
430  2024      18  Damaquiel     4            41     10.25      0
431  2024      18    Pedrito   117           814  6.957265      0
432  2024      18  San Pedro   119           665  5.588235      0
433  2024      18     Uveros     8            90     11.25      0
434  2024      19    Pedrito   114           804  7.052632      0

[435 rows x 7 columns]

In [12]:
df[(df['Año'] == 2024) & (df['Semana'] == 16) & (df['Finca'] == 'San Pedro')]

6     Año  Semana      Finca Cajas Total Racimos Ratio Bolsas
424  2024      16  San Pedro   200          1038  5.19      0

In [15]:
df.dtypes

6
Año                int32
Semana             int32
Finca             object
Cajas              int32
Total Racimos      int32
Ratio            float64
Bolsas           float64
dtype: object

In [14]:
df['Año'] = df['Año'].astype(int)
df['Semana'] = df['Semana'].astype(int)
df['Cajas'] = df['Cajas'].astype(int)
df['Total Racimos'] = df['Total Racimos'].astype(int)
df['Ratio'] = df['Ratio'].astype(float)
df['Bolsas'] = df['Bolsas'].astype(float)