In [2]:
import numpy as np
import pandas as pd

In [7]:
datafile = pd.read_excel(f'data/Etiquetas_por_division (3).xlsx')
datafile

,Código,Finca,Lote,lat,lng,Fecha,Tipo de labor
0,C 986,Finca San Pedro,U06,8.739288,-76.581723,2024-04-15 09:23:02,Morado
1,C 986,Finca San Pedro,U06,8.738882,-76.581513,2024-04-15 09:32:15,Morado
2,C 986,Finca San Pedro,U06,8.739242,-76.581555,2024-04-15 09:44:50,Morado
3,C 986,Finca San Pedro,U06,8.739292,-76.581515,2024-04-15 09:51:20,Morado
4,C 986,Finca San Pedro,U06,8.739352,-76.581385,2024-04-15 09:58:09,Morado
...,...,...,...,...,...,...,...
2288,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:48,Rojo
2289,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:50,Rojo
2290,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:52,Rojo
2291,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:54,Rojo
2292,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:56,Rojo

In [31]:
datafile.loc[datafile['Lote'] == 'S01'].value_counts().sum()

183

In [34]:
# Pasar la información de datafile a un nuevo dataframe con las columnas Código, Lote, Fecha y Tipo de labor
df = pd.DataFrame(datafile, columns=['Código', 'Lote', 'Fecha', 'Tipo de labor'])
df

     Código Lote                Fecha Tipo de labor
0     C 986  U06  2024-04-15 09:23:02        Morado
1     C 986  U06  2024-04-15 09:32:15        Morado
2     C 986  U06  2024-04-15 09:44:50        Morado
3     C 986  U06  2024-04-15 09:51:20        Morado
4     C 986  U06  2024-04-15 09:58:09        Morado
...     ...  ...                  ...           ...
2288    993  P07  2024-04-18 00:00:48          Rojo
2289    993  P07  2024-04-18 00:00:50          Rojo
2290    993  P07  2024-04-18 00:00:52          Rojo
2291    993  P07  2024-04-18 00:00:54          Rojo
2292    993  P07  2024-04-18 00:00:56          Rojo

[2293 rows x 4 columns]

In [54]:
# Hacer un conteo de de la cantidad de lotes
new_new_df = pd.DataFrame(df['Lote'].value_counts())

In [57]:
df['Lote'].value_counts(sort=True, ascending=True)

Lote
M05      1
P02      3
nan     16
P12     29
P11     29
P05     36
P10     48
U07     55
S08     55
M04     67
P06     80
P08    100
P07    105
S06    121
S03    122
S04    123
S02    123
S07    127
P09    138
S05    143
U06    149
S01    183
M01    198
M02    242
Name: count, dtype: int64

In [56]:
new_new_df.sort_values(by='Lote', ascending=False)

      count
Lote
nan      16
U07      55
U06     149
S08      55
S07     127
S06     121
S05     143
S04     123
S03     122
S02     123
S01     183
P12      29
P11      29
P10      48
P09     138
P08     100
P07     105
P06      80
P05      36
P02       3
M05       1
M04      67
M02     242
M01     198

In [41]:
df.dtypes

Código           object
Lote             object
Fecha            object
Tipo de labor    object
dtype: object

In [49]:
df['Código'] = df['Código'].astype(str)
df['Lote'] = df['Lote'].astype(str)
df['Fecha'] = pd.to_datetime(df['Fecha'])
df['Tipo de labor'] = df['Tipo de labor'].astype(str)
df['Fecha'] = df['Fecha'].dt.strftime('%Y-%m-%d')
df.dtypes

Código           object
Lote             object
Fecha            object
Tipo de labor    object
dtype: object

In [50]:
df

     Código Lote       Fecha Tipo de labor
0     C 986  U06  2024-04-15        Morado
1     C 986  U06  2024-04-15        Morado
2     C 986  U06  2024-04-15        Morado
3     C 986  U06  2024-04-15        Morado
4     C 986  U06  2024-04-15        Morado
...     ...  ...         ...           ...
2288    993  P07  2024-04-18          Rojo
2289    993  P07  2024-04-18          Rojo
2290    993  P07  2024-04-18          Rojo
2291    993  P07  2024-04-18          Rojo
2292    993  P07  2024-04-18          Rojo

[2293 rows x 4 columns]