# Excel a SQL
- Importar librerías
- Leer archivo Excel
- Crear conexión a SQL
- Crear tabla en SQL
- Insertar datos en SQL

In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as db
from sqlalchemy import text
import time
import datetime

In [2]:
# Read the Excel file
df = pd.read_excel('rdt.xlsx', sheet_name='Empleados')
# Create the engine to connect to the database and write the data to the database with PostgreSQL
engine = db.create_engine("postgresql://admin_zomac:Zomac1234@localhost:5432/admin_zomac")

# Excel Empleados a SQL

In [3]:
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,CODIGO EMPLEADO,NOMBRE EMPLEADO,PERTENECE A LA FINCA,CEDULA,LABOR USUAL,ESTADO,INGRESO,CONTRATO,FECHA DE VENCIMIENTO,TIPO,Nº TELEFONO,Nº DE CUENTA BANCARIA,TIPO DE CUENTA,BANCO,CUENTA A NOMBRE DE:,CEDULA
8,NaN,1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaN,NaN,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaN,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaN,NaN,NaN,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN,NaN
11,NaN,4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaN,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,5,DANIEL ULISES CALDERA MACIAS,S20,E-15.826.681,NaN,Inactivo,NaN,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,6,DONALDO ESCOBAR,S20,NaN,NaN,Inactivo,NaN,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,7,EFRAIN GUDIÑO,S20,NaN,NaN,Inactivo,NaN,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Remove the first row to the seventh row
df = df.iloc[7:]

In [5]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
7,NaN,CODIGO EMPLEADO,NOMBRE EMPLEADO,PERTENECE A LA FINCA,CEDULA,LABOR USUAL,ESTADO,INGRESO,CONTRATO,FECHA DE VENCIMIENTO,TIPO,Nº TELEFONO,Nº DE CUENTA BANCARIA,TIPO DE CUENTA,BANCO,CUENTA A NOMBRE DE:,CEDULA
8,NaN,1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaN,NaN,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaN,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaN,NaN,NaN,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN,NaN
11,NaN,4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaN,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,NaN,743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21 00:00:00,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
750,NaN,744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21 00:00:00,NaN,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
751,NaN,745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23 00:00:00,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
752,NaN,746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27 00:00:00,NaN,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
753,NaN,747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27 00:00:00,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#remove the first column
df = df.iloc[:,1:]

In [7]:
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
7,CODIGO EMPLEADO,NOMBRE EMPLEADO,PERTENECE A LA FINCA,CEDULA,LABOR USUAL,ESTADO,INGRESO,CONTRATO,FECHA DE VENCIMIENTO,TIPO,Nº TELEFONO,Nº DE CUENTA BANCARIA,TIPO DE CUENTA,BANCO,CUENTA A NOMBRE DE:,CEDULA
8,1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaN,NaN,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
9,2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaN,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
10,3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaN,NaN,NaN,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN,NaN
11,4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaN,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21 00:00:00,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
750,744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21 00:00:00,NaN,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
751,745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23 00:00:00,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
752,746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27 00:00:00,NaN,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
753,747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27 00:00:00,NaN,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Toma el nombre de las columnas de la primera fila y las asigna como nombre de las columnas
# Coloca un indice 0 en la primera fila para que no se pierda y los valores en null
df.columns = df.iloc[0]
df
# Reeemplaza los valores de la primera fila por null
df = df.replace(df.iloc[0], np.nan)
df
df.reset_index(drop=True, inplace=True)
# Asigna el valor '0' en la columna 'CODIGO EMPLEADO' en la fila 0
df['CODIGO EMPLEADO'][0] = 0
df

/tmp/ipykernel_2985969/3773730146.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CODIGO EMPLEADO'][0] = 0

7,CODIGO EMPLEADO,NOMBRE EMPLEADO,PERTENECE A LA FINCA,CEDULA,LABOR USUAL,ESTADO,INGRESO,CONTRATO,FECHA DE VENCIMIENTO,TIPO,Nº TELEFONO,Nº DE CUENTA BANCARIA,TIPO DE CUENTA,BANCO,CUENTA A NOMBRE DE:,CEDULA
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaN,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaN,NaT,NaN,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN,NaN
4,4.0,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,743.0,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
743,744.0,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
744,745.0,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
745,746.0,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
746,747.0,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Colocamos 'CODIGO EMPLEADO' como un entero
df['CODIGO EMPLEADO'] = df['CODIGO EMPLEADO'].astype(int)
df

7,CODIGO EMPLEADO,NOMBRE EMPLEADO,PERTENECE A LA FINCA,CEDULA,LABOR USUAL,ESTADO,INGRESO,CONTRATO,FECHA DE VENCIMIENTO,TIPO,Nº TELEFONO,Nº DE CUENTA BANCARIA,TIPO DE CUENTA,BANCO,CUENTA A NOMBRE DE:,CEDULA
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaN,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
2,2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
3,3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaN,NaT,NaN,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN,NaN
4,4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
743,744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
744,745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
745,746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
746,747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df

7,CODIGO EMPLEADO,NOMBRE EMPLEADO,PERTENECE A LA FINCA,CEDULA,LABOR USUAL,ESTADO,INGRESO,CONTRATO,FECHA DE VENCIMIENTO,TIPO,Nº TELEFONO,Nº DE CUENTA BANCARIA,TIPO DE CUENTA,BANCO,CUENTA A NOMBRE DE:,CEDULA
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaN,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
2,2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
3,3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaN,NaT,NaN,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN,NaN
4,4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
743,744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
744,745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN
745,746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN,NaN
746,747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Eliminamos la ultima columna debido a que esta repetida
df = df.iloc[:,:-1]
df

7,CODIGO EMPLEADO,NOMBRE EMPLEADO,PERTENECE A LA FINCA,CEDULA,LABOR USUAL,ESTADO,INGRESO,CONTRATO,FECHA DE VENCIMIENTO,TIPO,Nº TELEFONO,Nº DE CUENTA BANCARIA,TIPO DE CUENTA,BANCO,CUENTA A NOMBRE DE:
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaN,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN
2,2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN
3,3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaN,NaT,NaN,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN
4,4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN
743,744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN
744,745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN
745,746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN
746,747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN

In [12]:
# Mostrar los valores de las columnas
df.columns

Index(['CODIGO EMPLEADO', 'NOMBRE EMPLEADO', 'PERTENECE A LA FINCA', 'CEDULA ',
       'LABOR USUAL', 'ESTADO', 'INGRESO', 'CONTRATO', 'FECHA DE VENCIMIENTO',
       'TIPO', 'Nº TELEFONO', 'Nº DE CUENTA BANCARIA', 'TIPO DE CUENTA',
       'BANCO', 'CUENTA A NOMBRE DE:'],
      dtype='object', name=7)

In [13]:
# Cambiaremos el nombre de todas las columnas a uno que sea más fácil de escribir
nuevos_nombres = {'CODIGO EMPLEADO':'Codigo', 
                  'NOMBRE EMPLEADO':'Nombre',
                  'PERTENECE A LA FINCA':'Finca', 
                  'CEDULA ':'Cedula',
                  'LABOR USUAL':'Labor',
                  'ESTADO':'Estado',
                  'INGRESO':'Ingreso',
                  'CONTRATO':'Contrato',
                  'FECHA DE VENCIMIENTO':'Vencimiento',
                  'TIPO':'Tipo',
                  'Nº TELEFONO':'Telefono',
                  'Nº DE CUENTA BANCARIA':'Cuenta',
                  'TIPO DE CUENTA':'Tipo_Cuenta',
                  'BANCO':'Banco',
                  'CUENTA A NOMBRE DE:':'Cuenta_Nombre'}
df.rename(columns=nuevos_nombres, inplace=True)
df

7,Codigo,Nombre,Finca,Cedula,Labor,Estado,Ingreso,Contrato,Vencimiento,Tipo,Telefono,Cuenta,Tipo_Cuenta,Banco,Cuenta_Nombre
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaN,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN
2,2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN
3,3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaN,NaT,NaN,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN
4,4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaN,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN
743,744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN
744,745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN
745,746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,OCASIONAL,NaN,NaN,NaN,NaN,NaN
746,747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,NaN,FIJO,NaN,NaN,NaN,NaN,NaN

In [14]:
# Configura 'CODIGO EMPLEADO' como índice y elimina la columna
df = df.set_index('Codigo')

In [15]:
# Convierte 'FECHA DE VENCIMIENTO' a entero ignorando los valores vacíos
df['Vencimiento'] = df['Vencimiento'].fillna(0).astype(int)
df.dtypes

7
Nombre                   object
Finca                    object
Cedula                   object
Labor                    object
Estado                   object
Ingreso                  object
Contrato         datetime64[ns]
Vencimiento               int64
Tipo                     object
Telefono                 object
Cuenta                   object
Tipo_Cuenta              object
Banco                    object
Cuenta_Nombre            object
dtype: object

In [16]:
df

7,Nombre,Finca,Cedula,Labor,Estado,Ingreso,Contrato,Vencimiento,Tipo,Telefono,Cuenta,Tipo_Cuenta,Banco,Cuenta_Nombre
Codigo,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaN,NaT,0,OCASIONAL,NaN,NaN,NaN,NaN,NaN
2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaN,NaT,0,FIJO,NaN,NaN,NaN,NaN,NaN
3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaN,NaT,0,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN
4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaN,NaT,0,FIJO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,0,FIJO,NaN,NaN,NaN,NaN,NaN
744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21 00:00:00,NaT,0,OCASIONAL,NaN,NaN,NaN,NaN,NaN
745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23 00:00:00,NaT,0,FIJO,NaN,NaN,NaN,NaN,NaN
746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,0,OCASIONAL,NaN,NaN,NaN,NaN,NaN
747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27 00:00:00,NaT,0,FIJO,NaN,NaN,NaN,NaN,NaN

In [17]:
# cambiar el tipo de datos de la columna 'INGRESO' a datetime ignorando los valores no válidos
df['Ingreso'] = pd.to_datetime(df['Ingreso'], errors='coerce')
# cambiar el tipo de datos de la columna 'CONTRATO' a datetime ignorando los valores no válidos
df['Contrato'] = pd.to_datetime(df['Contrato'], errors='coerce')
# Se convierte la columna 'FECHA DE VENCIMIENTO' a datetime
# Convertimos el valor de la columna 'FECHA DE VENCIMIENTO' a datetime
df['Vencimiento'] = pd.to_datetime(df['Vencimiento'], unit='D', origin='1899-12-30', errors='coerce')
# Se convierte la columna 'FECHA DE VENCIMIENTO' a datetime
df['Vencimiento'] = pd.to_datetime(df['Vencimiento'], errors='coerce')
# Se le da el formato a la columna 'FECHA DE VENCIMIENTO' como 'dd-mm-yyyy'
#df['FECHA DE VENCIMIENTO'] = df['FECHA DE VENCIMIENTO'].dt.strftime('%d-%m-%Y')
df

7,Nombre,Finca,Cedula,Labor,Estado,Ingreso,Contrato,Vencimiento,Tipo,Telefono,Cuenta,Tipo_Cuenta,Banco,Cuenta_Nombre
Codigo,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,1899-12-30,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaT,NaT,1899-12-30,OCASIONAL,NaN,NaN,NaN,NaN,NaN
2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaT,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN
3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaT,NaT,1899-12-30,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN
4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaT,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN
744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21,NaT,1899-12-30,OCASIONAL,NaN,NaN,NaN,NaN,NaN
745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN
746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27,NaT,1899-12-30,OCASIONAL,NaN,NaN,NaN,NaN,NaN
747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN

In [18]:
df

7,Nombre,Finca,Cedula,Labor,Estado,Ingreso,Contrato,Vencimiento,Tipo,Telefono,Cuenta,Tipo_Cuenta,Banco,Cuenta_Nombre
Codigo,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,1899-12-30,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaT,NaT,1899-12-30,OCASIONAL,NaN,NaN,NaN,NaN,NaN
2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaT,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN
3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaT,NaT,1899-12-30,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN
4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaT,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN
744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21,NaT,1899-12-30,OCASIONAL,NaN,NaN,NaN,NaN,NaN
745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN
746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27,NaT,1899-12-30,OCASIONAL,NaN,NaN,NaN,NaN,NaN
747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27,NaT,1899-12-30,FIJO,NaN,NaN,NaN,NaN,NaN

In [19]:
#Muestrame los valores unicos de la columna 'FECHA DE VENCIMIENTO'
df['Vencimiento'].unique()

array(['1899-12-30T00:00:00.000000000', '2022-01-15T00:00:00.000000000',
       '2022-02-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [20]:
# Selecciona la fila que tenga 'JOSE ILARIO AVILA BERRIO' en la columna 'NOMBRE EMPLEADO'
df.loc[df['Nombre'] == 'JOSE ILARIO AVILA BERRIO']
# En la columna 'INGRESO' coloca un valor nulo en la fila que tenga 'JOSE ILARIO AVILA BERRIO' en la columna 'NOMBRE EMPLEADO'
df.loc[df['Nombre'] == 'JOSE ILARIO AVILA BERRIO', 'Ingreso'] = np.nan

In [21]:
# Si el valor de la columna 'FECHA DE VENCIMIENTO' es igual a '1899-12-30' entonces coloca un valor nulo
df.loc[df['Vencimiento'] == '1899-12-30', 'Vencimiento'] = np.nan

In [22]:
# Cambia el nombre de las columnas a titulo
# df.columns = df.columns.str.title()
df

7,Nombre,Finca,Cedula,Labor,Estado,Ingreso,Contrato,Vencimiento,Tipo,Telefono,Cuenta,Tipo_Cuenta,Banco,Cuenta_Nombre
Codigo,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDRES ROCHA,D22,73140612,Empacador,Inactivo,NaT,NaT,NaT,OCASIONAL,NaN,NaN,NaN,NaN,NaN
2,ARLEY TORDECILLA,D22,NaN,Amarrador,Inactivo,NaT,NaT,NaT,FIJO,NaN,NaN,NaN,NaN,NaN
3,CARLOS ARTURO ARRIETA PEREIRA,P23,1037480887,Desmachador,Inactivo,NaT,NaT,NaT,FIJO,3225268212,.032 252 682 12,NaN,NaN,NaN
4,CLEIMER CAUSIL ZUAREZ,D22,1001504710,NaN,Inactivo,NaT,NaT,NaT,FIJO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,ROBERTO POLO,PE23,NaN,NaN,Activo,2023-02-21,NaT,NaT,FIJO,NaN,NaN,NaN,NaN,NaN
744,JOSE LUIS SAENZ,D22,NaN,NaN,Activo,2023-02-21,NaT,NaT,OCASIONAL,NaN,NaN,NaN,NaN,NaN
745,EDIBERTO REYES,S20,NaN,NaN,Activo,2023-02-23,NaT,NaT,FIJO,NaN,NaN,NaN,NaN,NaN
746,NORMA SUAREZ,U21,NaN,NaN,Activo,2023-02-27,NaT,NaT,OCASIONAL,NaN,NaN,NaN,NaN,NaN
747,ENERSON GALBAN,S20,NaN,NaN,Activo,2023-02-27,NaT,NaT,FIJO,NaN,NaN,NaN,NaN,NaN

### Enviar datos de los empleados a la base de datos

In [23]:
# Set 'Codigo Empleado' as the index
# Set 'Ingreso' as date
# Set 'Contrato' as date
# Set 'Fecha De Vencimiento' as date
df.to_sql('empleados', engine, if_exists='replace', index=True, dtype={'Ingreso': db.types.Date(), 'Contrato': db.types.Date(), 'Vencimiento': db.types.Date()})
# Set 'CODIGO EMPLEADO' as the primary key
with engine.connect() as con:
    con.execute(text('ALTER TABLE empleados ADD PRIMARY KEY ("Codigo");'))
    con.commit()

In [24]:
# guardar el dataframe en un archivo csv
df.to_csv('empleados.csv')

# Excel Labores a SQL

In [25]:
df = pd.read_excel('rdt.xlsx', sheet_name='Labores')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,CODIGO LABORES,NOMBRE DE LABORES,GRUPO LABOR,UNDAD DE PAGO,VALOR UNDAD,Columna1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,A00,NO TRABAJÓ,SIEMBRA,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,NaN,L2146-2,DESHOJE ESPECIAL(6),LABORES CAMPO,HECTÁREA,36000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,NaN,L3145-2,DESHOJE ESPECIAL(7),LABORES CAMPO,HECTAREA,42000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,NaN,L4145-2,DESHOJE ESPECIAL(8),LABORES CAMPO,HECTAREA,48000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,NaN,L5145-2,DESHOJE ESPECIAL(9),LABORES CAMPO,HECTAREA,54000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,NaN,L6145-2,DESHOJE ESPECIAL(10),LABORES CAMPO,HECTAREA,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Eliminar las primeras 3 filas y eliminar la primera columna
df = df.iloc[3:,1:]
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
3,CODIGO LABORES,NOMBRE DE LABORES,GRUPO LABOR,UNDAD DE PAGO,VALOR UNDAD,Columna1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A00,NO TRABAJÓ,SIEMBRA,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,A01,ABONO CON UREA FINCA PEDRITO,FERTILIZACION,UND,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A02,ABONO CON POTASIO,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A03,ABONO CON DAP,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,L2146-2,DESHOJE ESPECIAL(6),LABORES CAMPO,HECTÁREA,36000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,L3145-2,DESHOJE ESPECIAL(7),LABORES CAMPO,HECTAREA,42000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,L4145-2,DESHOJE ESPECIAL(8),LABORES CAMPO,HECTAREA,48000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,L5145-2,DESHOJE ESPECIAL(9),LABORES CAMPO,HECTAREA,54000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,L6145-2,DESHOJE ESPECIAL(10),LABORES CAMPO,HECTAREA,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# tomar los valores de la primera fila como los nombres de las columnas y eliminar la primera fila
df.columns = df.iloc[0]
df = df.iloc[1:]
df

3,CODIGO LABORES,NOMBRE DE LABORES,GRUPO LABOR,UNDAD DE PAGO,VALOR UNDAD,Columna1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A00,NO TRABAJÓ,SIEMBRA,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,A01,ABONO CON UREA FINCA PEDRITO,FERTILIZACION,UND,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A02,ABONO CON POTASIO,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A03,ABONO CON DAP,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A04,ABONO CON SULFATO DE AMONIO,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,L2146-2,DESHOJE ESPECIAL(6),LABORES CAMPO,HECTÁREA,36000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,L3145-2,DESHOJE ESPECIAL(7),LABORES CAMPO,HECTAREA,42000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,L4145-2,DESHOJE ESPECIAL(8),LABORES CAMPO,HECTAREA,48000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,L5145-2,DESHOJE ESPECIAL(9),LABORES CAMPO,HECTAREA,54000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,L6145-2,DESHOJE ESPECIAL(10),LABORES CAMPO,HECTAREA,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# remove null values in the index column
df = df.dropna(subset=['CODIGO LABORES'])
df

3,CODIGO LABORES,NOMBRE DE LABORES,GRUPO LABOR,UNDAD DE PAGO,VALOR UNDAD,Columna1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A00,NO TRABAJÓ,SIEMBRA,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,A01,ABONO CON UREA FINCA PEDRITO,FERTILIZACION,UND,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A02,ABONO CON POTASIO,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A03,ABONO CON DAP,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A04,ABONO CON SULFATO DE AMONIO,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,L2146-2,DESHOJE ESPECIAL(6),LABORES CAMPO,HECTÁREA,36000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,L3145-2,DESHOJE ESPECIAL(7),LABORES CAMPO,HECTAREA,42000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,L4145-2,DESHOJE ESPECIAL(8),LABORES CAMPO,HECTAREA,48000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,L5145-2,DESHOJE ESPECIAL(9),LABORES CAMPO,HECTAREA,54000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,L6145-2,DESHOJE ESPECIAL(10),LABORES CAMPO,HECTAREA,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.columns

Index([   'CODIGO LABORES', 'NOMBRE DE LABORES',       'GRUPO LABOR',
           'UNDAD DE PAGO',       'VALOR UNDAD',          'Columna1',
                       nan,                 nan,                 nan,
                       nan,                 nan,                 nan,
                       nan,                 nan,                 nan,
                       nan],
      dtype='object', name=3)

In [30]:
# Cambiaremos el nombre de todas las columnas a uno que sea más fácil de escribir
nuevos_nombres = {'CODIGO LABORES':'Codigo',
                  'NOMBRE DE LABORES':'Nombre_Labores',
                  'GRUPO LABOR':'Grupo_Labor',
                  'UNDAD DE PAGO':'Unidad_Pago',
                  'VALOR UNDAD':'Valor_Unidad'}
df.rename(columns=nuevos_nombres, inplace=True)
df

/tmp/ipykernel_2985969/4244153262.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=nuevos_nombres, inplace=True)

3,Codigo,Nombre_Labores,Grupo_Labor,Unidad_Pago,Valor_Unidad,Columna1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A00,NO TRABAJÓ,SIEMBRA,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,A01,ABONO CON UREA FINCA PEDRITO,FERTILIZACION,UND,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A02,ABONO CON POTASIO,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A03,ABONO CON DAP,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A04,ABONO CON SULFATO DE AMONIO,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,L2146-2,DESHOJE ESPECIAL(6),LABORES CAMPO,HECTÁREA,36000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,L3145-2,DESHOJE ESPECIAL(7),LABORES CAMPO,HECTAREA,42000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,L4145-2,DESHOJE ESPECIAL(8),LABORES CAMPO,HECTAREA,48000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,L5145-2,DESHOJE ESPECIAL(9),LABORES CAMPO,HECTAREA,54000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,L6145-2,DESHOJE ESPECIAL(10),LABORES CAMPO,HECTAREA,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# Configura 'CODIGO LABORES' como índice
df = df.set_index('Codigo')
df

3,Nombre_Labores,Grupo_Labor,Unidad_Pago,Valor_Unidad,Columna1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Codigo,,,,,,,,,,,,,,,
A00,NO TRABAJÓ,SIEMBRA,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A01,ABONO CON UREA FINCA PEDRITO,FERTILIZACION,UND,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A02,ABONO CON POTASIO,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A03,ABONO CON DAP,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A04,ABONO CON SULFATO DE AMONIO,FERTILIZACION,UND,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
L2146-2,DESHOJE ESPECIAL(6),LABORES CAMPO,HECTÁREA,36000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L3145-2,DESHOJE ESPECIAL(7),LABORES CAMPO,HECTAREA,42000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L4145-2,DESHOJE ESPECIAL(8),LABORES CAMPO,HECTAREA,48000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L5145-2,DESHOJE ESPECIAL(9),LABORES CAMPO,HECTAREA,54000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L6145-2,DESHOJE ESPECIAL(10),LABORES CAMPO,HECTAREA,60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Elimina las columnas que estan despues de la columna 'VALOR UNDAD'
df = df.iloc[:,:df.columns.get_loc('Valor_Unidad')+1]
df

3                      Nombre_Labores    Grupo_Labor Unidad_Pago Valor_Unidad
Codigo
A00                        NO TRABAJÓ        SIEMBRA                        0
A01      ABONO CON UREA FINCA PEDRITO  FERTILIZACION         UND         6000
A02                 ABONO CON POTASIO  FERTILIZACION         UND         5000
A03                     ABONO CON DAP  FERTILIZACION         UND         5000
A04       ABONO CON SULFATO DE AMONIO  FERTILIZACION         UND         5000
...                               ...            ...         ...          ...
L2146-2           DESHOJE ESPECIAL(6)  LABORES CAMPO    HECTÁREA        36000
L3145-2           DESHOJE ESPECIAL(7)  LABORES CAMPO    HECTAREA        42000
L4145-2           DESHOJE ESPECIAL(8)  LABORES CAMPO    HECTAREA        48000
L5145-2           DESHOJE ESPECIAL(9)  LABORES CAMPO    HECTAREA        54000
L6145-2          DESHOJE ESPECIAL(10)  LABORES CAMPO    HECTAREA        60000

[567 rows x 4 columns]

In [33]:
df

3                      Nombre_Labores    Grupo_Labor Unidad_Pago Valor_Unidad
Codigo
A00                        NO TRABAJÓ        SIEMBRA                        0
A01      ABONO CON UREA FINCA PEDRITO  FERTILIZACION         UND         6000
A02                 ABONO CON POTASIO  FERTILIZACION         UND         5000
A03                     ABONO CON DAP  FERTILIZACION         UND         5000
A04       ABONO CON SULFATO DE AMONIO  FERTILIZACION         UND         5000
...                               ...            ...         ...          ...
L2146-2           DESHOJE ESPECIAL(6)  LABORES CAMPO    HECTÁREA        36000
L3145-2           DESHOJE ESPECIAL(7)  LABORES CAMPO    HECTAREA        42000
L4145-2           DESHOJE ESPECIAL(8)  LABORES CAMPO    HECTAREA        48000
L5145-2           DESHOJE ESPECIAL(9)  LABORES CAMPO    HECTAREA        54000
L6145-2          DESHOJE ESPECIAL(10)  LABORES CAMPO    HECTAREA        60000

[567 rows x 4 columns]

In [34]:
# Insertamos una fila con valores nulos e indice 0
df.loc[0] = np.nan
df

3                      Nombre_Labores    Grupo_Labor Unidad_Pago Valor_Unidad
Codigo
A00                        NO TRABAJÓ        SIEMBRA                        0
A01      ABONO CON UREA FINCA PEDRITO  FERTILIZACION         UND         6000
A02                 ABONO CON POTASIO  FERTILIZACION         UND         5000
A03                     ABONO CON DAP  FERTILIZACION         UND         5000
A04       ABONO CON SULFATO DE AMONIO  FERTILIZACION         UND         5000
...                               ...            ...         ...          ...
L3145-2           DESHOJE ESPECIAL(7)  LABORES CAMPO    HECTAREA        42000
L4145-2           DESHOJE ESPECIAL(8)  LABORES CAMPO    HECTAREA        48000
L5145-2           DESHOJE ESPECIAL(9)  LABORES CAMPO    HECTAREA        54000
L6145-2          DESHOJE ESPECIAL(10)  LABORES CAMPO    HECTAREA        60000
0                                 NaN            NaN         NaN          NaN

[568 rows x 4 columns]

In [35]:
df.to_sql('labores', engine, if_exists='replace', index=True, index_label='Codigo')
# Set 'CODIGO LABORES' as the primary key
with engine.connect() as con:
    con.execute(text('ALTER TABLE labores ADD PRIMARY KEY ("Codigo");'))
    con.commit()

In [36]:
# guardar el dataframe en un archivo csv
df.to_csv('labores.csv')

# Excel Fincas a SQL

In [37]:
df = pd.read_excel('rdt.xlsx', sheet_name='Lotes')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Codigo Lote,Nombre Lote,Tamaño Area Neta,Tamaño Area Bruta,CODIGO FINCA,Finca,Propietario,Columna1
5,NaN,S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR
6,NaN,S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo,NaN
7,NaN,S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
8,NaN,S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo,NaN
9,NaN,S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo,NaN
10,NaN,S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo,NaN
11,NaN,S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo,NaN
12,NaN,S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
13,NaN,S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo,NaN
14,NaN,U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo,NaN
15,NaN,U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo,NaN
16,NaN,D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
17,NaN,D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
18,NaN,D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
19,NaN,D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
20,NaN,D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
21,NaN,D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
22,NaN,D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
23,NaN,D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
24,NaN,E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo,NaN
25,NaN,E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo,NaN
26,NaN,E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
27,NaN,E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
28,NaN,P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo,NaN
29,NaN,P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo,NaN
30,NaN,P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo,NaN
31,NaN,P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo,NaN
32,NaN,P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo,NaN
33,NaN,P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo,NaN
34,NaN,P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo,NaN
35,NaN,P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo,NaN
36,NaN,P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo,NaN
37,NaN,P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo,NaN
38,NaN,P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo,NaN
39,NaN,P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
40,NaN,PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo,NaN
41,NaN,PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo,NaN
42,NaN,PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo,NaN
43,NaN,PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo,NaN
44,NaN,PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo,NaN
45,NaN,PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo,NaN
46,NaN,PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo,NaN
47,NaN,PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo,NaN
48,NaN,PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo,NaN
49,NaN,PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo,NaN
50,NaN,PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
51,NaN,PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
52,NaN,PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA,NaN
53,NaN,PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO,NaN

In [38]:
# Eliminar las primeras 4 filas y eliminar la primera columna
df = df.iloc[4:,1:]
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
4,Codigo Lote,Nombre Lote,Tamaño Area Neta,Tamaño Area Bruta,CODIGO FINCA,Finca,Propietario,Columna1
5,S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR
6,S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo,NaN
7,S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
8,S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo,NaN
9,S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo,NaN
10,S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo,NaN
11,S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo,NaN
12,S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
13,S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo,NaN
14,U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo,NaN
15,U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo,NaN
16,D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
17,D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
18,D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
19,D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
20,D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
21,D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
22,D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
23,D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
24,E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo,NaN
25,E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo,NaN
26,E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
27,E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
28,P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo,NaN
29,P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo,NaN
30,P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo,NaN
31,P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo,NaN
32,P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo,NaN
33,P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo,NaN
34,P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo,NaN
35,P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo,NaN
36,P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo,NaN
37,P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo,NaN
38,P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo,NaN
39,P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
40,PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo,NaN
41,PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo,NaN
42,PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo,NaN
43,PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo,NaN
44,PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo,NaN
45,PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo,NaN
46,PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo,NaN
47,PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo,NaN
48,PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo,NaN
49,PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo,NaN
50,PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
51,PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
52,PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA,NaN
53,PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO,NaN

In [39]:
# tomar los valores de la primera fila como los nombres de las columnas y eliminar la primera fila
df.columns = df.iloc[0]
df = df.iloc[1:]
df

4,Codigo Lote,Nombre Lote,Tamaño Area Neta,Tamaño Area Bruta,CODIGO FINCA,Finca,Propietario,Columna1
5,S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR
6,S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo,NaN
7,S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
8,S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo,NaN
9,S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo,NaN
10,S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo,NaN
11,S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo,NaN
12,S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
13,S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo,NaN
14,U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo,NaN
15,U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo,NaN
16,D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
17,D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
18,D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
19,D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
20,D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
21,D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
22,D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
23,D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
24,E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo,NaN
25,E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo,NaN
26,E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
27,E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
28,P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo,NaN
29,P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo,NaN
30,P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo,NaN
31,P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo,NaN
32,P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo,NaN
33,P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo,NaN
34,P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo,NaN
35,P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo,NaN
36,P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo,NaN
37,P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo,NaN
38,P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo,NaN
39,P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
40,PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo,NaN
41,PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo,NaN
42,PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo,NaN
43,PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo,NaN
44,PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo,NaN
45,PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo,NaN
46,PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo,NaN
47,PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo,NaN
48,PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo,NaN
49,PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo,NaN
50,PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
51,PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
52,PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA,NaN
53,PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO,NaN

In [40]:
# Cambia el nombre de las columnas a titulo
df.columns = df.columns.str.title()
df

4,Codigo Lote,Nombre Lote,Tamaño Area Neta,Tamaño Area Bruta,Codigo Finca,Finca,Propietario,Columna1
5,S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR
6,S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo,NaN
7,S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
8,S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo,NaN
9,S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo,NaN
10,S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo,NaN
11,S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo,NaN
12,S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
13,S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo,NaN
14,U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo,NaN
15,U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo,NaN
16,D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
17,D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
18,D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
19,D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
20,D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
21,D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
22,D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
23,D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
24,E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo,NaN
25,E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo,NaN
26,E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
27,E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
28,P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo,NaN
29,P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo,NaN
30,P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo,NaN
31,P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo,NaN
32,P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo,NaN
33,P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo,NaN
34,P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo,NaN
35,P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo,NaN
36,P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo,NaN
37,P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo,NaN
38,P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo,NaN
39,P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
40,PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo,NaN
41,PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo,NaN
42,PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo,NaN
43,PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo,NaN
44,PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo,NaN
45,PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo,NaN
46,PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo,NaN
47,PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo,NaN
48,PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo,NaN
49,PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo,NaN
50,PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
51,PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
52,PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA,NaN
53,PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO,NaN

In [41]:
df.columns

Index(['Codigo Lote', 'Nombre Lote', 'Tamaño Area Neta', 'Tamaño Area Bruta',
       'Codigo Finca', 'Finca', 'Propietario', 'Columna1'],
      dtype='object', name=4)

In [42]:
# Cambiaremos el nombre de todas las columnas a uno que sea más fácil de escribir
nuevos_nombres = {'Codigo Lote':'Codigo',
                  'Nombre Lote':'Nombre_Lote',
                  'Tamaño Area Neta':'Area_Neta',
                  'Tamaño Area Bruta':'Area_Bruta',
                  'Codigo Finca':'Codigo_Finca',
                  'Finca':'Finca',
                  'Propietario':'Propietario'
                  }
df.rename(columns=nuevos_nombres, inplace=True)
df

/tmp/ipykernel_2985969/2149893063.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=nuevos_nombres, inplace=True)

4,Codigo,Nombre_Lote,Area_Neta,Area_Bruta,Codigo_Finca,Finca,Propietario,Columna1
5,S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR
6,S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo,NaN
7,S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
8,S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo,NaN
9,S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo,NaN
10,S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo,NaN
11,S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo,NaN
12,S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
13,S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo,NaN
14,U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo,NaN
15,U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo,NaN
16,D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
17,D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
18,D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
19,D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
20,D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
21,D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
22,D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
23,D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
24,E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo,NaN
25,E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo,NaN
26,E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
27,E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
28,P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo,NaN
29,P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo,NaN
30,P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo,NaN
31,P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo,NaN
32,P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo,NaN
33,P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo,NaN
34,P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo,NaN
35,P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo,NaN
36,P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo,NaN
37,P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo,NaN
38,P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo,NaN
39,P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
40,PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo,NaN
41,PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo,NaN
42,PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo,NaN
43,PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo,NaN
44,PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo,NaN
45,PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo,NaN
46,PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo,NaN
47,PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo,NaN
48,PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo,NaN
49,PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo,NaN
50,PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
51,PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
52,PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA,NaN
53,PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO,NaN

In [43]:
# Configura 'Codigo Finca' como índice
df = df.set_index('Codigo')
df

4,Nombre_Lote,Area_Neta,Area_Bruta,Codigo_Finca,Finca,Propietario,Columna1
Codigo,,,,,,,
S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR
S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo,NaN
U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo,NaN
U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo,NaN
D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo,NaN
E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo,NaN
E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo,NaN
P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo,NaN
P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo,NaN
P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo,NaN
P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo,NaN
P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo,NaN
P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo,NaN
P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo,NaN
P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo,NaN
P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo,NaN
P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo,NaN
P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo,NaN
PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo,NaN
PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo,NaN
PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo,NaN
PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo,NaN
PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo,NaN
PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo,NaN
PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo,NaN
PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo,NaN
PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo,NaN
PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA,NaN
PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO,NaN

In [44]:
# Elimina las columnas que estan despues de la columna 'Propietario'
df = df.iloc[:,:df.columns.get_loc('Propietario')+1]
df

4,Nombre_Lote,Area_Neta,Area_Bruta,Codigo_Finca,Finca,Propietario
Codigo,,,,,,
S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo
S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo
S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo
S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo
S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo
S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo
S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo
S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo
S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo
U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo
U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo
D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo
D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo
D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo
D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo
D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo
D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo
D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo
D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo
E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo
E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo
E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo
E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo
P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo
P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo
P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo
P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo
P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo
P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo
P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo
P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo
P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo
P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo
P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo
P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo
PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo
PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo
PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo
PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo
PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo
PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo
PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo
PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo
PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo
PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo
PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo
PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo
PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA
PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO

## Creamos dos bases de datos diferentes
### Una para las fincas y otra para los lotes

In [45]:
# Hacemos una copia del dataframe
df_temp = df.copy()
df_temp

4,Nombre_Lote,Area_Neta,Area_Bruta,Codigo_Finca,Finca,Propietario
Codigo,,,,,,
S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo
S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo
S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo
S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo
S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo
S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo
S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo
S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo
S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo
U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo
U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo
D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo
D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo
D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo
D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo
D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo
D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo
D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo
D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo
E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo
E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo
E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo
E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo
P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo
P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo
P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo
P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo
P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo
P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo
P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo
P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo
P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo
P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo
P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo
P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo
PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo
PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo
PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo
PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo
PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo
PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo
PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo
PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo
PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo
PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo
PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo
PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo
PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA
PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO

In [46]:
# Eliminamos las columnas que no queremos en la tabla
# solo queremos que queden las columnas 'Codigo_Finca', 'Finca', 'Propietario', 'Tamaño Area Neta', 'Tamaño Area Bruta'
new_df = df_temp.drop(['Nombre_Lote'], axis=1)
new_df

4      Area_Neta Area_Bruta Codigo_Finca       Finca     Propietario
Codigo
S01         5.43        NaN          S20   SAN PEDRO     Alex Angulo
S02         4.78        NaN          S20   SAN PEDRO     Alex Angulo
S03         4.48        NaN          S20   SAN PEDRO     Alex Angulo
S04         4.18        NaN          S20   SAN PEDRO     Alex Angulo
S05         4.38        NaN          S20   SAN PEDRO     Alex Angulo
S06         4.24        NaN          S20   SAN PEDRO     Alex Angulo
S07         5.55        NaN          S20   SAN PEDRO     Alex Angulo
S08         3.48        NaN          S20   SAN PEDRO     Alex Angulo
S09            4        NaN          S20   SAN PEDRO     Alex Angulo
U06            4        NaN          U21      UVEROS     Alex Angulo
U07            4        NaN          U21      UVEROS     Alex Angulo
D08          2.5        NaN          D22   DAMAQUIEL     Alex Angulo
D09            3        NaN          D22   DAMAQUIEL     Alex Angulo
D10            2        NaN          D22   DAMAQUIEL     Alex Angulo
D11            3        NaN          D22   DAMAQUIEL     Alex Angulo
D008        2.68        NaN          D22   DAMAQUIEL     Alex Angulo
D009        4.49        NaN          D22   DAMAQUIEL     Alex Angulo
D010        2.57        NaN          D22   DAMAQUIEL     Alex Angulo
D011        3.72        NaN          D22   DAMAQUIEL     Alex Angulo
E20          NaN        NaN          S20   SAN PEDRO     Alex Angulo
E21          NaN        NaN          U21      UVEROS     Alex Angulo
E22          NaN        NaN          D22   DAMAQUIEL     Alex Angulo
E23          NaN        NaN          P23     PEDRITO     Alex Angulo
P01         1.91       1.91          P23     PEDRITO     Alex Angulo
P02         1.17       1.17          P23     PEDRITO     Alex Angulo
P03         2.35       2.35          P23     PEDRITO     Alex Angulo
P04         1.97       1.97          P23     PEDRITO     Alex Angulo
P05          2.5        2.5          P23     PEDRITO     Alex Angulo
P06         3.75       3.75          P23     PEDRITO     Alex Angulo
P07         6.65       6.65          P23     PEDRITO     Alex Angulo
P08         3.86        4.8          P23     PEDRITO     Alex Angulo
P09         3.19       3.19          P23     PEDRITO     Alex Angulo
P10         0.65       2.65          P23     PEDRITO     Alex Angulo
P11          1.2        NaN          P23     PEDRITO     Alex Angulo
P12          NaN        NaN          P23     PEDRITO     Alex Angulo
PE01        4.63       4.63         PE23     PEDRITO     Alex Angulo
PE02        2.28       2.28         PE23     PEDRITO     Alex Angulo
PE03        2.67       2.67         PE23     PEDRITO     Alex Angulo
PE04        1.52       1.52         PE23     PEDRITO     Alex Angulo
PE05        2.36       2.36         PE23     PEDRITO     Alex Angulo
PE06        3.36       3.36         PE23     PEDRITO     Alex Angulo
PE07        4.06       4.06         PE23     PEDRITO     Alex Angulo
PE08         2.9        2.9         PE23     PEDRITO     Alex Angulo
PE09        3.68       3.68         PE23     PEDRITO     Alex Angulo
PE10        1.98          2         PE23     PEDRITO     Alex Angulo
PE11         NaN        NaN         PE23     PEDRITO     Alex Angulo
PE12         NaN        NaN         PE23     PEDRITO     Alex Angulo
PE13           6          4         PE23  LAS MARIAS  ROSARIO MARIA
PE14         6.5        6.5         PE23     PEDRITO  NICOLAS ANGULO

In [47]:
# Colocamos como indice la columna 'Codigo_Finca'
new_df = new_df.set_index('Codigo_Finca')
# Eliminar las filas que tengan valores repetidos en el indice
new_df = new_df[~new_df.index.duplicated(keep='first')]
new_df

4            Area_Neta Area_Bruta      Finca  Propietario
Codigo_Finca
S20               5.43        NaN  SAN PEDRO  Alex Angulo
U21                  4        NaN     UVEROS  Alex Angulo
D22                2.5        NaN  DAMAQUIEL  Alex Angulo
P23                NaN        NaN    PEDRITO  Alex Angulo
PE23              4.63       4.63    PEDRITO  Alex Angulo

In [48]:
# Insertamos una fila con valores nulos e indice 0
new_df.loc[0] = np.nan
new_df

4            Area_Neta Area_Bruta      Finca  Propietario
Codigo_Finca
S20               5.43        NaN  SAN PEDRO  Alex Angulo
U21                  4        NaN     UVEROS  Alex Angulo
D22                2.5        NaN  DAMAQUIEL  Alex Angulo
P23                NaN        NaN    PEDRITO  Alex Angulo
PE23              4.63       4.63    PEDRITO  Alex Angulo
0                  NaN        NaN        NaN          NaN

In [49]:
# Eliminamos las columnas Area_Neta y Area_Bruta
new_df = new_df.drop(['Area_Neta', 'Area_Bruta'], axis=1)
new_df

4                 Finca  Propietario
Codigo_Finca
S20           SAN PEDRO  Alex Angulo
U21              UVEROS  Alex Angulo
D22           DAMAQUIEL  Alex Angulo
P23             PEDRITO  Alex Angulo
PE23            PEDRITO  Alex Angulo
0                   NaN          NaN

In [50]:
# Pasaremos el dataframe a la base de datos
new_df.to_sql('finca', engine, if_exists='replace', index=True, index_label='Codigo')
# Colocamos 'Codigo' como la llave primaria
with engine.connect() as con:
    con.execute(text('ALTER TABLE finca ADD PRIMARY KEY ("Codigo");'))
    con.commit()

In [51]:
# guardar el dataframe en un archivo csv
new_df.to_csv('finca.csv')

### Creamos la tabla de lotes

In [52]:
df

4,Nombre_Lote,Area_Neta,Area_Bruta,Codigo_Finca,Finca,Propietario
Codigo,,,,,,
S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo
S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo
S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo
S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo
S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo
S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo
S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo
S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo
S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo
U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo
U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo
D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo
D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo
D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo
D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo
D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo
D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo
D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo
D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo
E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo
E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo
E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo
E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo
P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo
P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo
P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo
P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo
P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo
P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo
P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo
P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo
P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo
P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo
P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo
P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo
PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo
PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo
PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo
PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo
PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo
PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo
PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo
PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo
PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo
PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo
PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo
PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo
PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA
PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO

In [53]:
# Insertamos una fila con valores nulos y en la columna 'Codigo' un 0
df.loc[0] = np.nan
df.at[0, 'Codigo'] = 0
df

4,Nombre_Lote,Area_Neta,Area_Bruta,Codigo_Finca,Finca,Propietario,Codigo
Codigo,,,,,,,
S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo,NaN
S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo,NaN
U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo,NaN
U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo,NaN
D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo,NaN
E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo,NaN
E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo,NaN
E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo,NaN
P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo,NaN
P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo,NaN
P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo,NaN
P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo,NaN
P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo,NaN
P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo,NaN
P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo,NaN
P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo,NaN
P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo,NaN
P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo,NaN
P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo,NaN
PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo,NaN
PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo,NaN
PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo,NaN
PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo,NaN
PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo,NaN
PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo,NaN
PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo,NaN
PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo,NaN
PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo,NaN
PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo,NaN
PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo,NaN
PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA,NaN
PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [54]:
# Removemos la ultima columna
df = df.iloc[:,:-1]
df

4,Nombre_Lote,Area_Neta,Area_Bruta,Codigo_Finca,Finca,Propietario
Codigo,,,,,,
S01,LOTE 01,5.43,NaN,S20,SAN PEDRO,Alex Angulo
S02,LOTE 02,4.78,NaN,S20,SAN PEDRO,Alex Angulo
S03,LOTE 03,4.48,NaN,S20,SAN PEDRO,Alex Angulo
S04,LOTE 04,4.18,NaN,S20,SAN PEDRO,Alex Angulo
S05,LOTE 05,4.38,NaN,S20,SAN PEDRO,Alex Angulo
S06,LOTE 06,4.24,NaN,S20,SAN PEDRO,Alex Angulo
S07,LOTE 08,5.55,NaN,S20,SAN PEDRO,Alex Angulo
S08,LOTE 09,3.48,NaN,S20,SAN PEDRO,Alex Angulo
S09,LOTE 09,4,NaN,S20,SAN PEDRO,Alex Angulo
U06,LOTE 10,4,NaN,U21,UVEROS,Alex Angulo
U07,LOTE 11,4,NaN,U21,UVEROS,Alex Angulo
D08,LOTE 12,2.5,NaN,D22,DAMAQUIEL,Alex Angulo
D09,LOTE 13,3,NaN,D22,DAMAQUIEL,Alex Angulo
D10,LOTE 14,2,NaN,D22,DAMAQUIEL,Alex Angulo
D11,LOTE 15,3,NaN,D22,DAMAQUIEL,Alex Angulo
D008,NaN,2.68,NaN,D22,DAMAQUIEL,Alex Angulo
D009,NaN,4.49,NaN,D22,DAMAQUIEL,Alex Angulo
D010,NaN,2.57,NaN,D22,DAMAQUIEL,Alex Angulo
D011,NaN,3.72,NaN,D22,DAMAQUIEL,Alex Angulo
E20,EMP SAN PEDRO,NaN,NaN,S20,SAN PEDRO,Alex Angulo
E21,EMP UVERO,NaN,NaN,U21,UVEROS,Alex Angulo
E22,EMP DAMAQUIEL,NaN,NaN,D22,DAMAQUIEL,Alex Angulo
E23,EMP BOSQUECITO,NaN,NaN,P23,PEDRITO,Alex Angulo
P01,LOTE 16,1.91,1.91,P23,PEDRITO,Alex Angulo
P02,LOTE 17,1.17,1.17,P23,PEDRITO,Alex Angulo
P03,LOTE 18,2.35,2.35,P23,PEDRITO,Alex Angulo
P04,LOTE 19,1.97,1.97,P23,PEDRITO,Alex Angulo
P05,LOTE 20,2.5,2.5,P23,PEDRITO,Alex Angulo
P06,LOTE 21,3.75,3.75,P23,PEDRITO,Alex Angulo
P07,LOTE 22,6.65,6.65,P23,PEDRITO,Alex Angulo
P08,LOTE 23,3.86,4.8,P23,PEDRITO,Alex Angulo
P09,LOTE 24,3.19,3.19,P23,PEDRITO,Alex Angulo
P10,LOTE 25,0.65,2.65,P23,PEDRITO,Alex Angulo
P11,LOTE 26,1.2,NaN,P23,PEDRITO,Alex Angulo
P12,LOTE 27,NaN,NaN,P23,PEDRITO,Alex Angulo
PE01,LOTE 16,4.63,4.63,PE23,PEDRITO,Alex Angulo
PE02,LOTE 17,2.28,2.28,PE23,PEDRITO,Alex Angulo
PE03,LOTE 18,2.67,2.67,PE23,PEDRITO,Alex Angulo
PE04,LOTE 19,1.52,1.52,PE23,PEDRITO,Alex Angulo
PE05,LOTE 20,2.36,2.36,PE23,PEDRITO,Alex Angulo
PE06,LOTE 21,3.36,3.36,PE23,PEDRITO,Alex Angulo
PE07,LOTE 22,4.06,4.06,PE23,PEDRITO,Alex Angulo
PE08,LOTE 23,2.9,2.9,PE23,PEDRITO,Alex Angulo
PE09,LOTE 24,3.68,3.68,PE23,PEDRITO,Alex Angulo
PE10,LOTE 25,1.98,2,PE23,PEDRITO,Alex Angulo
PE11,LOTE 26,NaN,NaN,PE23,PEDRITO,Alex Angulo
PE12,LOTE 27,NaN,NaN,PE23,PEDRITO,Alex Angulo
PE13,LOTE 28,6,4,PE23,LAS MARIAS,ROSARIO MARIA
PE14,LOTE 29,6.5,6.5,PE23,PEDRITO,NICOLAS ANGULO
0,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Configura 'Codigo Finca' como índice
# Configura 'Tamaño Area Neta' y 'Tamaño Area Bruta' como float
df.to_sql('lotes', engine, if_exists='replace', index=True, index_label='Codigo', dtype={'Area_Neta': db.types.FLOAT(), 'Area_Bruta': db.types.FLOAT()})
# Configura 'Codigo lote' como la llave primaria
with engine.connect() as con:
    con.execute(text('ALTER TABLE lotes ADD PRIMARY KEY ("Codigo");'))
    con.commit()        
# Agrega una llave foranea a la tabla 'lotes' que apunte a la tabla 'finca'
with engine.connect() as con:
    con.execute(text('ALTER TABLE lotes ADD FOREIGN KEY ("Codigo_Finca") REFERENCES finca ("Codigo");'))
    con.commit()

In [56]:
# guardar el dataframe en un archivo csv
df.to_csv('lotes.csv')

# Excel Insumos a SQL

In [57]:
df = pd.read_excel('rdt.xlsx', sheet_name='Insumos')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,NaN,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
6,NaN,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
7,NaN,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
8,NaN,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
9,NaN,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
10,NaN,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
11,NaN,I06,PARACUAT,ML,PARAXONE-DESTIERRO-ARPON(125+125+4CC)
12,NaN,I07,GLIFOSATO,ML,PANZER-DESTIERRO-TRILLA- (200ML)ARPON (4CC)N.D...
13,NaN,I08,PARACUAT,ML,AMETRINA-DESTIERRO-ARPON-(100-150ML-4CC)
14,NaN,I09,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (150+150+4CC+4...
15,NaN,I10,Bolsa de Campo,ROLLO,NaN
16,NaN,I11,AFOL-MANCOZED-ARPON,ML,"AFOL-MANCOZEP-ARPON (1,5-0,500X BOMBA-30CC)"
17,NaN,I12,DAP,SACO,DAP (60 GRS)
18,NaN,I13,Mertec,CC,MERTEC
19,NaN,I14,PARACUAT,ML,PARAXONE-AMETRINA-ARPON(150+100+4CC)
20,NaN,I15,PARACUAT,ML,PARAXONE-AMETRINA-TRILLA-ARPON(150+100+20+4CC)
21,NaN,I16,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (130+130+4CC+2...
22,NaN,I17,AFOL-MANCOZED-SPRAYFIX,ML,"AFOL-MANCOZEP-SPRAYFIX (4 LTS+16,500 + 100 CC ..."
23,NaN,I18,PARACUAT,ML,CERRERO - AMETRINA-POTENZOL+TRILLA (130+130+10...
24,NaN,I19,CONTROL SIGATOCA,BOMBA MOTOR,AFOL-MANCOZED-TECNOSIL-POTENZOL(100 MLXBOMBA+0...
25,NaN,I20,GLUFOSINATO DE AMONIO,ML,DESTIERRO-AMETRINA-POTENZOL(150+150+10CC)
26,NaN,I21,UREA,SACO,Urea
27,NaN,I22,GLUFOSINATO DE AMONIO,ML,(150 ML X BOMBA)
28,NaN,I23,POTASIO,SACO,CLORURO DE POTASIO (60 GRS)
29,NaN,I24,PARACUAT,ML,CERRERO (150 ML X BOMBA)
30,NaN,I25,TIERRA DIATOMEAS(SILICIO),SACO,TIERRA DIATOMEAS (SILICIO) 30 GRS
31,NaN,I26,POTASIO,SACO,POTASIO (60 GRS)
32,NaN,I27,HUMUS,LTS,LOMBRILIT 30 ML
33,NaN,I28,BORO ZINCO,SACO,BORO ZINCO
34,NaN,I29,GLYFOSATO,ML,PANZER 120 ML X BOMBA
35,NaN,I30,PARACUAT,ML,AMETRINA-GRAMAFIN-POTENZOL-(150-150ML-10CC)
36,NaN,I31,CONTROL FOLIAR,BOMBA MOTOR,DITHANE -B-ZUCAR- ELEMENTOS MENORES- COABYUDANTE
37,NaN,I32,CIPERMETRINA,ML,CIPERMETRINA
38,NaN,I33,AMETRINA,ML,AMETRINA 150
39,NaN,I34,GLUFOSINATO DE AMONIO,ML,EVOSTAR+TRILLA+POTENZOL (120+150+10)X BOMBA DE...
40,NaN,I35,SULFATO DE AMONIO,SACO,SULFATO DE AMONIO
41,NaN,I36,GLUFOSINATO DE AMONIO,ML,EVOSTAR+PROFIURON+POTENZOL (120+150+10)X BOMBA...
42,NaN,I37,GLYFOSATO,ML,PANZER-AMETRINA-SPRAYFIT(120+150+4CC) X BOMBA ...
43,NaN,I38,PARACUAT,ML,AMETRINA-GRAMAFIN-SPRAYFIT-(150-150ML-4CC)
44,NaN,I39,FOLIAR,BOMBA MOTOR,TECNOSIL--KUMULUS-SOLUTEC PRODUCCION-SPRAYFIT-...

In [58]:
# Eliminar las primeras 5 filas y eliminar la primera columna
df = df.iloc[5:,1:]
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
5,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
6,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
7,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
8,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
9,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
10,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
11,I06,PARACUAT,ML,PARAXONE-DESTIERRO-ARPON(125+125+4CC)
12,I07,GLIFOSATO,ML,PANZER-DESTIERRO-TRILLA- (200ML)ARPON (4CC)N.D...
13,I08,PARACUAT,ML,AMETRINA-DESTIERRO-ARPON-(100-150ML-4CC)
14,I09,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (150+150+4CC+4...
15,I10,Bolsa de Campo,ROLLO,NaN
16,I11,AFOL-MANCOZED-ARPON,ML,"AFOL-MANCOZEP-ARPON (1,5-0,500X BOMBA-30CC)"
17,I12,DAP,SACO,DAP (60 GRS)
18,I13,Mertec,CC,MERTEC
19,I14,PARACUAT,ML,PARAXONE-AMETRINA-ARPON(150+100+4CC)
20,I15,PARACUAT,ML,PARAXONE-AMETRINA-TRILLA-ARPON(150+100+20+4CC)
21,I16,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (130+130+4CC+2...
22,I17,AFOL-MANCOZED-SPRAYFIX,ML,"AFOL-MANCOZEP-SPRAYFIX (4 LTS+16,500 + 100 CC ..."
23,I18,PARACUAT,ML,CERRERO - AMETRINA-POTENZOL+TRILLA (130+130+10...
24,I19,CONTROL SIGATOCA,BOMBA MOTOR,AFOL-MANCOZED-TECNOSIL-POTENZOL(100 MLXBOMBA+0...
25,I20,GLUFOSINATO DE AMONIO,ML,DESTIERRO-AMETRINA-POTENZOL(150+150+10CC)
26,I21,UREA,SACO,Urea
27,I22,GLUFOSINATO DE AMONIO,ML,(150 ML X BOMBA)
28,I23,POTASIO,SACO,CLORURO DE POTASIO (60 GRS)
29,I24,PARACUAT,ML,CERRERO (150 ML X BOMBA)
30,I25,TIERRA DIATOMEAS(SILICIO),SACO,TIERRA DIATOMEAS (SILICIO) 30 GRS
31,I26,POTASIO,SACO,POTASIO (60 GRS)
32,I27,HUMUS,LTS,LOMBRILIT 30 ML
33,I28,BORO ZINCO,SACO,BORO ZINCO
34,I29,GLYFOSATO,ML,PANZER 120 ML X BOMBA
35,I30,PARACUAT,ML,AMETRINA-GRAMAFIN-POTENZOL-(150-150ML-10CC)
36,I31,CONTROL FOLIAR,BOMBA MOTOR,DITHANE -B-ZUCAR- ELEMENTOS MENORES- COABYUDANTE
37,I32,CIPERMETRINA,ML,CIPERMETRINA
38,I33,AMETRINA,ML,AMETRINA 150
39,I34,GLUFOSINATO DE AMONIO,ML,EVOSTAR+TRILLA+POTENZOL (120+150+10)X BOMBA DE...
40,I35,SULFATO DE AMONIO,SACO,SULFATO DE AMONIO
41,I36,GLUFOSINATO DE AMONIO,ML,EVOSTAR+PROFIURON+POTENZOL (120+150+10)X BOMBA...
42,I37,GLYFOSATO,ML,PANZER-AMETRINA-SPRAYFIT(120+150+4CC) X BOMBA ...
43,I38,PARACUAT,ML,AMETRINA-GRAMAFIN-SPRAYFIT-(150-150ML-4CC)
44,I39,FOLIAR,BOMBA MOTOR,TECNOSIL--KUMULUS-SOLUTEC PRODUCCION-SPRAYFIT-...

In [59]:
# tomar los valores de la primera fila como los nombres de las columnas y eliminar la primera fila
df.columns = df.iloc[0]
df = df.iloc[1:]
df

5,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
6,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
7,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
8,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
9,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
10,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
11,I06,PARACUAT,ML,PARAXONE-DESTIERRO-ARPON(125+125+4CC)
12,I07,GLIFOSATO,ML,PANZER-DESTIERRO-TRILLA- (200ML)ARPON (4CC)N.D...
13,I08,PARACUAT,ML,AMETRINA-DESTIERRO-ARPON-(100-150ML-4CC)
14,I09,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (150+150+4CC+4...
15,I10,Bolsa de Campo,ROLLO,NaN
16,I11,AFOL-MANCOZED-ARPON,ML,"AFOL-MANCOZEP-ARPON (1,5-0,500X BOMBA-30CC)"
17,I12,DAP,SACO,DAP (60 GRS)
18,I13,Mertec,CC,MERTEC
19,I14,PARACUAT,ML,PARAXONE-AMETRINA-ARPON(150+100+4CC)
20,I15,PARACUAT,ML,PARAXONE-AMETRINA-TRILLA-ARPON(150+100+20+4CC)
21,I16,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (130+130+4CC+2...
22,I17,AFOL-MANCOZED-SPRAYFIX,ML,"AFOL-MANCOZEP-SPRAYFIX (4 LTS+16,500 + 100 CC ..."
23,I18,PARACUAT,ML,CERRERO - AMETRINA-POTENZOL+TRILLA (130+130+10...
24,I19,CONTROL SIGATOCA,BOMBA MOTOR,AFOL-MANCOZED-TECNOSIL-POTENZOL(100 MLXBOMBA+0...
25,I20,GLUFOSINATO DE AMONIO,ML,DESTIERRO-AMETRINA-POTENZOL(150+150+10CC)
26,I21,UREA,SACO,Urea
27,I22,GLUFOSINATO DE AMONIO,ML,(150 ML X BOMBA)
28,I23,POTASIO,SACO,CLORURO DE POTASIO (60 GRS)
29,I24,PARACUAT,ML,CERRERO (150 ML X BOMBA)
30,I25,TIERRA DIATOMEAS(SILICIO),SACO,TIERRA DIATOMEAS (SILICIO) 30 GRS
31,I26,POTASIO,SACO,POTASIO (60 GRS)
32,I27,HUMUS,LTS,LOMBRILIT 30 ML
33,I28,BORO ZINCO,SACO,BORO ZINCO
34,I29,GLYFOSATO,ML,PANZER 120 ML X BOMBA
35,I30,PARACUAT,ML,AMETRINA-GRAMAFIN-POTENZOL-(150-150ML-10CC)
36,I31,CONTROL FOLIAR,BOMBA MOTOR,DITHANE -B-ZUCAR- ELEMENTOS MENORES- COABYUDANTE
37,I32,CIPERMETRINA,ML,CIPERMETRINA
38,I33,AMETRINA,ML,AMETRINA 150
39,I34,GLUFOSINATO DE AMONIO,ML,EVOSTAR+TRILLA+POTENZOL (120+150+10)X BOMBA DE...
40,I35,SULFATO DE AMONIO,SACO,SULFATO DE AMONIO
41,I36,GLUFOSINATO DE AMONIO,ML,EVOSTAR+PROFIURON+POTENZOL (120+150+10)X BOMBA...
42,I37,GLYFOSATO,ML,PANZER-AMETRINA-SPRAYFIT(120+150+4CC) X BOMBA ...
43,I38,PARACUAT,ML,AMETRINA-GRAMAFIN-SPRAYFIT-(150-150ML-4CC)
44,I39,FOLIAR,BOMBA MOTOR,TECNOSIL--KUMULUS-SOLUTEC PRODUCCION-SPRAYFIT-...

In [60]:
# Renombramos las columnas con su primera letra en mayuscula
df.columns = df.columns.str.title()
df

5,Codigo Productos,Nombre Productos,Unidad De Medida,Composicion
6,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
7,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
8,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
9,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
10,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
11,I06,PARACUAT,ML,PARAXONE-DESTIERRO-ARPON(125+125+4CC)
12,I07,GLIFOSATO,ML,PANZER-DESTIERRO-TRILLA- (200ML)ARPON (4CC)N.D...
13,I08,PARACUAT,ML,AMETRINA-DESTIERRO-ARPON-(100-150ML-4CC)
14,I09,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (150+150+4CC+4...
15,I10,Bolsa de Campo,ROLLO,NaN
16,I11,AFOL-MANCOZED-ARPON,ML,"AFOL-MANCOZEP-ARPON (1,5-0,500X BOMBA-30CC)"
17,I12,DAP,SACO,DAP (60 GRS)
18,I13,Mertec,CC,MERTEC
19,I14,PARACUAT,ML,PARAXONE-AMETRINA-ARPON(150+100+4CC)
20,I15,PARACUAT,ML,PARAXONE-AMETRINA-TRILLA-ARPON(150+100+20+4CC)
21,I16,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (130+130+4CC+2...
22,I17,AFOL-MANCOZED-SPRAYFIX,ML,"AFOL-MANCOZEP-SPRAYFIX (4 LTS+16,500 + 100 CC ..."
23,I18,PARACUAT,ML,CERRERO - AMETRINA-POTENZOL+TRILLA (130+130+10...
24,I19,CONTROL SIGATOCA,BOMBA MOTOR,AFOL-MANCOZED-TECNOSIL-POTENZOL(100 MLXBOMBA+0...
25,I20,GLUFOSINATO DE AMONIO,ML,DESTIERRO-AMETRINA-POTENZOL(150+150+10CC)
26,I21,UREA,SACO,Urea
27,I22,GLUFOSINATO DE AMONIO,ML,(150 ML X BOMBA)
28,I23,POTASIO,SACO,CLORURO DE POTASIO (60 GRS)
29,I24,PARACUAT,ML,CERRERO (150 ML X BOMBA)
30,I25,TIERRA DIATOMEAS(SILICIO),SACO,TIERRA DIATOMEAS (SILICIO) 30 GRS
31,I26,POTASIO,SACO,POTASIO (60 GRS)
32,I27,HUMUS,LTS,LOMBRILIT 30 ML
33,I28,BORO ZINCO,SACO,BORO ZINCO
34,I29,GLYFOSATO,ML,PANZER 120 ML X BOMBA
35,I30,PARACUAT,ML,AMETRINA-GRAMAFIN-POTENZOL-(150-150ML-10CC)
36,I31,CONTROL FOLIAR,BOMBA MOTOR,DITHANE -B-ZUCAR- ELEMENTOS MENORES- COABYUDANTE
37,I32,CIPERMETRINA,ML,CIPERMETRINA
38,I33,AMETRINA,ML,AMETRINA 150
39,I34,GLUFOSINATO DE AMONIO,ML,EVOSTAR+TRILLA+POTENZOL (120+150+10)X BOMBA DE...
40,I35,SULFATO DE AMONIO,SACO,SULFATO DE AMONIO
41,I36,GLUFOSINATO DE AMONIO,ML,EVOSTAR+PROFIURON+POTENZOL (120+150+10)X BOMBA...
42,I37,GLYFOSATO,ML,PANZER-AMETRINA-SPRAYFIT(120+150+4CC) X BOMBA ...
43,I38,PARACUAT,ML,AMETRINA-GRAMAFIN-SPRAYFIT-(150-150ML-4CC)
44,I39,FOLIAR,BOMBA MOTOR,TECNOSIL--KUMULUS-SOLUTEC PRODUCCION-SPRAYFIT-...

In [61]:
df.columns

Index(['Codigo Productos', 'Nombre Productos', 'Unidad De Medida',
       'Composicion'],
      dtype='object', name=5)

In [62]:
# Cambiaremos el nombre de todas las columnas a uno que sea más fácil de escribir
nuevos_nombres = {'Codigo Productos':'Codigo_Producto',
                  'Nombre Productos':'Nombre_Producto',
                  'Unidad De Medida':'Unidad_Medida',
                  'Composicion':'Composicion'}
df.rename(columns=nuevos_nombres, inplace=True)
df

/tmp/ipykernel_2985969/1458329593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=nuevos_nombres, inplace=True)

5,Codigo_Producto,Nombre_Producto,Unidad_Medida,Composicion
6,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
7,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
8,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
9,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
10,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
11,I06,PARACUAT,ML,PARAXONE-DESTIERRO-ARPON(125+125+4CC)
12,I07,GLIFOSATO,ML,PANZER-DESTIERRO-TRILLA- (200ML)ARPON (4CC)N.D...
13,I08,PARACUAT,ML,AMETRINA-DESTIERRO-ARPON-(100-150ML-4CC)
14,I09,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (150+150+4CC+4...
15,I10,Bolsa de Campo,ROLLO,NaN
16,I11,AFOL-MANCOZED-ARPON,ML,"AFOL-MANCOZEP-ARPON (1,5-0,500X BOMBA-30CC)"
17,I12,DAP,SACO,DAP (60 GRS)
18,I13,Mertec,CC,MERTEC
19,I14,PARACUAT,ML,PARAXONE-AMETRINA-ARPON(150+100+4CC)
20,I15,PARACUAT,ML,PARAXONE-AMETRINA-TRILLA-ARPON(150+100+20+4CC)
21,I16,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (130+130+4CC+2...
22,I17,AFOL-MANCOZED-SPRAYFIX,ML,"AFOL-MANCOZEP-SPRAYFIX (4 LTS+16,500 + 100 CC ..."
23,I18,PARACUAT,ML,CERRERO - AMETRINA-POTENZOL+TRILLA (130+130+10...
24,I19,CONTROL SIGATOCA,BOMBA MOTOR,AFOL-MANCOZED-TECNOSIL-POTENZOL(100 MLXBOMBA+0...
25,I20,GLUFOSINATO DE AMONIO,ML,DESTIERRO-AMETRINA-POTENZOL(150+150+10CC)
26,I21,UREA,SACO,Urea
27,I22,GLUFOSINATO DE AMONIO,ML,(150 ML X BOMBA)
28,I23,POTASIO,SACO,CLORURO DE POTASIO (60 GRS)
29,I24,PARACUAT,ML,CERRERO (150 ML X BOMBA)
30,I25,TIERRA DIATOMEAS(SILICIO),SACO,TIERRA DIATOMEAS (SILICIO) 30 GRS
31,I26,POTASIO,SACO,POTASIO (60 GRS)
32,I27,HUMUS,LTS,LOMBRILIT 30 ML
33,I28,BORO ZINCO,SACO,BORO ZINCO
34,I29,GLYFOSATO,ML,PANZER 120 ML X BOMBA
35,I30,PARACUAT,ML,AMETRINA-GRAMAFIN-POTENZOL-(150-150ML-10CC)
36,I31,CONTROL FOLIAR,BOMBA MOTOR,DITHANE -B-ZUCAR- ELEMENTOS MENORES- COABYUDANTE
37,I32,CIPERMETRINA,ML,CIPERMETRINA
38,I33,AMETRINA,ML,AMETRINA 150
39,I34,GLUFOSINATO DE AMONIO,ML,EVOSTAR+TRILLA+POTENZOL (120+150+10)X BOMBA DE...
40,I35,SULFATO DE AMONIO,SACO,SULFATO DE AMONIO
41,I36,GLUFOSINATO DE AMONIO,ML,EVOSTAR+PROFIURON+POTENZOL (120+150+10)X BOMBA...
42,I37,GLYFOSATO,ML,PANZER-AMETRINA-SPRAYFIT(120+150+4CC) X BOMBA ...
43,I38,PARACUAT,ML,AMETRINA-GRAMAFIN-SPRAYFIT-(150-150ML-4CC)
44,I39,FOLIAR,BOMBA MOTOR,TECNOSIL--KUMULUS-SOLUTEC PRODUCCION-SPRAYFIT-...

In [63]:
# Configura 'Codigo_Producto' como índice
df = df.set_index('Codigo_Producto')
df

5,Nombre_Producto,Unidad_Medida,Composicion
Codigo_Producto,,,
I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
I06,PARACUAT,ML,PARAXONE-DESTIERRO-ARPON(125+125+4CC)
I07,GLIFOSATO,ML,PANZER-DESTIERRO-TRILLA- (200ML)ARPON (4CC)N.D...
I08,PARACUAT,ML,AMETRINA-DESTIERRO-ARPON-(100-150ML-4CC)
I09,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (150+150+4CC+4...
I10,Bolsa de Campo,ROLLO,NaN
I11,AFOL-MANCOZED-ARPON,ML,"AFOL-MANCOZEP-ARPON (1,5-0,500X BOMBA-30CC)"
I12,DAP,SACO,DAP (60 GRS)
I13,Mertec,CC,MERTEC
I14,PARACUAT,ML,PARAXONE-AMETRINA-ARPON(150+100+4CC)
I15,PARACUAT,ML,PARAXONE-AMETRINA-TRILLA-ARPON(150+100+20+4CC)
I16,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (130+130+4CC+2...
I17,AFOL-MANCOZED-SPRAYFIX,ML,"AFOL-MANCOZEP-SPRAYFIX (4 LTS+16,500 + 100 CC ..."
I18,PARACUAT,ML,CERRERO - AMETRINA-POTENZOL+TRILLA (130+130+10...
I19,CONTROL SIGATOCA,BOMBA MOTOR,AFOL-MANCOZED-TECNOSIL-POTENZOL(100 MLXBOMBA+0...
I20,GLUFOSINATO DE AMONIO,ML,DESTIERRO-AMETRINA-POTENZOL(150+150+10CC)
I21,UREA,SACO,Urea
I22,GLUFOSINATO DE AMONIO,ML,(150 ML X BOMBA)
I23,POTASIO,SACO,CLORURO DE POTASIO (60 GRS)
I24,PARACUAT,ML,CERRERO (150 ML X BOMBA)
I25,TIERRA DIATOMEAS(SILICIO),SACO,TIERRA DIATOMEAS (SILICIO) 30 GRS
I26,POTASIO,SACO,POTASIO (60 GRS)
I27,HUMUS,LTS,LOMBRILIT 30 ML
I28,BORO ZINCO,SACO,BORO ZINCO
I29,GLYFOSATO,ML,PANZER 120 ML X BOMBA
I30,PARACUAT,ML,AMETRINA-GRAMAFIN-POTENZOL-(150-150ML-10CC)
I31,CONTROL FOLIAR,BOMBA MOTOR,DITHANE -B-ZUCAR- ELEMENTOS MENORES- COABYUDANTE
I32,CIPERMETRINA,ML,CIPERMETRINA
I33,AMETRINA,ML,AMETRINA 150
I34,GLUFOSINATO DE AMONIO,ML,EVOSTAR+TRILLA+POTENZOL (120+150+10)X BOMBA DE...
I35,SULFATO DE AMONIO,SACO,SULFATO DE AMONIO
I36,GLUFOSINATO DE AMONIO,ML,EVOSTAR+PROFIURON+POTENZOL (120+150+10)X BOMBA...
I37,GLYFOSATO,ML,PANZER-AMETRINA-SPRAYFIT(120+150+4CC) X BOMBA ...
I38,PARACUAT,ML,AMETRINA-GRAMAFIN-SPRAYFIT-(150-150ML-4CC)
I39,FOLIAR,BOMBA MOTOR,TECNOSIL--KUMULUS-SOLUTEC PRODUCCION-SPRAYFIT-...

In [64]:
# Insertamos una fila con valores nulos e indice 0
df.loc[0] = np.nan
df

5,Nombre_Producto,Unidad_Medida,Composicion
Codigo_Producto,,,
I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
I06,PARACUAT,ML,PARAXONE-DESTIERRO-ARPON(125+125+4CC)
I07,GLIFOSATO,ML,PANZER-DESTIERRO-TRILLA- (200ML)ARPON (4CC)N.D...
I08,PARACUAT,ML,AMETRINA-DESTIERRO-ARPON-(100-150ML-4CC)
I09,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (150+150+4CC+4...
I10,Bolsa de Campo,ROLLO,NaN
I11,AFOL-MANCOZED-ARPON,ML,"AFOL-MANCOZEP-ARPON (1,5-0,500X BOMBA-30CC)"
I12,DAP,SACO,DAP (60 GRS)
I13,Mertec,CC,MERTEC
I14,PARACUAT,ML,PARAXONE-AMETRINA-ARPON(150+100+4CC)
I15,PARACUAT,ML,PARAXONE-AMETRINA-TRILLA-ARPON(150+100+20+4CC)
I16,PARACUAT,ML,CERRERO - AMETRINA-ARPON+TRILLA (130+130+4CC+2...
I17,AFOL-MANCOZED-SPRAYFIX,ML,"AFOL-MANCOZEP-SPRAYFIX (4 LTS+16,500 + 100 CC ..."
I18,PARACUAT,ML,CERRERO - AMETRINA-POTENZOL+TRILLA (130+130+10...
I19,CONTROL SIGATOCA,BOMBA MOTOR,AFOL-MANCOZED-TECNOSIL-POTENZOL(100 MLXBOMBA+0...
I20,GLUFOSINATO DE AMONIO,ML,DESTIERRO-AMETRINA-POTENZOL(150+150+10CC)
I21,UREA,SACO,Urea
I22,GLUFOSINATO DE AMONIO,ML,(150 ML X BOMBA)
I23,POTASIO,SACO,CLORURO DE POTASIO (60 GRS)
I24,PARACUAT,ML,CERRERO (150 ML X BOMBA)
I25,TIERRA DIATOMEAS(SILICIO),SACO,TIERRA DIATOMEAS (SILICIO) 30 GRS
I26,POTASIO,SACO,POTASIO (60 GRS)
I27,HUMUS,LTS,LOMBRILIT 30 ML
I28,BORO ZINCO,SACO,BORO ZINCO
I29,GLYFOSATO,ML,PANZER 120 ML X BOMBA
I30,PARACUAT,ML,AMETRINA-GRAMAFIN-POTENZOL-(150-150ML-10CC)
I31,CONTROL FOLIAR,BOMBA MOTOR,DITHANE -B-ZUCAR- ELEMENTOS MENORES- COABYUDANTE
I32,CIPERMETRINA,ML,CIPERMETRINA
I33,AMETRINA,ML,AMETRINA 150
I34,GLUFOSINATO DE AMONIO,ML,EVOSTAR+TRILLA+POTENZOL (120+150+10)X BOMBA DE...
I35,SULFATO DE AMONIO,SACO,SULFATO DE AMONIO
I36,GLUFOSINATO DE AMONIO,ML,EVOSTAR+PROFIURON+POTENZOL (120+150+10)X BOMBA...
I37,GLYFOSATO,ML,PANZER-AMETRINA-SPRAYFIT(120+150+4CC) X BOMBA ...
I38,PARACUAT,ML,AMETRINA-GRAMAFIN-SPRAYFIT-(150-150ML-4CC)
I39,FOLIAR,BOMBA MOTOR,TECNOSIL--KUMULUS-SOLUTEC PRODUCCION-SPRAYFIT-...
0,NaN,NaN,NaN

In [65]:
# Set 'Codigo Productos' as the primary key
df.to_sql('insumos', engine, if_exists='replace', index=True, index_label='Codigo_Producto')
# Set 'Codigo Productos' as the primary key
with engine.connect() as con:
    con.execute(text('ALTER TABLE insumos ADD PRIMARY KEY ("Codigo_Producto");'))
    con.commit()

In [66]:
# guardar el dataframe en un archivo csv
df.to_csv('insumos.csv')

# Big Chunky Database
## Ahora se crea la base de datos con los datos de los archivos excel

In [67]:
df = pd.read_excel('rdt.xlsx', sheet_name='Bases de Datos')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Fecha,Año,Semana,Mes,Columna1,Dia,Codigo Contratista,Nombre Empleado,Tipo Empleado,...,CODIGO FINCA,Finca,Propietario,Columna1,NaN,NaN,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
2,NaN,2,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,...,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR,NaN,NaN,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
3,NaN,17,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
4,NaN,44704,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8442,NaN,45178,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8443,NaN,45226,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8444,NaN,45240,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8445,NaN,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8446,NaN,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# Eliminamos la primera fila y la primera columna
df = df.iloc[1:,1:]
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
1,Fecha,Año,Semana,Mes,Columna1,Dia,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca Pertenece,...,CODIGO FINCA,Finca,Propietario,Columna1,NaN,NaN,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
2,2,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR,NaN,NaN,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
3,17,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
4,44704,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
5,44704,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8442,45178,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8443,45226,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8444,45240,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8445,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8446,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
# tomar los valores de la primera fila como los nombres de las columnas y eliminar la primera fila
df.columns = df.iloc[0]
df = df.iloc[1:]
df

1,Fecha,Año,Semana,Mes,Columna1,Dia,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca Pertenece,...,CODIGO FINCA,Finca,Propietario,Columna1,NaN,NaN,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
2,2,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR,NaN,NaN,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
3,17,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
4,44704,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
5,44704,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
6,44704,2022,21,5,23,2,63,ELVIRO JOSE HERNANDEZ ARRIETA,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8442,45178,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8443,45226,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8444,45240,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8445,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8446,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
# Valores unicos en la columna 'Codigo Lote'
df['Codigo Lote'].unique()

array(['S01', 'S02', 'S03', 'S04', 'S05', 'S06', 'S07', 'S08', 'S09',
       'U06', 'U07', 'D08', 'D09', 'D10', 'D11', 'D008', 'D009', 'D010',
       'D011', 'E20', 'E21', 'E22', 'E23', 'P01', 'P02', 'P03', 'P04',
       'P05', 'P06', 'P07', 'P08', 'P09', 'P10', 'P11', 'P12', 'PE01',
       'PE02', 'PE03', 'PE04', 'PE05', 'PE06', 'PE07', 'PE08', 'PE09',
       'PE10', 'PE11', 'PE12', 'PE13', 'PE14', nan], dtype=object)

In [71]:
# Como excel usa el numero de dias para representar las fechas, se debe convertir usando datetime
# Creamos un nuevo index
df.index = pd.RangeIndex(len(df.index))
# Cambiamos el tipo de datos de la columna 'Fecha' a int
df['Fecha'] = df['Fecha'].astype(int)
# Iteramos sobre el dataframe
for i in range(len(df.index)):
    # Convertimos el valor de la columna 'Dias' a datetime
    df['Fecha'][i] = pd.to_datetime(df['Fecha'][i], unit='D', origin='1899-12-30')
# Configura 'Fecha' como tipo datetime
df['Fecha'] = pd.to_datetime(df['Fecha'])
df

/tmp/ipykernel_2985969/67473545.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fecha'] = df['Fecha'].astype(int)
/tmp/ipykernel_2985969/67473545.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fecha'][i] = pd.to_datetime(df['Fecha'][i], unit='D', origin='1899-12-30')
/tmp/ipykernel_2985969/67473545.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fecha'] = pd.to_datetime(df['Fecha'])

1,Fecha,Año,Semana,Mes,Columna1,Dia,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca Pertenece,...,CODIGO FINCA,Finca,Propietario,Columna1,NaN,NaN,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
0,1900-01-01,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR,NaN,NaN,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
1,1900-01-16,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
2,2022-05-23,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
3,2022-05-23,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
4,2022-05-23,2022,21,5,23,2,63,ELVIRO JOSE HERNANDEZ ARRIETA,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8440,2023-09-09,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8441,2023-10-27,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8442,2023-11-10,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8443,1899-12-30,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8444,1899-12-30,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df.dtypes

1
Fecha               datetime64[ns]
Año                         object
Semana                      object
Mes                         object
Columna1                    object
                         ...
NaN                        float64
CODIGO PRODUCTOs            object
NOMBRE PRODUCTOs            object
UNIDAD DE MEDIDA            object
Composicion                 object
Length: 68, dtype: object

In [73]:
# Le cambiamos el nombre a la columna 'Columna1' a 'Dia del mes'
df = df.rename(columns={'Columna1': 'Dia del mes'})
df

1,Fecha,Año,Semana,Mes,Dia del mes,Dia,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca Pertenece,...,CODIGO FINCA,Finca,Propietario,Dia del mes,NaN,NaN,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
0,1900-01-01,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR,NaN,NaN,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
1,1900-01-16,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
2,2022-05-23,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
3,2022-05-23,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
4,2022-05-23,2022,21,5,23,2,63,ELVIRO JOSE HERNANDEZ ARRIETA,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8440,2023-09-09,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8441,2023-10-27,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8442,2023-11-10,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8443,1899-12-30,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8444,1899-12-30,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Se le cambia el nombre a la columna 'Dia' a 'Dia de la semana'
df = df.rename(columns={'Dia': 'Dia de la semana'})
df

1,Fecha,Año,Semana,Mes,Dia del mes,Dia de la semana,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca Pertenece,...,CODIGO FINCA,Finca,Propietario,Dia del mes,NaN,NaN,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
0,1900-01-01,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR,NaN,NaN,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
1,1900-01-16,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
2,2022-05-23,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
3,2022-05-23,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
4,2022-05-23,2022,21,5,23,2,63,ELVIRO JOSE HERNANDEZ ARRIETA,FIJO,S20,...,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8440,2023-09-09,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8441,2023-10-27,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8442,2023-11-10,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8443,1899-12-30,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8444,1899-12-30,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# Mostramos todas las columnas
pd.set_option('display.max_columns', None)
df

1,Fecha,Año,Semana,Mes,Dia del mes,Dia de la semana,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca Pertenece,Centro De Costo,Código Labor,Nombre Labor,Valor Unidad,Unidad De Pago,Primer Lote,Unides Primer Lote,Tiempo Empleado,Segundo Lote,Unides Segundo Lote,Tiempo Empleado2,Tercer Lote,Unides Tercer Lote,Tiempo Empleado3,Cuarto Lote,Unides Cuarto Lote,Tiempo Empleado4,Código Insumo,Nombre Insumo,Unidad de Medida Insumo,Unidades Aplicadas,Dosis Insumos,Isumo Consumo,Aprobado Coordinador,Aprobación Administrador,Validación De Reportes,Unidades Elaboradas,Horas Empleadas,Valor Unidad2,Valor Ganado,Recibo De Pago,Valor Pagado,Saldo,Centro De Costo2,NaN,NaN,CODIGO LABORES,NOMBRE DE LABORES,GRUPO LABOR,UNDAD DE PAGO,VALOR UNDAD,Dia del mes,NaN,NaN,Codigo Lote,Nombre Lote,Tamaño Area Neta,Tamaño Area Bruta,CODIGO FINCA,Finca,Propietario,Dia del mes,NaN,NaN,CODIGO PRODUCTOs,NOMBRE PRODUCTOs,UNIDAD DE MEDIDA,Composicion
0,1900-01-01,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,A00,NO TRABAJÓ,SIEMBRA,,0,0,NaN,NaN,S01,LOTE 01,5.43,0,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR,NaN,NaN,I01,PARACUAT,ML,CERRERO - AMETRINA-ARPON(150+150+4CC)
1,1900-01-16,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,PE23,L51-1,CONTRATO DE FUMIGACIÓN,HA./SEM,25000,PE10,0,0,0,0,0,0,0,0,0,0,0,I38,PARACUAT,ML,8,300,2400,0,0,Aprobado,0,0,25000,0,0,0,0,PEDRITO,NaN,NaN,A01,ABONO CON UREA FINCA PEDRITO,FERTILIZACION,UND,6000,0,NaN,NaN,S02,LOTE 02,4.78,0,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I02,PANZER-DESTIERRO-TRILLA,ML,PANZER-DESTIERRO-TRILLA-ARPON (130+200+40 GMS+...
2,2022-05-23,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,P23,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,P01,1.91,0,P07,6.65,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,8.56,0,5000,NaN,RCM 2685,NaN,0,PEDRITO,NaN,NaN,A02,ABONO CON POTASIO,FERTILIZACION,UND,5000,0,NaN,NaN,S03,LOTE 03,4.48,0,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I03,PARAXONE-FASCINATE,ML,PARAXONE-FASCINATE-ARPON(150+100+4CC)
3,2022-05-23,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,P23,L47,EMBOLSE,UND,130,P07,210,0,P08,45,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,255,0,130,NaN,RCM 2688,NaN,0,PEDRITO,NaN,NaN,A03,ABONO CON DAP,FERTILIZACION,UND,5000,0,NaN,NaN,S04,LOTE 04,4.18,0,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I04,DESTIERRO-TRILLA,ML,DESTIERRO-TRILLA EMULSION-ARPON(150+100+4CC)
4,2022-05-23,2022,21,5,23,2,63,ELVIRO JOSE HERNANDEZ ARRIETA,FIJO,S20,S20,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,S07,5.55,0,S09,4,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,Aprobado,9.55,0,5000,47750,RCM 2682,47750,0,SAN PEDRO,NaN,NaN,A04,ABONO CON SULFATO DE AMONIO,FERTILIZACION,UND,5000,0,NaN,NaN,S05,LOTE 05,4.38,0,S20,SAN PEDRO,Alex Angulo,0,NaN,NaN,I05,PARACUAT,ML,PARACUAT(PARAXONE-200 X 20 AGUA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8440,2023-09-09,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8441,2023-10-27,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8442,2023-11-10,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8443,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,No Aprobado,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8444,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Aprobado,0,0,0,0,RCM 3926,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
# Eliminar todas las columnas que estan despues de 'Centro De Costo2'
df = df.iloc[:,:df.columns.get_loc('Centro De Costo2')+1]
df

1,Fecha,Año,Semana,Mes,Dia del mes,Dia de la semana,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca Pertenece,Centro De Costo,Código Labor,Nombre Labor,Valor Unidad,Unidad De Pago,Primer Lote,Unides Primer Lote,Tiempo Empleado,Segundo Lote,Unides Segundo Lote,Tiempo Empleado2,Tercer Lote,Unides Tercer Lote,Tiempo Empleado3,Cuarto Lote,Unides Cuarto Lote,Tiempo Empleado4,Código Insumo,Nombre Insumo,Unidad de Medida Insumo,Unidades Aplicadas,Dosis Insumos,Isumo Consumo,Aprobado Coordinador,Aprobación Administrador,Validación De Reportes,Unidades Elaboradas,Horas Empleadas,Valor Unidad2,Valor Ganado,Recibo De Pago,Valor Pagado,Saldo,Centro De Costo2
0,1900-01-01,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
1,1900-01-16,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,PE23,L51-1,CONTRATO DE FUMIGACIÓN,HA./SEM,25000,PE10,0,0,0,0,0,0,0,0,0,0,0,I38,PARACUAT,ML,8,300,2400,0,0,Aprobado,0,0,25000,0,0,0,0,PEDRITO
2,2022-05-23,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,P23,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,P01,1.91,0,P07,6.65,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,8.56,0,5000,NaN,RCM 2685,NaN,0,PEDRITO
3,2022-05-23,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,P23,L47,EMBOLSE,UND,130,P07,210,0,P08,45,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,255,0,130,NaN,RCM 2688,NaN,0,PEDRITO
4,2022-05-23,2022,21,5,23,2,63,ELVIRO JOSE HERNANDEZ ARRIETA,FIJO,S20,S20,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,S07,5.55,0,S09,4,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,Aprobado,9.55,0,5000,47750,RCM 2682,47750,0,SAN PEDRO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8440,2023-09-09,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8441,2023-10-27,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8442,2023-11-10,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8443,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,No Aprobado,0,0,0,0,0,0,0,0
8444,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Aprobado,0,0,0,0,RCM 3926,0,0,0

In [77]:
# usando regex, vamos a cambiar los caracteres especiales como 'ñ' por su equivalente en ingles, 'ñ' por 'n', 'á' por 'a', etc. en las columnas
import re
df = df.rename(columns=lambda x: re.sub('[áéíóúñ]', lambda m: {'á': 'a', 'é': 'e', 'í': 'i', 'ó': 'o', 'ú': 'u', 'ñ': 'n'}[m.group(0)], x))
df

1,Fecha,Ano,Semana,Mes,Dia del mes,Dia de la semana,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca Pertenece,Centro De Costo,Codigo Labor,Nombre Labor,Valor Unidad,Unidad De Pago,Primer Lote,Unides Primer Lote,Tiempo Empleado,Segundo Lote,Unides Segundo Lote,Tiempo Empleado2,Tercer Lote,Unides Tercer Lote,Tiempo Empleado3,Cuarto Lote,Unides Cuarto Lote,Tiempo Empleado4,Codigo Insumo,Nombre Insumo,Unidad de Medida Insumo,Unidades Aplicadas,Dosis Insumos,Isumo Consumo,Aprobado Coordinador,Aprobacion Administrador,Validacion De Reportes,Unidades Elaboradas,Horas Empleadas,Valor Unidad2,Valor Ganado,Recibo De Pago,Valor Pagado,Saldo,Centro De Costo2
0,1900-01-01,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
1,1900-01-16,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,PE23,L51-1,CONTRATO DE FUMIGACIÓN,HA./SEM,25000,PE10,0,0,0,0,0,0,0,0,0,0,0,I38,PARACUAT,ML,8,300,2400,0,0,Aprobado,0,0,25000,0,0,0,0,PEDRITO
2,2022-05-23,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,P23,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,P01,1.91,0,P07,6.65,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,8.56,0,5000,NaN,RCM 2685,NaN,0,PEDRITO
3,2022-05-23,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,P23,L47,EMBOLSE,UND,130,P07,210,0,P08,45,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,255,0,130,NaN,RCM 2688,NaN,0,PEDRITO
4,2022-05-23,2022,21,5,23,2,63,ELVIRO JOSE HERNANDEZ ARRIETA,FIJO,S20,S20,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,S07,5.55,0,S09,4,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,Aprobado,9.55,0,5000,47750,RCM 2682,47750,0,SAN PEDRO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8440,2023-09-09,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8441,2023-10-27,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8442,2023-11-10,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8443,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,No Aprobado,0,0,0,0,0,0,0,0
8444,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Aprobado,0,0,0,0,RCM 3926,0,0,0

In [78]:
df.columns

Index(['Fecha', 'Ano', 'Semana', 'Mes', 'Dia del mes', 'Dia de la semana',
       'Codigo Contratista', 'Nombre Empleado', 'Tipo Empleado',
       'Finca Pertenece', 'Centro De Costo', 'Codigo Labor', 'Nombre Labor',
       'Valor Unidad', 'Unidad De Pago', 'Primer Lote', ' Unides Primer Lote',
       ' Tiempo Empleado', 'Segundo Lote', 'Unides Segundo Lote',
       ' Tiempo Empleado2', 'Tercer Lote', 'Unides Tercer Lote',
       ' Tiempo Empleado3', 'Cuarto Lote', 'Unides Cuarto Lote',
       ' Tiempo Empleado4', 'Codigo Insumo', 'Nombre Insumo',
       'Unidad de Medida Insumo', 'Unidades Aplicadas', 'Dosis Insumos',
       'Isumo Consumo', 'Aprobado Coordinador', 'Aprobacion Administrador',
       'Validacion De Reportes', 'Unidades Elaboradas', 'Horas Empleadas',
       'Valor Unidad2', 'Valor Ganado', 'Recibo De Pago', 'Valor Pagado',
       'Saldo', 'Centro De Costo2'],
      dtype='object', name=1)

In [79]:
# Vamos a cambiar los nombres de esta lista
lista = ['Fecha', 'Ano', 'Semana', 'Mes', 'Dia del mes', 'Dia de la semana',
       'Codigo Contratista', 'Nombre Empleado', 'Tipo Empleado',
       'Finca Pertenece', 'Centro De Costo', 'Codigo Labor', 'Nombre Labor',
       'Valor Unidad', 'Unidad De Pago', 'Primer Lote', ' Unidades Primer Lote',
       ' Tiempo Empleado', 'Segundo Lote', 'Unidades Segundo Lote',
       ' Tiempo Empleado2', 'Tercer Lote', 'Unidades Tercer Lote',
       ' Tiempo Empleado3', 'Cuarto Lote', 'Unidades Cuarto Lote',
       ' Tiempo Empleado4', 'Codigo Insumo', 'Nombre Insumo',
       'Unidad de Medida Insumo', 'Unidades Aplicadas', 'Dosis Insumos',
       'Insumo Consumo', 'Aprobado Coordinador', 'Aprobacion Administrador',
       'Validacion De Reportes', 'Unidades Elaboradas', 'Horas Empleadas',
       'Valor Unidad2', 'Valor Ganado', 'Recibo De Pago', 'Valor Pagado',
       'Saldo', 'Centro De Costo2']
# Vamos a cambiar los nombres de esta lista, en el mismo orden, si tienen un espacio al principio, se le quita
lista = [x.strip() for x in lista]
# Cambiamos los nombres de las columnas, cambiando los espacios por '_'
new_list = [x.replace(' ', '_') for x in lista]
new_list

['Fecha',
 'Ano',
 'Semana',
 'Mes',
 'Dia_del_mes',
 'Dia_de_la_semana',
 'Codigo_Contratista',
 'Nombre_Empleado',
 'Tipo_Empleado',
 'Finca_Pertenece',
 'Centro_De_Costo',
 'Codigo_Labor',
 'Nombre_Labor',
 'Valor_Unidad',
 'Unidad_De_Pago',
 'Primer_Lote',
 'Unidades_Primer_Lote',
 'Tiempo_Empleado',
 'Segundo_Lote',
 'Unidades_Segundo_Lote',
 'Tiempo_Empleado2',
 'Tercer_Lote',
 'Unidades_Tercer_Lote',
 'Tiempo_Empleado3',
 'Cuarto_Lote',
 'Unidades_Cuarto_Lote',
 'Tiempo_Empleado4',
 'Codigo_Insumo',
 'Nombre_Insumo',
 'Unidad_de_Medida_Insumo',
 'Unidades_Aplicadas',
 'Dosis_Insumos',
 'Insumo_Consumo',
 'Aprobado_Coordinador',
 'Aprobacion_Administrador',
 'Validacion_De_Reportes',
 'Unidades_Elaboradas',
 'Horas_Empleadas',
 'Valor_Unidad2',
 'Valor_Ganado',
 'Recibo_De_Pago',
 'Valor_Pagado',
 'Saldo',
 'Centro_De_Costo2']

In [80]:
# Cambiamos los nombres de las columnas por los nombres de la lista 'new_list'
df.columns = new_list
df

,Fecha,Ano,Semana,Mes,Dia_del_mes,Dia_de_la_semana,Codigo_Contratista,Nombre_Empleado,Tipo_Empleado,Finca_Pertenece,Centro_De_Costo,Codigo_Labor,Nombre_Labor,Valor_Unidad,Unidad_De_Pago,Primer_Lote,Unidades_Primer_Lote,Tiempo_Empleado,Segundo_Lote,Unidades_Segundo_Lote,Tiempo_Empleado2,Tercer_Lote,Unidades_Tercer_Lote,Tiempo_Empleado3,Cuarto_Lote,Unidades_Cuarto_Lote,Tiempo_Empleado4,Codigo_Insumo,Nombre_Insumo,Unidad_de_Medida_Insumo,Unidades_Aplicadas,Dosis_Insumos,Insumo_Consumo,Aprobado_Coordinador,Aprobacion_Administrador,Validacion_De_Reportes,Unidades_Elaboradas,Horas_Empleadas,Valor_Unidad2,Valor_Ganado,Recibo_De_Pago,Valor_Pagado,Saldo,Centro_De_Costo2
0,1900-01-01,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
1,1900-01-16,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,PE23,L51-1,CONTRATO DE FUMIGACIÓN,HA./SEM,25000,PE10,0,0,0,0,0,0,0,0,0,0,0,I38,PARACUAT,ML,8,300,2400,0,0,Aprobado,0,0,25000,0,0,0,0,PEDRITO
2,2022-05-23,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,P23,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,P01,1.91,0,P07,6.65,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,8.56,0,5000,NaN,RCM 2685,NaN,0,PEDRITO
3,2022-05-23,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,P23,L47,EMBOLSE,UND,130,P07,210,0,P08,45,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,255,0,130,NaN,RCM 2688,NaN,0,PEDRITO
4,2022-05-23,2022,21,5,23,2,63,ELVIRO JOSE HERNANDEZ ARRIETA,FIJO,S20,S20,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,S07,5.55,0,S09,4,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,Aprobado,9.55,0,5000,47750,RCM 2682,47750,0,SAN PEDRO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8440,2023-09-09,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8441,2023-10-27,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8442,2023-11-10,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8443,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,No Aprobado,0,0,0,0,0,0,0,0
8444,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Aprobado,0,0,0,0,RCM 3926,0,0,0

In [81]:
# Crear una columna 'ID' comenzando desde 0, hasta el numero de filas, se asigna como indice del dataframe
df = df.assign(ID = pd.Series(range(0, len(df.index))).values)
df = df.set_index('ID')
df

,Fecha,Ano,Semana,Mes,Dia_del_mes,Dia_de_la_semana,Codigo_Contratista,Nombre_Empleado,Tipo_Empleado,Finca_Pertenece,Centro_De_Costo,Codigo_Labor,Nombre_Labor,Valor_Unidad,Unidad_De_Pago,Primer_Lote,Unidades_Primer_Lote,Tiempo_Empleado,Segundo_Lote,Unidades_Segundo_Lote,Tiempo_Empleado2,Tercer_Lote,Unidades_Tercer_Lote,Tiempo_Empleado3,Cuarto_Lote,Unidades_Cuarto_Lote,Tiempo_Empleado4,Codigo_Insumo,Nombre_Insumo,Unidad_de_Medida_Insumo,Unidades_Aplicadas,Dosis_Insumos,Insumo_Consumo,Aprobado_Coordinador,Aprobacion_Administrador,Validacion_De_Reportes,Unidades_Elaboradas,Horas_Empleadas,Valor_Unidad2,Valor_Ganado,Recibo_De_Pago,Valor_Pagado,Saldo,Centro_De_Costo2
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,1900-01-01,1900,1,1,2,2,681,DELSI DEL CARMEN DE LA ROSA CASTELLANOS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
1,1900-01-16,1900,3,1,17,3,721,ANDRES MEDINA,FIJO,PE23,PE23,L51-1,CONTRATO DE FUMIGACIÓN,HA./SEM,25000,PE10,0,0,0,0,0,0,0,0,0,0,0,I38,PARACUAT,ML,8,300,2400,0,0,Aprobado,0,0,25000,0,0,0,0,PEDRITO
2,2022-05-23,2022,21,5,23,2,168,JULIAN BARON REYES,FIJO,P23,P23,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,P01,1.91,0,P07,6.65,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,8.56,0,5000,NaN,RCM 2685,NaN,0,PEDRITO
3,2022-05-23,2022,21,5,23,2,451,RICARDO JAVIER BENITEZ RUIZ,FIJO,S20,P23,L47,EMBOLSE,UND,130,P07,210,0,P08,45,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,No Aprobado,255,0,130,NaN,RCM 2688,NaN,0,PEDRITO
4,2022-05-23,2022,21,5,23,2,63,ELVIRO JOSE HERNANDEZ ARRIETA,FIJO,S20,S20,L34,CONTRATO DE DESHOJE,HECTÁREA,5000,S07,5.55,0,S09,4,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,Aprobado,Aprobado,Aprobado,9.55,0,5000,47750,RCM 2682,47750,0,SAN PEDRO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8440,2023-09-09,2023,36,9,9,7,721,ANDRES MEDINA,FIJO,PE23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8441,2023-10-27,2023,43,10,27,6,168,JULIAN BARON REYES,FIJO,P23,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8442,2023-11-10,2023,45,11,10,6,729,HELBERT ANTONIO JARAMILLO PENDAS,FIJO,S20,a,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,Aprobado,0,0,NaN,NaN,0,NaN,0,NaN
8443,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,No Aprobado,0,0,0,0,0,0,0,0
8444,1899-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Aprobado,0,0,0,0,RCM 3926,0,0,0

In [82]:
# Mostrar los valores unicos en la columna 'Código Labor'
df['Codigo_Labor'].unique()

array([0, 'L51-1', 'L34', 'L47', 'A181', 'A190', 'l34', 'l96', 'L00',
       'L144', 'L113', 'L11', 'L96', 'A191', 'L111', 'L22', 'L20', 'L136',
       'L35', 'L51', 'A240', 'L74', 'L58', 'L56', 'L06', 'A177', 'L64',
       'L145', 'A187', 'L108', 'L15', 'A186', 'L17', 'L13', 'A184',
       'L195', 'L112', 'L199', 'L217', 'L44', 'A183', 'L50', 'L45',
       'L154', 'L10', 'L218', 'L78', 'L137', 'L219', 'L122', 'L86', 'L65',
       'L32', 'L05', 'L89', 'L191', 'L59', 'L18', 'L220', 'L94', 'L150',
       'l10', 'A171', 'L110', 'L61', 'l47', 'L08', 'L221', 'L69', 'L213',
       'A180', 'L03', 'L193', 'L152', 'L214', 'L101', 'L55', 'L222',
       'L047', 'L223', 'L224', 'L225', 'L226', 'A188', 'A189', 'L0111',
       'L0213', 'L92', 'L168', 'L76', 'L069', 'L24', 'A00', 'L181',
       'L228', 'A179', 'A185', 'L227', 'L192', 'L0198', 'A178', 'A173',
       'L21', 'L19', 'A174', 'A172', 'l113', 'L37', 'L229', 'A194',
       'A192', 'L52', 'L39', 'A169', 'L230', 'L73', 'L0145', 'L02',
       'L231', 'l18', 'L91', 'l00', 'A175', 'L07', 'L232', 'L233', 'A182',
       'A176', 'L234', 'l51', 'L1145', 'L01', 'L2145', 'L2146', 'l74',
       'L116', 'L047-1', 'L0111-1', 'L37-1', 'L0145-1', 'L65-1', 'L144-1',
       'L34-1', 'L234-1', 'L113-1', 'L145-1', 'L35-1', 'L136-1', 'L13-1',
       'L22-1', 'L64-1', 'L1145-1', 'L20-1', 'L96-1', 'L1185', 'L1184',
       'L1169', 'L10-1', 'L1170', 'L1181', 'L1176', 'L1171', 'L1177',
       'L1178', 'L1183', 'L1175', 'L1182', 'l1183', 'L1172', 'L1180',
       'L1174', 'l64-1', 'L05-1', 'L2145-1', 'L90', 'OJO', 'L2145-2',
       'L145-2', 'L0145-2', 'L121'], dtype=object)

In [83]:
# Colocar como nulo el valor 'OJO' en la columna 'Código Labor'
df.loc[df['Codigo_Labor'] == 'OJO', 'Codigo_Labor'] = np.nan
df['Codigo_Labor'].unique()

array([0, 'L51-1', 'L34', 'L47', 'A181', 'A190', 'l34', 'l96', 'L00',
       'L144', 'L113', 'L11', 'L96', 'A191', 'L111', 'L22', 'L20', 'L136',
       'L35', 'L51', 'A240', 'L74', 'L58', 'L56', 'L06', 'A177', 'L64',
       'L145', 'A187', 'L108', 'L15', 'A186', 'L17', 'L13', 'A184',
       'L195', 'L112', 'L199', 'L217', 'L44', 'A183', 'L50', 'L45',
       'L154', 'L10', 'L218', 'L78', 'L137', 'L219', 'L122', 'L86', 'L65',
       'L32', 'L05', 'L89', 'L191', 'L59', 'L18', 'L220', 'L94', 'L150',
       'l10', 'A171', 'L110', 'L61', 'l47', 'L08', 'L221', 'L69', 'L213',
       'A180', 'L03', 'L193', 'L152', 'L214', 'L101', 'L55', 'L222',
       'L047', 'L223', 'L224', 'L225', 'L226', 'A188', 'A189', 'L0111',
       'L0213', 'L92', 'L168', 'L76', 'L069', 'L24', 'A00', 'L181',
       'L228', 'A179', 'A185', 'L227', 'L192', 'L0198', 'A178', 'A173',
       'L21', 'L19', 'A174', 'A172', 'l113', 'L37', 'L229', 'A194',
       'A192', 'L52', 'L39', 'A169', 'L230', 'L73', 'L0145', 'L02',
       'L231', 'l18', 'L91', 'l00', 'A175', 'L07', 'L232', 'L233', 'A182',
       'A176', 'L234', 'l51', 'L1145', 'L01', 'L2145', 'L2146', 'l74',
       'L116', 'L047-1', 'L0111-1', 'L37-1', 'L0145-1', 'L65-1', 'L144-1',
       'L34-1', 'L234-1', 'L113-1', 'L145-1', 'L35-1', 'L136-1', 'L13-1',
       'L22-1', 'L64-1', 'L1145-1', 'L20-1', 'L96-1', 'L1185', 'L1184',
       'L1169', 'L10-1', 'L1170', 'L1181', 'L1176', 'L1171', 'L1177',
       'L1178', 'L1183', 'L1175', 'L1182', 'l1183', 'L1172', 'L1180',
       'L1174', 'l64-1', 'L05-1', 'L2145-1', 'L90', nan, 'L2145-2',
       'L145-2', 'L0145-2', 'L121'], dtype=object)

In [84]:
# Colocar todos los valores de la columna 'Código Labor' en mayusculas
df['Codigo_Labor'] = df['Codigo_Labor'].str.upper()
df['Codigo_Labor'].unique()

array([nan, 'L51-1', 'L34', 'L47', 'A181', 'A190', 'L96', 'L00', 'L144',
       'L113', 'L11', 'A191', 'L111', 'L22', 'L20', 'L136', 'L35', 'L51',
       'A240', 'L74', 'L58', 'L56', 'L06', 'A177', 'L64', 'L145', 'A187',
       'L108', 'L15', 'A186', 'L17', 'L13', 'A184', 'L195', 'L112',
       'L199', 'L217', 'L44', 'A183', 'L50', 'L45', 'L154', 'L10', 'L218',
       'L78', 'L137', 'L219', 'L122', 'L86', 'L65', 'L32', 'L05', 'L89',
       'L191', 'L59', 'L18', 'L220', 'L94', 'L150', 'A171', 'L110', 'L61',
       'L08', 'L221', 'L69', 'L213', 'A180', 'L03', 'L193', 'L152',
       'L214', 'L101', 'L55', 'L222', 'L047', 'L223', 'L224', 'L225',
       'L226', 'A188', 'A189', 'L0111', 'L0213', 'L92', 'L168', 'L76',
       'L069', 'L24', 'A00', 'L181', 'L228', 'A179', 'A185', 'L227',
       'L192', 'L0198', 'A178', 'A173', 'L21', 'L19', 'A174', 'A172',
       'L37', 'L229', 'A194', 'A192', 'L52', 'L39', 'A169', 'L230', 'L73',
       'L0145', 'L02', 'L231', 'L91', 'A175', 'L07', 'L232', 'L233',
       'A182', 'A176', 'L234', 'L1145', 'L01', 'L2145', 'L2146', 'L116',
       'L047-1', 'L0111-1', 'L37-1', 'L0145-1', 'L65-1', 'L144-1',
       'L34-1', 'L234-1', 'L113-1', 'L145-1', 'L35-1', 'L136-1', 'L13-1',
       'L22-1', 'L64-1', 'L1145-1', 'L20-1', 'L96-1', 'L1185', 'L1184',
       'L1169', 'L10-1', 'L1170', 'L1181', 'L1176', 'L1171', 'L1177',
       'L1178', 'L1183', 'L1175', 'L1182', 'L1172', 'L1180', 'L1174',
       'L05-1', 'L2145-1', 'L90', 'L2145-2', 'L145-2', 'L0145-2', 'L121'],
      dtype=object)

In [85]:
# Mostrar los valores unicos en la columna 'Código Insumo'
df['Codigo_Insumo'].unique()

array([0, 'I38', 'i16', 'I10', 'I15', 'I18', 'I12', 'I16', 'I17', 'I19',
       'I21', 'I20', 'I24', 'I23', 'I22', 'I26', 'I25', 'I27', 'I01',
       'I11', 'i24', 'I28', 'I29', 'I30', 'I31', 'I32', 'I33', 'I34',
       'I35', 'I36', 'I37', 'i10', 'i37', 'I39'], dtype=object)

In [86]:
# Buscar valores unico en la columna 'Centro_De_Costo'
df['Centro_De_Costo'].unique()

array(['a', 'PE23', 'P23', 'S20', 'D22', 'U21', nan, 0], dtype=object)

In [87]:
# Reemplazar los valores 'a' por NULL en la columna 'Centro_De_Costo'
df.loc[df['Centro_De_Costo'] == 'a', 'Centro_De_Costo'] = np.nan
df['Centro_De_Costo'].unique()

array([nan, 'PE23', 'P23', 'S20', 'D22', 'U21', 0], dtype=object)

In [88]:
# Colocar todos los valores de la columna 'Código Insumo' en mayusculas
df['Codigo_Insumo'] = df['Codigo_Insumo'].str.upper()

In [89]:
# Colocar todos los valores en las columnas 'Primer Lote', 'Segundo Lote', 'Tercer Lote' y 'Cuarto Lote' en mayusculas
df['Primer_Lote'] = df['Primer_Lote'].str.upper()
df['Segundo_Lote'] = df['Segundo_Lote'].str.upper()
df['Tercer_Lote'] = df['Tercer_Lote'].str.upper()
df['Cuarto_Lote'] = df['Cuarto_Lote'].str.upper()
# Colocamos nulo en los valores 'S20' en la columna 'Primer_Lote'
df.loc[df['Primer_Lote'] == 'S20', 'Primer_Lote'] = np.nan
# Colocamos nulo en los valores 'S20' en la columna 'Segundo Lote'
df.loc[df['Segundo_Lote'] == 'S20', 'Segundo_Lote'] = np.nan
# Colocamos nulo en los valores 'S20' en la columna 'Tercer Lote'
df.loc[df['Tercer_Lote'] == 'S20', 'Tercer_Lote'] = np.nan
# Colocamos nulo en los valores 'S20' en la columna 'Cuarto Lote'}
df.loc[df['Cuarto_Lote'] == 'S20', 'Cuarto_Lote'] = np.nan
# Colocamos nulo en los valores 'L02' en la columna 'Primer Lote'
df.loc[df['Primer_Lote'] == 'L02', 'Primer_Lote'] = np.nan
# Colocamos nulo en los valores 'L02' en la columna 'Segundo Lote'
df.loc[df['Segundo_Lote'] == 'L02', 'Segundo_Lote'] = np.nan
# Colocamos nulo en los valores 'L02' en la columna 'Tercer Lote'
df.loc[df['Tercer_Lote'] == 'L02', 'Tercer_Lote'] = np.nan
# Colocamos nulo en los valores 'L02' en la columna 'Cuarto Lote'
df.loc[df['Cuarto_Lote'] == 'L02', 'Cuarto_Lote'] = np.nan

In [90]:
# Guardamos el dataframe en un archivo csv
df.to_csv('bases_de_datos.csv')

Ahora teniendo esta informacion, la guardaremos en otra base de datos aparte, se llamara *general* y aqui se usaran las llaves primarias de las otras bases de datos para completar la informacion

## Tenemos 4 bases de datos
- empleados
- insumos
- labores
- lotes

La base de datos **empleados** tiene 1 columna que es *Codigo Empleado* y es la llave primaria

La base de datos **insumos** tiene 1 columna que es *Codigo Productos* y es la llave primaria

La base de datos **labores** tiene 1 columna que es *Codigo Labores* y es la llave primaria

La base de datos **lotes** tiene 1 columna que es *Codigo Lote* y es la llave primaria


Con esto en mente, podemos crear las tablas de las relaciones
Nuestra base de datos tendra todos estos valores
- Fecha
- Año
- Semana
- Mes
- Columna1
- Dia
- Codigo Contratista
- Nombre Empleado
- Tipo Empleado
- Finca Pertenece
- Centro De Costo
- Código Labor
- Nombre Labor
- Valor Unidad
- Unidad De Pago
- Primer Lote
- Unides Primer Lote
- Tiempo Empleado
- Segundo Lote
- Unides Segundo Lote
- Tiempo Empleado2
- Tercer Lote
- Unides Tercer Lote
- Tiempo Empleado3
- Cuarto Lote
- Unides Cuarto Lote
- Tiempo Empleado4
- Código Insumo
- Nombre Insumo
- Unidad de Medida Insumo
- Unidades Aplicadas
- Dosis Insumos
- Isumo Consumo
- Aprobado Coordinador
- Aprobación Administrador
- Validación De Reportes
- Unidades Elaboradas
- Horas Empleadas
- Valor Unidad2
- Valor Ganado
- Recibo De Pago
- Valor Pagado
- Saldo
- Centro De Costo2

In [91]:
# Guardamos el dataframe en una tabla en la base de datos
# Fecha se guarda como tipo date
df.to_sql('historial', engine, if_exists='replace', index=True, index_label='ID', dtype={'Fecha': db.types.DATE()})

459

## Creacion de la llave primaria y las llaves foraneas

In [92]:
# Asignamos 'ID' como la llave primaria
with engine.connect() as con:
    con.execute(text('ALTER TABLE historial ADD PRIMARY KEY ("ID");'))
    con.commit()

In [93]:
# Creamos una llave foranea para la columna 'Codigo Contratista'
with engine.connect() as con:
    con.execute(text('ALTER TABLE historial ADD FOREIGN KEY ("Codigo_Contratista") REFERENCES empleados ("Codigo") ON UPDATE CASCADE;'))
    con.commit()

In [94]:
# Creamos una llave foranea para la columna 'Codigo Finca' que apunte a la tabla 'finca'
with engine.connect() as con:
    con.execute(text('ALTER TABLE historial ADD FOREIGN KEY ("Finca_Pertenece") REFERENCES finca ("Codigo") ON UPDATE CASCADE;'))
    con.commit()

In [95]:
# Creamos una llave foranea para la columna 'Codigo Labor' que apunte a la tabla 'labores'
with engine.connect() as con:
    con.execute(text('ALTER TABLE historial ADD FOREIGN KEY ("Codigo_Labor") REFERENCES labores ("Codigo") ON UPDATE CASCADE;'))
    con.commit()

In [96]:
# Creamos una llave foranea para la columna 'Código Insumos' que apunte a la tabla 'insumos'
with engine.connect() as con:
    con.execute(text('ALTER TABLE historial ADD FOREIGN KEY ("Codigo_Insumo") REFERENCES insumos ("Codigo_Producto") ON UPDATE CASCADE;'))
    con.commit()

In [97]:
# Creamos una llave foranea para la columna 'Primer Lote', 'Segundo Lote', 'Tercer Lote' y 'Cuarto Lote' que apunte a la tabla 'lotes'
with engine.connect() as con:
    con.execute(text('ALTER TABLE historial ADD FOREIGN KEY ("Primer_Lote") REFERENCES lotes ("Codigo") ON UPDATE CASCADE;'))
    con.execute(text('ALTER TABLE historial ADD FOREIGN KEY ("Segundo_Lote") REFERENCES lotes ("Codigo") ON UPDATE CASCADE;'))
    con.execute(text('ALTER TABLE historial ADD FOREIGN KEY ("Tercer_Lote") REFERENCES lotes ("Codigo") ON UPDATE CASCADE;'))
    con.execute(text('ALTER TABLE historial ADD FOREIGN KEY ("Cuarto_Lote") REFERENCES lotes ("Codigo") ON UPDATE CASCADE;'))
    con.commit()

In [98]:
# Creamos una llave foranea para la columna 'Centro_De_Costo' que apunte a la tabla 'finca'
with engine.connect() as con:
    con.execute(text('ALTER TABLE historial ADD FOREIGN KEY ("Centro_De_Costo") REFERENCES finca ("Codigo") ON UPDATE CASCADE;'))
    con.commit()

# Creacion de la base de datos para los usuarios

## Creacion de la tabla de usuarios

In [100]:
# Vamos a crear un dataframe con los datos basicos para un login, como un admin y un usuario
# Creamos un dataframe con los datos de los usuarios
usuarios = pd.DataFrame({'Nombre': ['admin', 'usuario'], 'Contraseña': ['admin', 'usuario'], 'Email':['admin@admin.com', 'user@admin.com'], 'Rol': ['admin', 'usuario']})

In [101]:
usuarios

    Nombre Contraseña            Email      Rol
0    admin      admin  admin@admin.com    admin
1  usuario    usuario   user@admin.com  usuario

In [102]:
# Nombra el indice de la tabla como 'ID'
usuarios.index.name = 'ID'
usuarios

     Nombre Contraseña            Email      Rol
ID
0     admin      admin  admin@admin.com    admin
1   usuario    usuario   user@admin.com  usuario

In [103]:
# Guardamos el dataframe en un archivo csv
usuarios.to_csv('usuarios.csv')

In [104]:
# Guardamos el dataframe en una tabla en la base de datos
usuarios.to_sql('usuarios', engine, if_exists='replace', index=True, index_label='ID')

2

In [105]:
# Asignamos 'ID' como la llave primaria
with engine.connect() as con:
    con.execute(text('ALTER TABLE usuarios ADD PRIMARY KEY ("ID");'))
    con.commit()