In [11]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\alext\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\alext\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alext\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\alext\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alext\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\alext\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import numpy as np
import pandas as pd

# Extrayendo informacion del excel de Embolse

## Se usa otro excel

In [13]:
df = pd.read_excel(r'c:\Users\alext\Dropbox\TROPICAL  2022 oficina\Embarque Dropbox\LIQUIDADOR DE EMBARQUE.xlsx', sheet_name='CALCULO PAGO')
df.head(15)

c:\Users\alext\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,NaN,NaN,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,NaN,NaN,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,NaN,NaN,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,NaN,NaN,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
11,NaN,NaN,2021-12-29 00:00:00,2021,52,81,P23,Pedrito,2100,1000,...,25085.714286,175600,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857
12,NaN,NaN,2022-01-04 00:00:00,2022,1,330,S20,San Pedro,1500,1000,...,38884.615385,505500,0,0,San Pedro,NaN,0,NaN,NaN,116653.846154
13,NaN,NaN,2022-01-04 00:00:00,2022,1,82,U21,Uveros,1500,1000,...,31175,124700,0,0,Uveros,NaN,0,NaN,NaN,93525
14,NaN,NaN,2022-01-05 00:00:00,2022,1,303,S20,San Pedro,1500,1000,...,32928.571429,461000,0,0,San Pedro,NaN,0,NaN,NaN,98785.714286

In [14]:
# Eliminamos las primeras 6 filas y 2 columnas
df = df.iloc[6:, 2:]
df

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
6,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,500,978,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,500,331,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,500,978,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2024-04-16 00:00:00,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,0,0,San Pedro,NaN,0,NaN,NaN,0
597,2024-04-16 00:00:00,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,11894.736842,0,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526
598,2024-04-16 00:00:00,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,0,0,Uveros,NaN,0,NaN,NaN,0
599,2024-04-16 00:00:00,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,NaN,0,NaN,NaN,0
600,2024-04-22 00:00:00,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,8900,0,0,0,San Pedro,NaN,0,NaN,NaN,26700

In [15]:
# Asignamos la primera fila como nombre de las columnas
df.columns = df.iloc[0]
df

6,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
6,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,500,978,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,500,331,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,500,978,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2024-04-16 00:00:00,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,0,0,San Pedro,NaN,0,NaN,NaN,0
597,2024-04-16 00:00:00,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,11894.736842,0,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526
598,2024-04-16 00:00:00,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,0,0,Uveros,NaN,0,NaN,NaN,0
599,2024-04-16 00:00:00,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,NaN,0,NaN,NaN,0
600,2024-04-22 00:00:00,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,8900,0,0,0,San Pedro,NaN,0,NaN,NaN,26700

## Extrayendo excel

In [16]:
df = pd.read_excel(r'c:\Users\alext\Dropbox\TROPICAL  2022 oficina\Embarque Dropbox\Embolse 19 de agosto de  2023 (1).xlsx', sheet_name='Embolse')
df

c:\Users\alext\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,2025-01-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 273,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280,Unnamed: 281,Unnamed: 282
0,NaN,NaN,2024-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2023-01-02 00:00:00,NaN,NaN,NaN,NaN,SAN PEDRO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2022-01-03 00:00:00,NaN,NaN,NaN,NaN,S01,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Semana De Embeose,Ano de Embolse,Semana Embolse,NaN,NaN,Lun,Mar,Mié,...,P12,P13,P14,P15,Total San Pedro,NaN,NaN,Total Antioqueñita,Total Pedrito,Total General
4,NaN,NaN,Semana De Embolse,Año,Semana Embolse,Color,Edad,Lun,Mar.,Mié.,...,P12,P13,P14,P15,Total San Pedro,Total Uveros,Total Damaquiel,Total Antioqueñita,Total Pedrito,Total General
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,NaN,NaN,2025,1,NaN,52,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
132,NaN,NaN,NaN,2025,2,NaN,51,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
133,NaN,NaN,NaN,2025,3,NaN,50,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
134,NaN,NaN,NaN,2025,4,NaN,49,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
135,NaN,NaN,NaN,2025,5,NaN,48,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# Eliminamos las filas que no tienen información
df = df.iloc[3:]
df

,Unnamed: 0,Unnamed: 1,2025-01-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 273,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280,Unnamed: 281,Unnamed: 282
3,NaN,NaN,Semana De Embeose,Ano de Embolse,Semana Embolse,NaN,NaN,Lun,Mar,Mié,...,P12,P13,P14,P15,Total San Pedro,NaN,NaN,Total Antioqueñita,Total Pedrito,Total General
4,NaN,NaN,Semana De Embolse,Año,Semana Embolse,Color,Edad,Lun,Mar.,Mié.,...,P12,P13,P14,P15,Total San Pedro,Total Uveros,Total Damaquiel,Total Antioqueñita,Total Pedrito,Total General
5,NaN,NaN,2022-08-01 00:00:00,2022,31,Negra,90,222,NaN,NaN,...,0,0,0,0,539,0,0,0,0,539
6,NaN,NaN,2022-08-08 00:00:00,2022,32,Naranja,89,222,NaN,NaN,...,0,0,0,0,1269,0,0,0,0,1269
7,NaN,NaN,2022-08-15 00:00:00,2022,33,Verde,88,101,NaN,NaN,...,0,0,0,0,871,0,0,0,0,871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,NaN,NaN,2025,1,NaN,52,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
132,NaN,NaN,NaN,2025,2,NaN,51,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
133,NaN,NaN,NaN,2025,3,NaN,50,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
134,NaN,NaN,NaN,2025,4,NaN,49,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
135,NaN,NaN,NaN,2025,5,NaN,48,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# Eliminamos las primeras 2 columnas
df = df.iloc[:, 2:]
df

,2025-01-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 273,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280,Unnamed: 281,Unnamed: 282
3,Semana De Embeose,Ano de Embolse,Semana Embolse,NaN,NaN,Lun,Mar,Mié,Jue,Vie,...,P12,P13,P14,P15,Total San Pedro,NaN,NaN,Total Antioqueñita,Total Pedrito,Total General
4,Semana De Embolse,Año,Semana Embolse,Color,Edad,Lun,Mar.,Mié.,Jue.,Vie.,...,P12,P13,P14,P15,Total San Pedro,Total Uveros,Total Damaquiel,Total Antioqueñita,Total Pedrito,Total General
5,2022-08-01 00:00:00,2022,31,Negra,90,222,NaN,NaN,NaN,NaN,...,0,0,0,0,539,0,0,0,0,539
6,2022-08-08 00:00:00,2022,32,Naranja,89,222,NaN,NaN,NaN,NaN,...,0,0,0,0,1269,0,0,0,0,1269
7,2022-08-15 00:00:00,2022,33,Verde,88,101,NaN,NaN,NaN,NaN,...,0,0,0,0,871,0,0,0,0,871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,2025,1,NaN,52,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
132,NaN,2025,2,NaN,51,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
133,NaN,2025,3,NaN,50,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
134,NaN,2025,4,NaN,49,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
135,NaN,2025,5,NaN,48,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

## Creando diccionario de datos con las fincas

In [19]:
fincas = {
    'San Pedro': ['S01', 'S02', 'S03', 'S04', 'S05', 'S06', 'S07', 'S08', 'S09'],
    'Uveros' : ['U06', 'U07'],
    'Damaquiel': ['D08', 'D09', 'D10', 'D11'],
    'Pedrito': ['P01', 'P02', 'P03', 'P04', 'P05', 'P06', 'P07', 'P08', 'P09', 'P10', 'P11', 'P12', 'P13', 'PN20', 'P15'],
    'Montañita': ['M01', 'M02', 'M03', 'M04', 'M05']
    }

In [20]:
# Ahora con este diccionario hacemos un dataframe donde la key es la finca y los values son los lotes, colocamos una fila por cada lote
df_fincas = pd.DataFrame([(k, lote) for k, v in fincas.items() for lote in v], columns=['Finca', 'Lote'])
df_fincas

        Finca  Lote
0   San Pedro   S01
1   San Pedro   S02
2   San Pedro   S03
3   San Pedro   S04
4   San Pedro   S05
5   San Pedro   S06
6   San Pedro   S07
7   San Pedro   S08
8   San Pedro   S09
9      Uveros   U06
10     Uveros   U07
11  Damaquiel   D08
12  Damaquiel   D09
13  Damaquiel   D10
14  Damaquiel   D11
15    Pedrito   P01
16    Pedrito   P02
17    Pedrito   P03
18    Pedrito   P04
19    Pedrito   P05
20    Pedrito   P06
21    Pedrito   P07
22    Pedrito   P08
23    Pedrito   P09
24    Pedrito   P10
25    Pedrito   P11
26    Pedrito   P12
27    Pedrito   P13
28    Pedrito  PN20
29    Pedrito   P15
30  Montañita   M01
31  Montañita   M02
32  Montañita   M03
33  Montañita   M04
34  Montañita   M05

In [21]:
# Agregamos una nueva columna con el valor del Tamaño Area Bruta en el dataframe de fincas
df_fincas['Tamaño Area Bruta'] = 0
df_fincas

        Finca  Lote  Tamaño Area Bruta
0   San Pedro   S01                  0
1   San Pedro   S02                  0
2   San Pedro   S03                  0
3   San Pedro   S04                  0
4   San Pedro   S05                  0
5   San Pedro   S06                  0
6   San Pedro   S07                  0
7   San Pedro   S08                  0
8   San Pedro   S09                  0
9      Uveros   U06                  0
10     Uveros   U07                  0
11  Damaquiel   D08                  0
12  Damaquiel   D09                  0
13  Damaquiel   D10                  0
14  Damaquiel   D11                  0
15    Pedrito   P01                  0
16    Pedrito   P02                  0
17    Pedrito   P03                  0
18    Pedrito   P04                  0
19    Pedrito   P05                  0
20    Pedrito   P06                  0
21    Pedrito   P07                  0
22    Pedrito   P08                  0
23    Pedrito   P09                  0
24    Pedrito   P10                  0
25    Pedrito   P11                  0
26    Pedrito   P12                  0
27    Pedrito   P13                  0
28    Pedrito  PN20                  0
29    Pedrito   P15                  0
30  Montañita   M01                  0
31  Montañita   M02                  0
32  Montañita   M03                  0
33  Montañita   M04                  0
34  Montañita   M05                  0

## Sacamos informacion de los lotes desde el RDT

In [22]:
# Leer el archivo de excel
df = pd.read_excel(r'c:\Users\alext\Dropbox\TROPICAL  2022 oficina\Nomina Dopbox\RDT 2023\RDT 05 de Abril de 2024  (1).xlsx', sheet_name='Lotes')

In [23]:
# Eliminar las primeras 4 filas y eliminar la primera columna
df = df.iloc[4:, 1:]
# tomar los valores de la primera fila como los nombres de las columnas y eliminar la primera fila
df.columns = df.iloc[0]
df = df.iloc[1:]
# Cambia el nombre de las columnas a titulo
df.columns = df.columns.str.title()
# Elimina las columnas que estan despues de la columna 'Fecha de Creacion'
df = df.iloc[:, :df.columns.get_loc('Fecha De Creacion') + 1]
df.reset_index(drop=True, inplace=True)
df.to_csv('data/lotes.csv', index=False)

In [24]:
df = pd.read_csv('data/lotes.csv')
df

,Codigo Lote,Nombre Lote,Tamaño Area Neta,Tamaño Area Bruta,Codigo Finca,Finca,Propietario,Columna1,Lote Generico,Fecha De Creacion
0,S01,LOTE 01,5.430,5.43,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR,S01,NaN
1,S02,LOTE 02,4.780,4.78,S20,SAN PEDRO,Alex Angulo,NaN,S02,NaN
2,S03,LOTE 03,4.480,4.48,S20,SAN PEDRO,Alex Angulo,NaN,S03,NaN
3,S04,LOTE 04,4.180,4.18,S20,SAN PEDRO,Alex Angulo,NaN,S04,NaN
4,S05,LOTE 05,4.380,4.38,S20,SAN PEDRO,Alex Angulo,NaN,S05,NaN
...,...,...,...,...,...,...,...,...,...,...
98,M01,NaN,1.847,NaN,M24,LA MONTAÑITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M01,NaN
99,M02,NaN,1.737,NaN,M24,LA MONTAÑITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M02,NaN
100,M03,NaN,2.000,NaN,M24,LA MONTAÑITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M03,NaN
101,M04,NaN,2.000,NaN,M24,LA MONTAÑITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M04,NaN
102,M05,NaN,0.157,NaN,M24,LA MONTAÑITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M05,NaN

In [25]:
# Primero, creamos un diccionario que mapea los nombres de los lotes a su área
area_por_lote = df.set_index('Lote  Generico')['Tamaño Area Neta'].to_dict()

# Luego, creamos una nueva columna en df_fincas que mapea el nombre del lote a su área
df_fincas['Tamaño Area Neta'] = df_fincas['Lote'].map(area_por_lote)

In [26]:
df_fincas

        Finca  Lote  Tamaño Area Bruta  Tamaño Area Neta
0   San Pedro   S01                  0             5.430
1   San Pedro   S02                  0             4.780
2   San Pedro   S03                  0             4.480
3   San Pedro   S04                  0             4.180
4   San Pedro   S05                  0             4.380
5   San Pedro   S06                  0             4.240
6   San Pedro   S07                  0             5.550
7   San Pedro   S08                  0             3.480
8   San Pedro   S09                  0             4.000
9      Uveros   U06                  0             4.000
10     Uveros   U07                  0             4.000
11  Damaquiel   D08                  0             2.680
12  Damaquiel   D09                  0             4.490
13  Damaquiel   D10                  0             2.570
14  Damaquiel   D11                  0             3.720
15    Pedrito   P01                  0             4.630
16    Pedrito   P02                  0             2.280
17    Pedrito   P03                  0             2.670
18    Pedrito   P04                  0             1.520
19    Pedrito   P05                  0             2.360
20    Pedrito   P06                  0             3.360
21    Pedrito   P07                  0             4.060
22    Pedrito   P08                  0             2.090
23    Pedrito   P09                  0             3.680
24    Pedrito   P10                  0             3.510
25    Pedrito   P11                  0             3.380
26    Pedrito   P12                  0             2.220
27    Pedrito   P13                  0             3.030
28    Pedrito  PN20                  0               NaN
29    Pedrito   P15                  0             2.970
30  Montañita   M01                  0             1.847
31  Montañita   M02                  0             1.737
32  Montañita   M03                  0             2.000
33  Montañita   M04                  0             2.000
34  Montañita   M05                  0             0.157

In [27]:
# Sumamos la cantidad de hectareas por finca sin mostrar los lotes
temp = df_fincas.groupby('Finca').sum()
temp = temp.drop(columns='Lote')
temp.to_csv('data/total_hectareas_por_finca.csv')

## Nueva prueba de df

In [28]:
# nuevo_df = pd.read_excel('data/Prueba.xlsx', sheet_name='Embolse')
# nuevo_df

In [29]:
#nuevo_df

In [30]:
#nuevo_df.dtypes

## Sacando informacion de las cajas del excel de df

In [31]:
df = pd.read_excel(r'c:\Users\alext\Dropbox\TROPICAL  2022 oficina\Embarque Dropbox\LIQUIDADOR DE EMBARQUE.xlsx', sheet_name='CALCULO PAGO')
df.head(15)

c:\Users\alext\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,NaN,NaN,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,NaN,NaN,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,NaN,NaN,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,NaN,NaN,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
11,NaN,NaN,2021-12-29 00:00:00,2021,52,81,P23,Pedrito,2100,1000,...,25085.714286,175600,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857
12,NaN,NaN,2022-01-04 00:00:00,2022,1,330,S20,San Pedro,1500,1000,...,38884.615385,505500,0,0,San Pedro,NaN,0,NaN,NaN,116653.846154
13,NaN,NaN,2022-01-04 00:00:00,2022,1,82,U21,Uveros,1500,1000,...,31175,124700,0,0,Uveros,NaN,0,NaN,NaN,93525
14,NaN,NaN,2022-01-05 00:00:00,2022,1,303,S20,San Pedro,1500,1000,...,32928.571429,461000,0,0,San Pedro,NaN,0,NaN,NaN,98785.714286

In [32]:
# Eliminamos las primeras 6 filas y 2 columnas
df = df.iloc[6:, 2:]
# Asignamos la primera fila como nombre de las columnas
df.columns = df.iloc[0]
# Eliminamos la primera fila
df = df.iloc[1:]
df

6,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,500,978,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,500,331,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,500,978,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
11,2021-12-29 00:00:00,2021,52,81,P23,Pedrito,2100,1000,500,523,...,25085.714286,175600,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2024-04-16 00:00:00,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,0,0,San Pedro,NaN,0,NaN,NaN,0
597,2024-04-16 00:00:00,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,11894.736842,0,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526
598,2024-04-16 00:00:00,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,0,0,Uveros,NaN,0,NaN,NaN,0
599,2024-04-16 00:00:00,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,NaN,0,NaN,NaN,0
600,2024-04-22 00:00:00,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,8900,0,0,0,San Pedro,NaN,0,NaN,NaN,26700

In [33]:
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')
# Convertimos la fecha al formato 'DD/MM/YYYY'
df['Fecha'] = df['Fecha'].dt.strftime('%d/%m/%Y')
df

6,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,28/12/2021,2021,52,312,S20,San Pedro,1500,1000,500,978,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,28/12/2021,2021,52,80,U21,Uveros,1500,1000,500,331,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,29/12/2021,2021,52,221,S20,San Pedro,1500,1000,500,978,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,29/12/2021,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
11,29/12/2021,2021,52,81,P23,Pedrito,2100,1000,500,523,...,25085.714286,175600,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,16/04/2024,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,0,0,San Pedro,NaN,0,NaN,NaN,0
597,16/04/2024,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,11894.736842,0,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526
598,16/04/2024,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,0,0,Uveros,NaN,0,NaN,NaN,0
599,16/04/2024,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,NaN,0,NaN,NaN,0
600,22/04/2024,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,8900,0,0,0,San Pedro,NaN,0,NaN,NaN,26700

In [34]:
# Creamos la columna 'Cajas por Hectarea' y la llenamos con ceros
df['Cajas por Hectarea'] = 0
# La colocamos como tipo float
df['Cajas por Hectarea'] = df['Cajas por Hectarea'].astype(float)
# Creamos la columna 'Bolsas por Hectarea' y la llenamos con ceros
df['Bolsas por Hectarea'] = 0
# La colocamos como tipo float
# df['Bolsas por Hectarea'] = df['Bolsas por Hectarea'].astype(float)
df.dtypes

6
Fecha                   object
Año                     object
Semana                  object
Cajas                   object
Codigo Finca            object
                        ...
PEGA CARTON             object
BARCADILLERO            object
PRECORTE                object
Cajas por Hectarea     float64
Bolsas por Hectarea      int64
Length: 65, dtype: object

In [35]:
# Sacando los datos de 'data/total_hectareas_por_finca.csv' se creara una nueva columna en el dataframe de df tomando en cuenta la finca, el area neta y la cantidad de cajas
total_hectareas = pd.read_csv('data/total_hectareas_por_finca.csv')
for index, row in df.iterrows():
    for index2, row2 in total_hectareas.iterrows():
        if row['Finca'] == row2['Finca']:
            df.at[index, 'Cajas por Hectarea'] = row['Cajas'] / row2['Tamaño Area Neta']
# Hacemos lo mismo pero con la columna 'Bolsas'
for index, row in df.iterrows():
    for index2, row2 in total_hectareas.iterrows():
        if row['Finca'] == row2['Finca']:
            df.at[index, 'Bolsas por Hectarea'] = row['Bolsas'] / row2['Tamaño Area Neta']

df

C:\Users\alext\AppData\Local\Temp\ipykernel_18168\1858739231.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5034550839091806' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'Bolsas por Hectarea'] = row['Bolsas'] / row2['Tamaño Area Neta']

6,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE,Cajas por Hectarea,Bolsas por Hectarea
7,28/12/2021,2021,52,312,S20,San Pedro,1500,1000,500,978,...,0,0,San Pedro,NaN,0,NaN,NaN,95640,7.699901,0.503455
8,28/12/2021,2021,52,80,U21,Uveros,1500,1000,500,331,...,0,0,Uveros,NaN,0,NaN,NaN,93825,10.000000,1.275000
9,29/12/2021,2021,52,221,S20,San Pedro,1500,1000,500,978,...,0,0,San Pedro,NaN,0,NaN,NaN,83625,5.454097,0.148075
10,29/12/2021,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,0,0,Damaquiel,NaN,0,NaN,NaN,118800,8.915305,2.674591
11,29/12/2021,2021,52,81,P23,Pedrito,2100,1000,500,523,...,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857,1.939655,0.263410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,16/04/2024,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,San Pedro,NaN,0,NaN,NaN,0,0.172754,0.000000
597,16/04/2024,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526,2.705939,0.000000
598,16/04/2024,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,Uveros,NaN,0,NaN,NaN,0,3.750000,0.000000
599,16/04/2024,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,NaN,0,NaN,NaN,0,0.000000,0.000000
600,22/04/2024,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,0,0,San Pedro,NaN,0,NaN,NaN,26700,2.196446,0.000000

In [36]:
# Eliminamos las filas que tengan el Año = 2021
df = df.drop(df[df['Año'] == 2021].index)
df

6,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE,Cajas por Hectarea,Bolsas por Hectarea
12,04/01/2022,2022,1,330,S20,San Pedro,1500,1000,500,1091,...,0,0,San Pedro,NaN,0,NaN,NaN,116653.846154,8.144126,0.518263
13,04/01/2022,2022,1,82,U21,Uveros,1500,1000,500,362,...,0,0,Uveros,NaN,0,NaN,NaN,93525,10.250000,0.425000
14,05/01/2022,2022,1,303,S20,San Pedro,1500,1000,500,917,...,0,0,San Pedro,NaN,0,NaN,NaN,98785.714286,7.477789,0.320829
15,05/01/2022,2022,1,77,P23,Pedrito,2100,1000,500,434,...,0,0,Pedrito,NaN,0,NaN,NaN,93100,1.843870,1.173372
16,05/01/2022,2022,1,100,D22,Damaquiel,1500,1000,500,606,...,0,0,Damaquiel,NaN,0,NaN,NaN,93060,7.429421,0.757801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,16/04/2024,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,San Pedro,NaN,0,NaN,NaN,0,0.172754,0.000000
597,16/04/2024,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526,2.705939,0.000000
598,16/04/2024,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,Uveros,NaN,0,NaN,NaN,0,3.750000,0.000000
599,16/04/2024,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,NaN,0,NaN,NaN,0,0.000000,0.000000
600,22/04/2024,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,0,0,San Pedro,NaN,0,NaN,NaN,26700,2.196446,0.000000

In [37]:
# Colocar fecha en tipo datetime
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%d/%m/%Y')
df

6,Fecha,Año,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE,Cajas por Hectarea,Bolsas por Hectarea
12,2022-01-04,2022,1,330,S20,San Pedro,1500,1000,500,1091,...,0,0,San Pedro,NaN,0,NaN,NaN,116653.846154,8.144126,0.518263
13,2022-01-04,2022,1,82,U21,Uveros,1500,1000,500,362,...,0,0,Uveros,NaN,0,NaN,NaN,93525,10.250000,0.425000
14,2022-01-05,2022,1,303,S20,San Pedro,1500,1000,500,917,...,0,0,San Pedro,NaN,0,NaN,NaN,98785.714286,7.477789,0.320829
15,2022-01-05,2022,1,77,P23,Pedrito,2100,1000,500,434,...,0,0,Pedrito,NaN,0,NaN,NaN,93100,1.843870,1.173372
16,2022-01-05,2022,1,100,D22,Damaquiel,1500,1000,500,606,...,0,0,Damaquiel,NaN,0,NaN,NaN,93060,7.429421,0.757801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2024-04-16,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,San Pedro,NaN,0,NaN,NaN,0,0.172754,0.000000
597,2024-04-16,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526,2.705939,0.000000
598,2024-04-16,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,Uveros,NaN,0,NaN,NaN,0,3.750000,0.000000
599,2024-04-16,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,NaN,0,NaN,NaN,0,0.000000,0.000000
600,2024-04-22,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,0,0,San Pedro,NaN,0,NaN,NaN,26700,2.196446,0.000000

In [38]:
df['Año'].unique()
df['Finca'].unique()

array(['San Pedro', 'Uveros', 'Pedrito', 'Damaquiel', 0], dtype=object)

In [39]:
# Eliminar las filas donde la 'Finca' sea igual a 0
df = df[df['Finca'] != 0]
df['Finca'].unique()

array(['San Pedro', 'Uveros', 'Pedrito', 'Damaquiel'], dtype=object)

In [40]:
df.columns.to_flat_index()

Index(['Fecha', 'Año', 'Semana', 'Cajas', 'Codigo Finca', 'Finca',
       'Precio Caja', 'Precio Caja Segunda', 'Precio Bolsa', 'Total Racimos',
       'Ratio', 'Racimos Precortados', 'Personas Precorte', 'Cajas Estimadas',
       'Cajas por Personas', 'Valor Precorte Pesona', 'Racimos Cortados',
       'Personas Precorte2', 'Cajas Embarque', 'Cajas por Personas2',
       'Valor Embarque Pesona', 'Cajas Segunda', 'Personas Intervienen',
       'Columna3', 'Columna2', 'Columna1', 'Bosas', 'kilos', 'Sacas',
       'Peso Sacas', 'Personas13', 'Bolsas', 'Bolsas Por Personas',
       'Valor bolsas Pesona', 'Cajas por Personas Precorte',
       'Valor Precorte Pesona Precorte', 'Perzonas Precorte',
       'Total Valor Precorte', 'Cajas por Personas Embarque',
       'Valor Embarque Pesona3', 'Perzona Primera', 'Total Valor Primera',
       'Valor Embarque Pesona4', 'Valor Embarque Pesona5', 'Presonas Segunda',
       'Total Valor Segunda', 'Rechazo', 'Valor bolsas Pesona2',
       'Personas Rechazo', 'Total Rechazo', 'TOTAL A PAGAR', 'VALOR GANADO',
       'REAJUSTADO', 'CUANTO SE REAJUSTA', 'Columna7', 'Columna8',
       'TOTAL EMBARQUE REAJUSTADO', 'Finca2', 'Numero de Ocacionales',
       'EMBARQUE', 'PEGA CARTON', 'BARCADILLERO', 'PRECORTE',
       'Cajas por Hectarea', 'Bolsas por Hectarea'],
      dtype='object', name=6)

In [41]:
columnas_a_conservar = ['Año', 'Semana', 'Finca', 'Cajas', 'Bolsas', 'Cajas por Hectarea']

In [42]:
# Eliminamos las columnas que no estan en 'columnas_a_conservar'
df = df[columnas_a_conservar]
df

6     Año Semana      Finca Cajas Bolsas  Cajas por Hectarea
12   2022      1  San Pedro   330     21            8.144126
13   2022      1     Uveros    82    3.4           10.250000
14   2022      1  San Pedro   303     13            7.477789
15   2022      1    Pedrito    77     49            1.843870
16   2022      1  Damaquiel   100   10.2            7.429421
..    ...    ...        ...   ...    ...                 ...
595  2024     16  San Pedro     5      0            0.123396
596  2024     16  San Pedro     7      0            0.172754
597  2024     16    Pedrito   113      0            2.705939
598  2024     16     Uveros    30      0            3.750000
600  2024     17  San Pedro    89      0            2.196446

[584 rows x 6 columns]

In [43]:
# Debido a que hay datos que se tomaron en la misma semana, pero en dias toca sumarlos para que no se repitan
df = df.groupby(['Año', 'Semana', 'Finca']).sum().reset_index()
df

6     Año  Semana      Finca Cajas Bolsas  Cajas por Hectarea
0    2022       1  Damaquiel   100   10.2            7.429421
1    2022       1    Pedrito    77     49            1.843870
2    2022       1  San Pedro   633     34           15.621915
3    2022       1     Uveros    82    3.4           10.250000
4    2022       2  Damaquiel    81   10.2            6.017831
..    ...     ...        ...   ...    ...                 ...
421  2024      15  San Pedro   101      0            2.492596
422  2024      16    Pedrito   113      0            2.705939
423  2024      16  San Pedro   200      0            4.935834
424  2024      16     Uveros    30      0            3.750000
425  2024      17  San Pedro    89      0            2.196446

[426 rows x 6 columns]

In [44]:
df_agrupado = df.groupby(['Finca', 'Año', 'Semana']).sum(numeric_only=True).reset_index()
df_agrupado

6        Finca   Año  Semana  Cajas por Hectarea
0    Damaquiel  2022       1            7.429421
1    Damaquiel  2022       2            6.017831
2    Damaquiel  2022       3           12.035661
3    Damaquiel  2022       4            8.915305
4    Damaquiel  2022       5           10.698366
..         ...   ...     ...                 ...
421     Uveros  2024      11            1.375000
422     Uveros  2024      12            0.000000
423     Uveros  2024      13            2.125000
424     Uveros  2024      14            1.250000
425     Uveros  2024      16            3.750000

[426 rows x 4 columns]

In [45]:
df_agrupado[(df_agrupado['Finca'] == 'San Pedro') & (df_agrupado['Año'] == 2022) & (df_agrupado['Semana'] == 1)]

6        Finca   Año  Semana  Cajas por Hectarea
202  San Pedro  2022       1           15.621915

In [46]:
df.to_csv('data/df.csv')

## Cargando las labores desde la tabla vinculada

In [47]:
## Prueba
#prueba =pd.read_excel('data/Datos.xlsx', sheet_name='Labores')
#prueba.head(15)

In [48]:
#prueba['Lote'].unique()

In [49]:
# Eliminamos las filas que no tienen información
#prueba = prueba[prueba['Lote'] != 0]
#prueba['Lote'].unique()

In [50]:
# prueba.to_csv('data/prueba.csv')

## Probando los datos de SIOMA

In [51]:
df = pd.read_excel(r'c:\Users\alext\Downloads\Etiquetas_por_division.xlsx')
df

,Código,Finca,Lote,lat,lng,Fecha,Tipo de labor
0,C 986,Finca San Pedro,U06,8.739557,-76.580495,2024-04-09 08:46:50,Gris
1,C 986,Finca San Pedro,U06,8.739128,-76.580300,2024-04-09 08:54:09,Gris
2,C 986,Finca San Pedro,U06,8.739280,-76.580573,2024-04-09 08:57:30,Gris
3,C 986,Finca San Pedro,U06,8.739350,-76.580700,2024-04-09 09:35:29,Gris
4,C 986,Finca San Pedro,U06,8.739175,-76.580517,2024-04-09 09:47:23,Gris
...,...,...,...,...,...,...,...
5355,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:48,Rojo
5356,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:50,Rojo
5357,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:52,Rojo
5358,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:54,Rojo
5359,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:56,Rojo

In [52]:
# Agregamos la columna de Año y Semana
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%Y-%m-%d %H:%M:%S')
df['Año'] = df['Fecha'].dt.year
df['Semana'] = df['Fecha'].dt.isocalendar().week
# df = df.drop(columns=['lat', 'lng', 'Fecha', 'Código'])
df

,Código,Finca,Lote,lat,lng,Fecha,Tipo de labor,Año,Semana
0,C 986,Finca San Pedro,U06,8.739557,-76.580495,2024-04-09 08:46:50,Gris,2024,15
1,C 986,Finca San Pedro,U06,8.739128,-76.580300,2024-04-09 08:54:09,Gris,2024,15
2,C 986,Finca San Pedro,U06,8.739280,-76.580573,2024-04-09 08:57:30,Gris,2024,15
3,C 986,Finca San Pedro,U06,8.739350,-76.580700,2024-04-09 09:35:29,Gris,2024,15
4,C 986,Finca San Pedro,U06,8.739175,-76.580517,2024-04-09 09:47:23,Gris,2024,15
...,...,...,...,...,...,...,...,...,...
5355,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:48,Rojo,2024,16
5356,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:50,Rojo,2024,16
5357,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:52,Rojo,2024,16
5358,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:54,Rojo,2024,16
5359,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:56,Rojo,2024,16

In [53]:
df.dtypes

Código                   object
Finca                    object
Lote                     object
lat                     float64
lng                     float64
Fecha            datetime64[ns]
Tipo de labor            object
Año                       int32
Semana                   UInt32
dtype: object

In [54]:
df.groupby(['Tipo de labor']).value_counts()

Tipo de labor  Código  Finca            Lote  lat       lng         Fecha                Año   Semana
Amarillo       Q 811   Finca San Pedro  S01   8.800337  -76.503568  2024-04-10 15:50:58  2024  15        1
Azul           Q 811   Finca San Pedro  D08   8.734152  -76.600518  2024-04-11 08:35:16  2024  15        1
Cafe           E 800   Finca San Pedro  M01   8.748144  -76.528842  2024-04-10 07:34:25  2024  15        1
                                              8.748258  -76.528792  2024-04-10 07:34:44  2024  15        1
                                              8.748270  -76.529023  2024-04-10 07:36:59  2024  15        1
                                                                                                        ..
Rojo           w582    Finca San Pedro  S07   8.805468  -76.506893  2024-04-16 09:04:48  2024  16        1
                                              8.805472  -76.506707  2024-04-16 09:00:56  2024  16        1
Verde          C 986   Finca San Pedro  U06   8.739703  -76.580783  2024-04-16 19:31:11  2024  16        1
                                                                    2024-04-16 19:31:40  2024  16        1
                                                                    2024-04-16 19:31:42  2024  16        1
Name: count, Length: 5275, dtype: int64

In [55]:
df['Finca'] = ''

In [56]:
# Usando la informacion del diccionario fincas, si un lote dentro del dataframe esta en uno de los values de finca, colocar la key en la columna finca
for index, row in df.iterrows():
    for key, value in fincas.items():
        if row['Lote'] in value:
            df.at[index, 'Finca'] = key
df

,Código,Finca,Lote,lat,lng,Fecha,Tipo de labor,Año,Semana
0,C 986,Uveros,U06,8.739557,-76.580495,2024-04-09 08:46:50,Gris,2024,15
1,C 986,Uveros,U06,8.739128,-76.580300,2024-04-09 08:54:09,Gris,2024,15
2,C 986,Uveros,U06,8.739280,-76.580573,2024-04-09 08:57:30,Gris,2024,15
3,C 986,Uveros,U06,8.739350,-76.580700,2024-04-09 09:35:29,Gris,2024,15
4,C 986,Uveros,U06,8.739175,-76.580517,2024-04-09 09:47:23,Gris,2024,15
...,...,...,...,...,...,...,...,...,...
5355,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:48,Rojo,2024,16
5356,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:50,Rojo,2024,16
5357,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:52,Rojo,2024,16
5358,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:54,Rojo,2024,16
5359,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:56,Rojo,2024,16

In [57]:
df['Lote'].unique()

array(['U06', 'U07', nan, 'S01', 'S02', 'S08', 'S03', 'S04', 'S05', 'S07',
       'S06', 'P05', 'P13', 'P14', 'P03', 'P04', 'P01', 'P10', 'P09',
       'P16', 'P07', 'P11', 'P06', 'P15', 'P02', 'P08', 'P12', 'M02',
       'M01', 'M05', 'M04', 'D08', 'D20'], dtype=object)

In [58]:
# Eliminamos las filas que el 'Lote' en nan
df = df.dropna(subset=['Lote'])
df['Lote'].unique()

array(['U06', 'U07', 'S01', 'S02', 'S08', 'S03', 'S04', 'S05', 'S07',
       'S06', 'P05', 'P13', 'P14', 'P03', 'P04', 'P01', 'P10', 'P09',
       'P16', 'P07', 'P11', 'P06', 'P15', 'P02', 'P08', 'P12', 'M02',
       'M01', 'M05', 'M04', 'D08', 'D20'], dtype=object)

In [59]:
# Cambiar el nombre de 'Tipo de labor' a 'Color'
df = df.rename(columns={'Tipo de labor': 'Color'})
df

,Código,Finca,Lote,lat,lng,Fecha,Color,Año,Semana
0,C 986,Uveros,U06,8.739557,-76.580495,2024-04-09 08:46:50,Gris,2024,15
1,C 986,Uveros,U06,8.739128,-76.580300,2024-04-09 08:54:09,Gris,2024,15
2,C 986,Uveros,U06,8.739280,-76.580573,2024-04-09 08:57:30,Gris,2024,15
3,C 986,Uveros,U06,8.739350,-76.580700,2024-04-09 09:35:29,Gris,2024,15
4,C 986,Uveros,U06,8.739175,-76.580517,2024-04-09 09:47:23,Gris,2024,15
...,...,...,...,...,...,...,...,...,...
5355,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:48,Rojo,2024,16
5356,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:50,Rojo,2024,16
5357,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:52,Rojo,2024,16
5358,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:54,Rojo,2024,16
5359,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:56,Rojo,2024,16

In [60]:
week = 16
# Mostrar los valores de la semana 16, año 2024, en la finca 'San Pedro'
df[(df['Semana'] == week) & (df['Año'] == 2024) & (df['Finca'] == 'San Pedro')]

,Código,Finca,Lote,lat,lng,Fecha,Color,Año,Semana
374,M 284,San Pedro,S01,8.800497,-76.503932,2024-04-16 06:26:29,Rojo,2024,16
375,M 284,San Pedro,S01,8.800442,-76.504165,2024-04-16 06:28:25,Rojo,2024,16
376,M 284,San Pedro,S01,8.800685,-76.503930,2024-04-16 06:34:47,Rojo,2024,16
377,M 284,San Pedro,S01,8.800407,-76.503630,2024-04-16 06:40:46,Rojo,2024,16
378,M 284,San Pedro,S01,8.800343,-76.503535,2024-04-16 06:42:03,Rojo,2024,16
...,...,...,...,...,...,...,...,...,...
4912,w582,San Pedro,S06,8.805432,-76.505960,2024-04-16 08:27:45,Rojo,2024,16
4913,w582,San Pedro,S06,8.805372,-76.505915,2024-04-16 08:28:48,Rojo,2024,16
4914,w582,San Pedro,S06,8.805480,-76.505698,2024-04-16 08:30:23,Rojo,2024,16
4915,w582,San Pedro,S06,8.805557,-76.506022,2024-04-16 08:32:54,Rojo,2024,16
4916,w582,San Pedro,S06,8.802803,-76.507018,2024-04-16 09:57:02,Rojo,2024,16

In [61]:
# Borrar las filas donde Finca sea igual a ''
df = df[df['Finca'] != '']

In [62]:
df['Finca'].unique()

array(['Uveros', 'San Pedro', 'Pedrito', 'Montañita', 'Damaquiel'],
      dtype=object)

In [63]:
df.to_csv('data/sioma.csv', index=False)

In [64]:
# Usaremos un ciclo, para contar la cantidad de labores en cada finca por semana y por color y guardarlo en un dataframe
df_labores = pd.DataFrame()
for i in range(df['Semana'].max()):
    temp = df[df['Semana'] == i]['Color'].value_counts()
    temp = temp.reset_index()
    temp = temp.rename(columns={'index': 'Color', 'Color': 'Cantidad'})
    temp['Semana'] = i
    df_labores = pd.concat([df_labores, temp])
df_labores.reset_index(drop=True, inplace=True)
df_labores

   Cantidad  count  Semana
0    Morado   1692      15
1      Gris    380      15
2     Negro    311      15
3      Cafe    111      15
4  Amarillo      1      15
5      Azul      1      15
6   Naranja      1      15

In [65]:
temp = df.groupby(by='Semana')['Color'].value_counts().unstack().fillna(0)
temp

Color   Amarillo  Azul   Cafe   Gris  Morado  Naranja  Negro    Rojo  Verde
Semana
15           1.0   1.0  111.0  380.0  1692.0      1.0  311.0     0.0    0.0
16           0.0   0.0    0.0    0.0   382.0      0.0    0.0  2098.0    3.0

In [66]:
# Sumar la cantidad por semana
temp = temp.reset_index()
temp = temp.melt(id_vars='Semana', var_name='Color', value_name='Cantidad')
temp = temp[temp['Cantidad'] != 0]
temp

    Semana     Color  Cantidad
0       15  Amarillo       1.0
2       15      Azul       1.0
4       15      Cafe     111.0
6       15      Gris     380.0
8       15    Morado    1692.0
9       16    Morado     382.0
10      15   Naranja       1.0
12      15     Negro     311.0
15      16      Rojo    2098.0
17      16     Verde       3.0

In [67]:
# Agrupar por semana y sumar la cantidad dejando solo las columnas 'Semana' y 'Cantidad'
# temp = temp.groupby(by='Semana').sum()
#temp = temp.reset_index()
#temp = temp.drop(columns='Color')
#temp

In [68]:
# Crear un dataframe con los colores por semana, son 10 colores, estos colores se repetiran 52 veces, asignamos el codigo de color a cada color usando el diccionario color
colores = ['Blanco', 'Azul', 'Cafe', 'Gris', 'Morado', 'Rojo', 'Negro', 'Naranja', 'Verde', 'Amarillo']
color_dict = {
    'Blanco': '#FFFFFF',
    'Azul': '#0000FF',
    'Cafe': '#964B00',
    'Gris': '#808080',
    'Morado': '#A020F0',
    'Rojo': '#FF0000',
    'Negro': '#000000',
    'Naranja': '#FFA500',
    'Verde': '#008000',
    'Amarillo': '#FFFF00'
}

color = pd.DataFrame(columns=['Semana', 'Color', 'Codigo Color'])
for i in range(0, 52, 1):
    semana = i % 10
    color_semana = colores[semana]
    codigo_color = color_dict[color_semana]
    color = pd.concat([color, pd.DataFrame({'Semana': [i+1], 'Color': [color_semana], 'Codigo Color': [codigo_color]})], ignore_index=True)
color.to_csv('data/colores_semana_embolse.csv',index=False)
color

   Semana     Color Codigo Color
0       1    Blanco      #FFFFFF
1       2      Azul      #0000FF
2       3      Cafe      #964B00
3       4      Gris      #808080
4       5    Morado      #A020F0
5       6      Rojo      #FF0000
6       7     Negro      #000000
7       8   Naranja      #FFA500
8       9     Verde      #008000
9      10  Amarillo      #FFFF00
10     11    Blanco      #FFFFFF
11     12      Azul      #0000FF
12     13      Cafe      #964B00
13     14      Gris      #808080
14     15    Morado      #A020F0
15     16      Rojo      #FF0000
16     17     Negro      #000000
17     18   Naranja      #FFA500
18     19     Verde      #008000
19     20  Amarillo      #FFFF00
20     21    Blanco      #FFFFFF
21     22      Azul      #0000FF
22     23      Cafe      #964B00
23     24      Gris      #808080
24     25    Morado      #A020F0
25     26      Rojo      #FF0000
26     27     Negro      #000000
27     28   Naranja      #FFA500
28     29     Verde      #008000
29     30  Amarillo      #FFFF00
30     31    Blanco      #FFFFFF
31     32      Azul      #0000FF
32     33      Cafe      #964B00
33     34      Gris      #808080
34     35    Morado      #A020F0
35     36      Rojo      #FF0000
36     37     Negro      #000000
37     38   Naranja      #FFA500
38     39     Verde      #008000
39     40  Amarillo      #FFFF00
40     41    Blanco      #FFFFFF
41     42      Azul      #0000FF
42     43      Cafe      #964B00
43     44      Gris      #808080
44     45    Morado      #A020F0
45     46      Rojo      #FF0000
46     47     Negro      #000000
47     48   Naranja      #FFA500
48     49     Verde      #008000
49     50  Amarillo      #FFFF00
50     51    Blanco      #FFFFFF
51     52      Azul      #0000FF

In [69]:
# Crear un dataframe con los colores por semana, son 10 colores, estos colores se repetiran 52 veces, asignamos el codigo de color a cada color usando el diccionario color
colores = ['Verde', 'Amarillo', 'Blanco', 'Azul', 'Cafe', 'Gris', 'Morado', 'Rojo', 'Negro', 'Naranja']
color_dict = {
    'Blanco': '#FFFFFF',
    'Azul': '#0000FF',
    'Cafe': '#964B00',
    'Gris': '#808080',
    'Morado': '#A020F0',
    'Rojo': '#FF0000',
    'Negro': '#000000',
    'Naranja': '#FFA500',
    'Verde': '#008000',
    'Amarillo': '#FFFF00'
}

color = pd.DataFrame(columns=['Semana', 'Color', 'Codigo Color'])
for i in range(0, 52, 1):
    semana = i % 10
    color_semana = colores[semana]
    codigo_color = color_dict[color_semana]
    color = pd.concat([color, pd.DataFrame({'Semana': [i+1], 'Color': [color_semana], 'Codigo Color': [codigo_color]})], ignore_index=True)
color.to_csv('data/colores_semana_desflore.csv',index=False)
color

   Semana     Color Codigo Color
0       1     Verde      #008000
1       2  Amarillo      #FFFF00
2       3    Blanco      #FFFFFF
3       4      Azul      #0000FF
4       5      Cafe      #964B00
5       6      Gris      #808080
6       7    Morado      #A020F0
7       8      Rojo      #FF0000
8       9     Negro      #000000
9      10   Naranja      #FFA500
10     11     Verde      #008000
11     12  Amarillo      #FFFF00
12     13    Blanco      #FFFFFF
13     14      Azul      #0000FF
14     15      Cafe      #964B00
15     16      Gris      #808080
16     17    Morado      #A020F0
17     18      Rojo      #FF0000
18     19     Negro      #000000
19     20   Naranja      #FFA500
20     21     Verde      #008000
21     22  Amarillo      #FFFF00
22     23    Blanco      #FFFFFF
23     24      Azul      #0000FF
24     25      Cafe      #964B00
25     26      Gris      #808080
26     27    Morado      #A020F0
27     28      Rojo      #FF0000
28     29     Negro      #000000
29     30   Naranja      #FFA500
30     31     Verde      #008000
31     32  Amarillo      #FFFF00
32     33    Blanco      #FFFFFF
33     34      Azul      #0000FF
34     35      Cafe      #964B00
35     36      Gris      #808080
36     37    Morado      #A020F0
37     38      Rojo      #FF0000
38     39     Negro      #000000
39     40   Naranja      #FFA500
40     41     Verde      #008000
41     42  Amarillo      #FFFF00
42     43    Blanco      #FFFFFF
43     44      Azul      #0000FF
44     45      Cafe      #964B00
45     46      Gris      #808080
46     47    Morado      #A020F0
47     48      Rojo      #FF0000
48     49     Negro      #000000
49     50   Naranja      #FFA500
50     51     Verde      #008000
51     52  Amarillo      #FFFF00

In [70]:
# Se reinicia el index
temp.reset_index()
temp.size

30

In [71]:
temp

    Semana     Color  Cantidad
0       15  Amarillo       1.0
2       15      Azul       1.0
4       15      Cafe     111.0
6       15      Gris     380.0
8       15    Morado    1692.0
9       16    Morado     382.0
10      15   Naranja       1.0
12      15     Negro     311.0
15      16      Rojo    2098.0
17      16     Verde       3.0

In [72]:
codigo_color_dict = dict(zip(color['Color'], color['Codigo Color']))
temp['Codigo Color'] = temp['Color'].map(codigo_color_dict)
temp

    Semana     Color  Cantidad Codigo Color
0       15  Amarillo       1.0      #FFFF00
2       15      Azul       1.0      #0000FF
4       15      Cafe     111.0      #964B00
6       15      Gris     380.0      #808080
8       15    Morado    1692.0      #A020F0
9       16    Morado     382.0      #A020F0
10      15   Naranja       1.0      #FFA500
12      15     Negro     311.0      #000000
15      16      Rojo    2098.0      #FF0000
17      16     Verde       3.0      #008000