In [101]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\alext\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\alext\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alext\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\alext\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alext\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\alext\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [102]:
import numpy as np
import pandas as pd

# Extrayendo informacion del excel de Embolse

## Se usa otro excel

In [103]:
df = pd.read_excel(r'c:\Users\alext\Dropbox\TROPICAL  2022 oficina\Embarque Dropbox\LIQUIDADOR DE EMBARQUE.xlsx', sheet_name='CALCULO PAGO')
df.head(15)

c:\Users\alext\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,NaN,NaN,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,NaN,NaN,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,NaN,NaN,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,NaN,NaN,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
11,NaN,NaN,2021-12-29 00:00:00,2021,52,81,P23,Pedrito,2100,1000,...,25085.714286,175600,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857
12,NaN,NaN,2022-01-04 00:00:00,2022,1,330,S20,San Pedro,1500,1000,...,38884.615385,505500,0,0,San Pedro,NaN,0,NaN,NaN,116653.846154
13,NaN,NaN,2022-01-04 00:00:00,2022,1,82,U21,Uveros,1500,1000,...,31175,124700,0,0,Uveros,NaN,0,NaN,NaN,93525
14,NaN,NaN,2022-01-05 00:00:00,2022,1,303,S20,San Pedro,1500,1000,...,32928.571429,461000,0,0,San Pedro,NaN,0,NaN,NaN,98785.714286

In [104]:
# Eliminamos las primeras 6 filas y 2 columnas
df = df.iloc[6:, 2:]
df

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
6,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,500,978,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,500,331,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,500,978,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2024-04-16 00:00:00,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,0,0,San Pedro,NaN,0,NaN,NaN,0
597,2024-04-16 00:00:00,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,11894.736842,0,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526
598,2024-04-16 00:00:00,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,0,0,Uveros,NaN,0,NaN,NaN,0
599,2024-04-16 00:00:00,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,NaN,0,NaN,NaN,0
600,2024-04-22 00:00:00,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,8900,0,0,0,San Pedro,NaN,0,NaN,NaN,26700

In [105]:
# Asignamos la primera fila como nombre de las columnas
df.columns = df.iloc[0]
df

6,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
6,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,500,978,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,500,331,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,500,978,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2024-04-16 00:00:00,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,0,0,San Pedro,NaN,0,NaN,NaN,0
597,2024-04-16 00:00:00,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,11894.736842,0,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526
598,2024-04-16 00:00:00,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,0,0,Uveros,NaN,0,NaN,NaN,0
599,2024-04-16 00:00:00,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,NaN,0,NaN,NaN,0
600,2024-04-22 00:00:00,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,8900,0,0,0,San Pedro,NaN,0,NaN,NaN,26700

## Extrayendo excel

In [106]:
df = pd.read_excel(r'c:\Users\alext\Dropbox\TROPICAL  2022 oficina\Embarque Dropbox\Embolse 19 de agosto de  2023 (1).xlsx', sheet_name='Embolse')
df

c:\Users\alext\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,2025-01-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 273,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280,Unnamed: 281,Unnamed: 282
0,NaN,NaN,2024-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2023-01-02 00:00:00,NaN,NaN,NaN,NaN,SAN PEDRO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2022-01-03 00:00:00,NaN,NaN,NaN,NaN,S01,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Semana De Embeose,Ano de Embolse,Semana Embolse,NaN,NaN,Lun,Mar,MiÃ©,...,P12,P13,P14,P15,Total San Pedro,NaN,NaN,Total AntioqueÃ±ita,Total Pedrito,Total General
4,NaN,NaN,Semana De Embolse,AÃ±o,Semana Embolse,Color,Edad,Lun,Mar.,MiÃ©.,...,P12,P13,P14,P15,Total San Pedro,Total Uveros,Total Damaquiel,Total AntioqueÃ±ita,Total Pedrito,Total General
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,NaN,NaN,2025,1,NaN,52,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
132,NaN,NaN,NaN,2025,2,NaN,51,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
133,NaN,NaN,NaN,2025,3,NaN,50,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
134,NaN,NaN,NaN,2025,4,NaN,49,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
135,NaN,NaN,NaN,2025,5,NaN,48,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [107]:
# Eliminamos las filas que no tienen informaciÃ³n
df = df.iloc[3:]
df

,Unnamed: 0,Unnamed: 1,2025-01-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 273,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280,Unnamed: 281,Unnamed: 282
3,NaN,NaN,Semana De Embeose,Ano de Embolse,Semana Embolse,NaN,NaN,Lun,Mar,MiÃ©,...,P12,P13,P14,P15,Total San Pedro,NaN,NaN,Total AntioqueÃ±ita,Total Pedrito,Total General
4,NaN,NaN,Semana De Embolse,AÃ±o,Semana Embolse,Color,Edad,Lun,Mar.,MiÃ©.,...,P12,P13,P14,P15,Total San Pedro,Total Uveros,Total Damaquiel,Total AntioqueÃ±ita,Total Pedrito,Total General
5,NaN,NaN,2022-08-01 00:00:00,2022,31,Negra,90,222,NaN,NaN,...,0,0,0,0,539,0,0,0,0,539
6,NaN,NaN,2022-08-08 00:00:00,2022,32,Naranja,89,222,NaN,NaN,...,0,0,0,0,1269,0,0,0,0,1269
7,NaN,NaN,2022-08-15 00:00:00,2022,33,Verde,88,101,NaN,NaN,...,0,0,0,0,871,0,0,0,0,871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,NaN,NaN,2025,1,NaN,52,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
132,NaN,NaN,NaN,2025,2,NaN,51,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
133,NaN,NaN,NaN,2025,3,NaN,50,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
134,NaN,NaN,NaN,2025,4,NaN,49,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
135,NaN,NaN,NaN,2025,5,NaN,48,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [108]:
# Eliminamos las primeras 2 columnas
df = df.iloc[:, 2:]
df

,2025-01-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 273,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280,Unnamed: 281,Unnamed: 282
3,Semana De Embeose,Ano de Embolse,Semana Embolse,NaN,NaN,Lun,Mar,MiÃ©,Jue,Vie,...,P12,P13,P14,P15,Total San Pedro,NaN,NaN,Total AntioqueÃ±ita,Total Pedrito,Total General
4,Semana De Embolse,AÃ±o,Semana Embolse,Color,Edad,Lun,Mar.,MiÃ©.,Jue.,Vie.,...,P12,P13,P14,P15,Total San Pedro,Total Uveros,Total Damaquiel,Total AntioqueÃ±ita,Total Pedrito,Total General
5,2022-08-01 00:00:00,2022,31,Negra,90,222,NaN,NaN,NaN,NaN,...,0,0,0,0,539,0,0,0,0,539
6,2022-08-08 00:00:00,2022,32,Naranja,89,222,NaN,NaN,NaN,NaN,...,0,0,0,0,1269,0,0,0,0,1269
7,2022-08-15 00:00:00,2022,33,Verde,88,101,NaN,NaN,NaN,NaN,...,0,0,0,0,871,0,0,0,0,871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,2025,1,NaN,52,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
132,NaN,2025,2,NaN,51,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
133,NaN,2025,3,NaN,50,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
134,NaN,2025,4,NaN,49,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
135,NaN,2025,5,NaN,48,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

## Creando diccionario de datos con las fincas

In [109]:
fincas = {
    'San Pedro': ['S01', 'S02', 'S03', 'S04', 'S05', 'S06', 'S07', 'S08', 'S09'],
    'Uveros' : ['U06', 'U07'],
    'Damaquiel': ['D08', 'D09', 'D10', 'D11'],
    'Pedrito': ['P01', 'P02', 'P03', 'P04', 'P05', 'P06', 'P07', 'P08', 'P09', 'P10', 'P11', 'P12', 'P13', 'PN20', 'P15'],
    'La MontaÃ±ita': ['M01', 'M02', 'M03', 'M04', 'M05']
    }

In [110]:
# Ahora con este diccionario hacemos un dataframe donde la key es la finca y los values son los lotes, colocamos una fila por cada lote
df_fincas = pd.DataFrame([(k, lote) for k, v in fincas.items() for lote in v], columns=['Finca', 'Lote'])
df_fincas

           Finca  Lote
0      San Pedro   S01
1      San Pedro   S02
2      San Pedro   S03
3      San Pedro   S04
4      San Pedro   S05
5      San Pedro   S06
6      San Pedro   S07
7      San Pedro   S08
8      San Pedro   S09
9         Uveros   U06
10        Uveros   U07
11     Damaquiel   D08
12     Damaquiel   D09
13     Damaquiel   D10
14     Damaquiel   D11
15       Pedrito   P01
16       Pedrito   P02
17       Pedrito   P03
18       Pedrito   P04
19       Pedrito   P05
20       Pedrito   P06
21       Pedrito   P07
22       Pedrito   P08
23       Pedrito   P09
24       Pedrito   P10
25       Pedrito   P11
26       Pedrito   P12
27       Pedrito   P13
28       Pedrito  PN20
29       Pedrito   P15
30  La MontaÃ±ita   M01
31  La MontaÃ±ita   M02
32  La MontaÃ±ita   M03
33  La MontaÃ±ita   M04
34  La MontaÃ±ita   M05

In [111]:
# Agregamos una nueva columna con el valor del TamaÃ±o Area Bruta en el dataframe de fincas
df_fincas['TamaÃ±o Area Bruta'] = 0
df_fincas

           Finca  Lote  TamaÃ±o Area Bruta
0      San Pedro   S01                  0
1      San Pedro   S02                  0
2      San Pedro   S03                  0
3      San Pedro   S04                  0
4      San Pedro   S05                  0
5      San Pedro   S06                  0
6      San Pedro   S07                  0
7      San Pedro   S08                  0
8      San Pedro   S09                  0
9         Uveros   U06                  0
10        Uveros   U07                  0
11     Damaquiel   D08                  0
12     Damaquiel   D09                  0
13     Damaquiel   D10                  0
14     Damaquiel   D11                  0
15       Pedrito   P01                  0
16       Pedrito   P02                  0
17       Pedrito   P03                  0
18       Pedrito   P04                  0
19       Pedrito   P05                  0
20       Pedrito   P06                  0
21       Pedrito   P07                  0
22       Pedrito   P08                  0
23       Pedrito   P09                  0
24       Pedrito   P10                  0
25       Pedrito   P11                  0
26       Pedrito   P12                  0
27       Pedrito   P13                  0
28       Pedrito  PN20                  0
29       Pedrito   P15                  0
30  La MontaÃ±ita   M01                  0
31  La MontaÃ±ita   M02                  0
32  La MontaÃ±ita   M03                  0
33  La MontaÃ±ita   M04                  0
34  La MontaÃ±ita   M05                  0

## Sacamos informacion de los lotes desde el RDT

In [112]:
# Leer el archivo de excel
df = pd.read_excel(r'c:\Users\alext\Dropbox\TROPICAL  2022 oficina\Nomina Dopbox\RDT 2023\RDT  26  de Abril de 2024  (1).xlsx', sheet_name='Lotes')

In [113]:
# Eliminar las primeras 4 filas y eliminar la primera columna
df = df.iloc[4:, 1:]
# tomar los valores de la primera fila como los nombres de las columnas y eliminar la primera fila
df.columns = df.iloc[0]
df = df.iloc[1:]
# Cambia el nombre de las columnas a titulo
df.columns = df.columns.str.title()
# Elimina las columnas que estan despues de la columna 'Fecha de Creacion'
df = df.iloc[:, :df.columns.get_loc('Fecha De Creacion') + 1]
df.reset_index(drop=True, inplace=True)
df.to_csv('data/lotes.csv', index=False)

In [114]:
df = pd.read_csv('data/lotes.csv')
df

,Codigo Lote,Nombre Lote,TamaÃ±o Area Neta,TamaÃ±o Area Bruta,Codigo Finca,Finca,Propietario,Columna1,Lote Generico,Fecha De Creacion
0,S01,LOTE 01,5.430,5.43,S20,SAN PEDRO,Alex Angulo,INVERSIONES RIO MAR,S01,NaN
1,S02,LOTE 02,4.780,4.78,S20,SAN PEDRO,Alex Angulo,NaN,S02,NaN
2,S03,LOTE 03,4.480,4.48,S20,SAN PEDRO,Alex Angulo,NaN,S03,NaN
3,S04,LOTE 04,4.180,4.18,S20,SAN PEDRO,Alex Angulo,NaN,S04,NaN
4,S05,LOTE 05,4.380,4.38,S20,SAN PEDRO,Alex Angulo,NaN,S05,NaN
...,...,...,...,...,...,...,...,...,...,...
98,M01,NaN,1.847,NaN,M24,LA MONTAÃITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M01,NaN
99,M02,NaN,1.737,NaN,M24,LA MONTAÃITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M02,NaN
100,M03,NaN,2.000,NaN,M24,LA MONTAÃITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M03,NaN
101,M04,NaN,2.000,NaN,M24,LA MONTAÃITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M04,NaN
102,M05,NaN,0.157,NaN,M24,LA MONTAÃITA,NICOLAS SANTIAGO ANGULO URIBE,NaN,M05,NaN

In [115]:
# Primero, creamos un diccionario que mapea los nombres de los lotes a su Ã¡rea
area_por_lote = df.set_index('Lote  Generico')['TamaÃ±o Area Neta'].to_dict()

# Luego, creamos una nueva columna en df_fincas que mapea el nombre del lote a su Ã¡rea
df_fincas['TamaÃ±o Area Neta'] = df_fincas['Lote'].map(area_por_lote)

In [116]:
df_fincas

           Finca  Lote  TamaÃ±o Area Bruta  TamaÃ±o Area Neta
0      San Pedro   S01                  0             5.430
1      San Pedro   S02                  0             4.780
2      San Pedro   S03                  0             4.480
3      San Pedro   S04                  0             4.180
4      San Pedro   S05                  0             4.380
5      San Pedro   S06                  0             4.240
6      San Pedro   S07                  0             5.550
7      San Pedro   S08                  0             3.480
8      San Pedro   S09                  0             4.000
9         Uveros   U06                  0             4.000
10        Uveros   U07                  0             4.000
11     Damaquiel   D08                  0             2.680
12     Damaquiel   D09                  0             4.490
13     Damaquiel   D10                  0             2.570
14     Damaquiel   D11                  0             3.720
15       Pedrito   P01                  0             4.630
16       Pedrito   P02                  0             2.280
17       Pedrito   P03                  0             2.670
18       Pedrito   P04                  0             1.520
19       Pedrito   P05                  0             2.360
20       Pedrito   P06                  0             3.360
21       Pedrito   P07                  0             4.060
22       Pedrito   P08                  0             2.090
23       Pedrito   P09                  0             3.680
24       Pedrito   P10                  0             3.510
25       Pedrito   P11                  0             3.380
26       Pedrito   P12                  0             2.220
27       Pedrito   P13                  0             3.030
28       Pedrito  PN20                  0               NaN
29       Pedrito   P15                  0             2.970
30  La MontaÃ±ita   M01                  0             1.847
31  La MontaÃ±ita   M02                  0             1.737
32  La MontaÃ±ita   M03                  0             2.000
33  La MontaÃ±ita   M04                  0             2.000
34  La MontaÃ±ita   M05                  0             0.157

In [117]:
# Sumamos la cantidad de hectareas por finca sin mostrar los lotes
temp = df_fincas.groupby('Finca').sum()
temp = temp.drop(columns='Lote')
temp.to_csv('data/total_hectareas_por_finca.csv')

## Nueva prueba de df

In [118]:
# nuevo_df = pd.read_excel('data/Prueba.xlsx', sheet_name='Embolse')
# nuevo_df

In [119]:
#nuevo_df

In [120]:
#nuevo_df.dtypes

## Sacando informacion de las cajas del excel de df

In [121]:
df = pd.read_excel(r'c:\Users\alext\Dropbox\TROPICAL  2022 oficina\Embarque Dropbox\LIQUIDADOR DE EMBARQUE.xlsx', sheet_name='CALCULO PAGO')
df.head(15)

c:\Users\alext\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,NaN,NaN,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,NaN,NaN,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,NaN,NaN,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,NaN,NaN,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
11,NaN,NaN,2021-12-29 00:00:00,2021,52,81,P23,Pedrito,2100,1000,...,25085.714286,175600,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857
12,NaN,NaN,2022-01-04 00:00:00,2022,1,330,S20,San Pedro,1500,1000,...,38884.615385,505500,0,0,San Pedro,NaN,0,NaN,NaN,116653.846154
13,NaN,NaN,2022-01-04 00:00:00,2022,1,82,U21,Uveros,1500,1000,...,31175,124700,0,0,Uveros,NaN,0,NaN,NaN,93525
14,NaN,NaN,2022-01-05 00:00:00,2022,1,303,S20,San Pedro,1500,1000,...,32928.571429,461000,0,0,San Pedro,NaN,0,NaN,NaN,98785.714286

In [122]:
# Eliminamos las primeras 6 filas y 2 columnas
df = df.iloc[6:, 2:]
# Asignamos la primera fila como nombre de las columnas
df.columns = df.iloc[0]
# Eliminamos la primera fila
df = df.iloc[1:]
df

6,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,2021-12-28 00:00:00,2021,52,312,S20,San Pedro,1500,1000,500,978,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,2021-12-28 00:00:00,2021,52,80,U21,Uveros,1500,1000,500,331,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,2021-12-29 00:00:00,2021,52,221,S20,San Pedro,1500,1000,500,978,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,2021-12-29 00:00:00,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
11,2021-12-29 00:00:00,2021,52,81,P23,Pedrito,2100,1000,500,523,...,25085.714286,175600,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2024-04-16 00:00:00,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,0,0,San Pedro,NaN,0,NaN,NaN,0
597,2024-04-16 00:00:00,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,11894.736842,0,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526
598,2024-04-16 00:00:00,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,0,0,Uveros,NaN,0,NaN,NaN,0
599,2024-04-16 00:00:00,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,NaN,0,NaN,NaN,0
600,2024-04-22 00:00:00,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,8900,0,0,0,San Pedro,NaN,0,NaN,NaN,26700

In [123]:
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')
# Convertimos la fecha al formato 'DD/MM/YYYY'
df['Fecha'] = df['Fecha'].dt.strftime('%d/%m/%Y')
df

6,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,CUANTO SE REAJUSTA,Columna7,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE
7,28/12/2021,2021,52,312,S20,San Pedro,1500,1000,500,978,...,31880,478200,0,0,San Pedro,NaN,0,NaN,NaN,95640
8,28/12/2021,2021,52,80,U21,Uveros,1500,1000,500,331,...,31275,125100,0,0,Uveros,NaN,0,NaN,NaN,93825
9,29/12/2021,2021,52,221,S20,San Pedro,1500,1000,500,978,...,27875,334500,0,0,San Pedro,NaN,0,NaN,NaN,83625
10,29/12/2021,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,39600,198000,0,0,Damaquiel,NaN,0,NaN,NaN,118800
11,29/12/2021,2021,52,81,P23,Pedrito,2100,1000,500,523,...,25085.714286,175600,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,16/04/2024,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,0,0,San Pedro,NaN,0,NaN,NaN,0
597,16/04/2024,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,11894.736842,0,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526
598,16/04/2024,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,0,0,Uveros,NaN,0,NaN,NaN,0
599,16/04/2024,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,NaN,0,NaN,NaN,0
600,22/04/2024,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,8900,0,0,0,San Pedro,NaN,0,NaN,NaN,26700

In [124]:
# Creamos la columna 'Cajas por Hectarea' y la llenamos con ceros
df['Cajas por Hectarea'] = 0
# La colocamos como tipo float
df['Cajas por Hectarea'] = df['Cajas por Hectarea'].astype(float)
# Creamos la columna 'Bolsas por Hectarea' y la llenamos con ceros
df['Bolsas por Hectarea'] = 0
# La colocamos como tipo float
# df['Bolsas por Hectarea'] = df['Bolsas por Hectarea'].astype(float)
df.dtypes

6
Fecha                   object
AÃ±o                     object
Semana                  object
Cajas                   object
Codigo Finca            object
                        ...
PEGA CARTON             object
BARCADILLERO            object
PRECORTE                object
Cajas por Hectarea     float64
Bolsas por Hectarea      int64
Length: 65, dtype: object

In [125]:
# Sacando los datos de 'data/total_hectareas_por_finca.csv' se creara una nueva columna en el dataframe de df tomando en cuenta la finca, el area neta y la cantidad de cajas
total_hectareas = pd.read_csv('data/total_hectareas_por_finca.csv')
for index, row in df.iterrows():
    for index2, row2 in total_hectareas.iterrows():
        if row['Finca'] == row2['Finca']:
            df.at[index, 'Cajas por Hectarea'] = row['Cajas'] / row2['TamaÃ±o Area Neta']
# Hacemos lo mismo pero con la columna 'Bolsas'
for index, row in df.iterrows():
    for index2, row2 in total_hectareas.iterrows():
        if row['Finca'] == row2['Finca']:
            df.at[index, 'Bolsas por Hectarea'] = row['Bolsas'] / row2['TamaÃ±o Area Neta']

df

C:\Users\alext\AppData\Local\Temp\ipykernel_25436\1858739231.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5034550839091806' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'Bolsas por Hectarea'] = row['Bolsas'] / row2['TamaÃ±o Area Neta']

6,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE,Cajas por Hectarea,Bolsas por Hectarea
7,28/12/2021,2021,52,312,S20,San Pedro,1500,1000,500,978,...,0,0,San Pedro,NaN,0,NaN,NaN,95640,7.699901,0.503455
8,28/12/2021,2021,52,80,U21,Uveros,1500,1000,500,331,...,0,0,Uveros,NaN,0,NaN,NaN,93825,10.000000,1.275000
9,29/12/2021,2021,52,221,S20,San Pedro,1500,1000,500,978,...,0,0,San Pedro,NaN,0,NaN,NaN,83625,5.454097,0.148075
10,29/12/2021,2021,52,120,D22,Damaquiel,1500,1000,500,735,...,0,0,Damaquiel,NaN,0,NaN,NaN,118800,8.915305,2.674591
11,29/12/2021,2021,52,81,P23,Pedrito,2100,1000,500,523,...,0,0,Pedrito,NaN,0,NaN,NaN,75257.142857,1.939655,0.263410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,16/04/2024,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,San Pedro,NaN,0,NaN,NaN,0,0.172754,0.000000
597,16/04/2024,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526,2.705939,0.000000
598,16/04/2024,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,Uveros,NaN,0,NaN,NaN,0,3.750000,0.000000
599,16/04/2024,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,NaN,0,NaN,NaN,0,0.000000,0.000000
600,22/04/2024,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,0,0,San Pedro,NaN,0,NaN,NaN,26700,2.196446,0.000000

In [126]:
# Eliminamos las filas que tengan el AÃ±o = 2021
df = df.drop(df[df['AÃ±o'] == 2021].index)
df

6,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE,Cajas por Hectarea,Bolsas por Hectarea
12,04/01/2022,2022,1,330,S20,San Pedro,1500,1000,500,1091,...,0,0,San Pedro,NaN,0,NaN,NaN,116653.846154,8.144126,0.518263
13,04/01/2022,2022,1,82,U21,Uveros,1500,1000,500,362,...,0,0,Uveros,NaN,0,NaN,NaN,93525,10.250000,0.425000
14,05/01/2022,2022,1,303,S20,San Pedro,1500,1000,500,917,...,0,0,San Pedro,NaN,0,NaN,NaN,98785.714286,7.477789,0.320829
15,05/01/2022,2022,1,77,P23,Pedrito,2100,1000,500,434,...,0,0,Pedrito,NaN,0,NaN,NaN,93100,1.843870,1.173372
16,05/01/2022,2022,1,100,D22,Damaquiel,1500,1000,500,606,...,0,0,Damaquiel,NaN,0,NaN,NaN,93060,7.429421,0.757801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,16/04/2024,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,San Pedro,NaN,0,NaN,NaN,0,0.172754,0.000000
597,16/04/2024,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526,2.705939,0.000000
598,16/04/2024,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,Uveros,NaN,0,NaN,NaN,0,3.750000,0.000000
599,16/04/2024,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,NaN,0,NaN,NaN,0,0.000000,0.000000
600,22/04/2024,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,0,0,San Pedro,NaN,0,NaN,NaN,26700,2.196446,0.000000

In [127]:
# Colocar fecha en tipo datetime
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%d/%m/%Y')
df

6,Fecha,AÃ±o,Semana,Cajas,Codigo Finca,Finca,Precio Caja,Precio Caja Segunda,Precio Bolsa,Total Racimos,...,Columna8,TOTAL EMBARQUE REAJUSTADO,Finca2,Numero de Ocacionales,EMBARQUE,PEGA CARTON,BARCADILLERO,PRECORTE,Cajas por Hectarea,Bolsas por Hectarea
12,2022-01-04,2022,1,330,S20,San Pedro,1500,1000,500,1091,...,0,0,San Pedro,NaN,0,NaN,NaN,116653.846154,8.144126,0.518263
13,2022-01-04,2022,1,82,U21,Uveros,1500,1000,500,362,...,0,0,Uveros,NaN,0,NaN,NaN,93525,10.250000,0.425000
14,2022-01-05,2022,1,303,S20,San Pedro,1500,1000,500,917,...,0,0,San Pedro,NaN,0,NaN,NaN,98785.714286,7.477789,0.320829
15,2022-01-05,2022,1,77,P23,Pedrito,2100,1000,500,434,...,0,0,Pedrito,NaN,0,NaN,NaN,93100,1.843870,1.173372
16,2022-01-05,2022,1,100,D22,Damaquiel,1500,1000,500,606,...,0,0,Damaquiel,NaN,0,NaN,NaN,93060,7.429421,0.757801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2024-04-16,2024,16,7,S020-2,San Pedro,2000,0,575,0,...,0,0,San Pedro,NaN,0,NaN,NaN,0,0.172754,0.000000
597,2024-04-16,2024,16,113,P023-2,Pedrito,2000,0,575,902,...,0,0,Pedrito,NaN,0,NaN,NaN,35684.210526,2.705939,0.000000
598,2024-04-16,2024,16,30,U21-2,Uveros,2000,0,575,0,...,0,0,Uveros,NaN,0,NaN,NaN,0,3.750000,0.000000
599,2024-04-16,2024,16,NaN,NaN,0,0,0,0,0,...,0,0,0,NaN,0,NaN,NaN,0,0.000000,0.000000
600,2024-04-22,2024,17,89,S020-2,San Pedro,2000,0,575,830,...,0,0,San Pedro,NaN,0,NaN,NaN,26700,2.196446,0.000000

In [128]:
df['AÃ±o'].unique()
df['Finca'].unique()

array(['San Pedro', 'Uveros', 'Pedrito', 'Damaquiel', 0], dtype=object)

In [129]:
# Eliminar las filas donde la 'Finca' sea igual a 0
df = df[df['Finca'] != 0]
df['Finca'].unique()

array(['San Pedro', 'Uveros', 'Pedrito', 'Damaquiel'], dtype=object)

In [130]:
df.columns.to_flat_index()

Index(['Fecha', 'AÃ±o', 'Semana', 'Cajas', 'Codigo Finca', 'Finca',
       'Precio Caja', 'Precio Caja Segunda', 'Precio Bolsa', 'Total Racimos',
       'Ratio', 'Racimos Precortados', 'Personas Precorte', 'Cajas Estimadas',
       'Cajas por Personas', 'Valor Precorte Pesona', 'Racimos Cortados',
       'Personas Precorte2', 'Cajas Embarque', 'Cajas por Personas2',
       'Valor Embarque Pesona', 'Cajas Segunda', 'Personas Intervienen',
       'Columna3', 'Columna2', 'Columna1', 'Bosas', 'kilos', 'Sacas',
       'Peso Sacas', 'Personas13', 'Bolsas', 'Bolsas Por Personas',
       'Valor bolsas Pesona', 'Cajas por Personas Precorte',
       'Valor Precorte Pesona Precorte', 'Perzonas Precorte',
       'Total Valor Precorte', 'Cajas por Personas Embarque',
       'Valor Embarque Pesona3', 'Perzona Primera', 'Total Valor Primera',
       'Valor Embarque Pesona4', 'Valor Embarque Pesona5', 'Presonas Segunda',
       'Total Valor Segunda', 'Rechazo', 'Valor bolsas Pesona2',
       'Personas Rechazo', 'Total Rechazo', 'TOTAL A PAGAR', 'VALOR GANADO',
       'REAJUSTADO', 'CUANTO SE REAJUSTA', 'Columna7', 'Columna8',
       'TOTAL EMBARQUE REAJUSTADO', 'Finca2', 'Numero de Ocacionales',
       'EMBARQUE', 'PEGA CARTON', 'BARCADILLERO', 'PRECORTE',
       'Cajas por Hectarea', 'Bolsas por Hectarea'],
      dtype='object', name=6)

In [131]:
columnas_a_conservar = ['AÃ±o', 'Semana', 'Finca', 'Cajas', 'Bolsas', 'Cajas por Hectarea']

In [132]:
# Eliminamos las columnas que no estan en 'columnas_a_conservar'
df = df[columnas_a_conservar]
df

6     AÃ±o Semana      Finca Cajas Bolsas  Cajas por Hectarea
12   2022      1  San Pedro   330     21            8.144126
13   2022      1     Uveros    82    3.4           10.250000
14   2022      1  San Pedro   303     13            7.477789
15   2022      1    Pedrito    77     49            1.843870
16   2022      1  Damaquiel   100   10.2            7.429421
..    ...    ...        ...   ...    ...                 ...
595  2024     16  San Pedro     5      0            0.123396
596  2024     16  San Pedro     7      0            0.172754
597  2024     16    Pedrito   113      0            2.705939
598  2024     16     Uveros    30      0            3.750000
600  2024     17  San Pedro    89      0            2.196446

[584 rows x 6 columns]

In [133]:
# Debido a que hay datos que se tomaron en la misma semana, pero en dias toca sumarlos para que no se repitan
df = df.groupby(['AÃ±o', 'Semana', 'Finca']).sum().reset_index()
df

6     AÃ±o  Semana      Finca Cajas Bolsas  Cajas por Hectarea
0    2022       1  Damaquiel   100   10.2            7.429421
1    2022       1    Pedrito    77     49            1.843870
2    2022       1  San Pedro   633     34           15.621915
3    2022       1     Uveros    82    3.4           10.250000
4    2022       2  Damaquiel    81   10.2            6.017831
..    ...     ...        ...   ...    ...                 ...
421  2024      15  San Pedro   101      0            2.492596
422  2024      16    Pedrito   113      0            2.705939
423  2024      16  San Pedro   200      0            4.935834
424  2024      16     Uveros    30      0            3.750000
425  2024      17  San Pedro    89      0            2.196446

[426 rows x 6 columns]

In [134]:
df_agrupado = df.groupby(['Finca', 'AÃ±o', 'Semana']).sum(numeric_only=True).reset_index()
df_agrupado

6        Finca   AÃ±o  Semana  Cajas por Hectarea
0    Damaquiel  2022       1            7.429421
1    Damaquiel  2022       2            6.017831
2    Damaquiel  2022       3           12.035661
3    Damaquiel  2022       4            8.915305
4    Damaquiel  2022       5           10.698366
..         ...   ...     ...                 ...
421     Uveros  2024      11            1.375000
422     Uveros  2024      12            0.000000
423     Uveros  2024      13            2.125000
424     Uveros  2024      14            1.250000
425     Uveros  2024      16            3.750000

[426 rows x 4 columns]

In [135]:
df_agrupado[(df_agrupado['Finca'] == 'San Pedro') & (df_agrupado['AÃ±o'] == 2022) & (df_agrupado['Semana'] == 1)]

6        Finca   AÃ±o  Semana  Cajas por Hectarea
202  San Pedro  2022       1           15.621915

In [136]:
df.to_csv('data/df.csv')

## Cargando las labores desde la tabla vinculada

In [137]:
## Prueba
#prueba =pd.read_excel('data/Datos.xlsx', sheet_name='Labores')
#prueba.head(15)

In [138]:
#prueba['Lote'].unique()

In [139]:
# Eliminamos las filas que no tienen informaciÃ³n
#prueba = prueba[prueba['Lote'] != 0]
#prueba['Lote'].unique()

In [140]:
# prueba.to_csv('data/prueba.csv')

## Probando los datos de SIOMA

In [141]:
df = pd.read_excel(r'c:\Users\alext\Downloads\Etiquetas_por_division.xlsx')
df

,CÃ³digo,Finca,Lote,lat,lng,Fecha,Tipo de labor
0,C 986,Finca San Pedro,U06,8.739557,-76.580495,2024-04-09 08:46:50,Gris
1,C 986,Finca San Pedro,U06,8.739128,-76.580300,2024-04-09 08:54:09,Gris
2,C 986,Finca San Pedro,U06,8.739280,-76.580573,2024-04-09 08:57:30,Gris
3,C 986,Finca San Pedro,U06,8.739350,-76.580700,2024-04-09 09:35:29,Gris
4,C 986,Finca San Pedro,U06,8.739175,-76.580517,2024-04-09 09:47:23,Gris
...,...,...,...,...,...,...,...
5355,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:48,Rojo
5356,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:50,Rojo
5357,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:52,Rojo
5358,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:54,Rojo
5359,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:56,Rojo

In [142]:
# Agregamos la columna de AÃ±o y Semana
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%Y-%m-%d %H:%M:%S')
df['AÃ±o'] = df['Fecha'].dt.year
df['Semana'] = df['Fecha'].dt.isocalendar().week
# df = df.drop(columns=['lat', 'lng', 'Fecha', 'CÃ³digo'])
df

,CÃ³digo,Finca,Lote,lat,lng,Fecha,Tipo de labor,AÃ±o,Semana
0,C 986,Finca San Pedro,U06,8.739557,-76.580495,2024-04-09 08:46:50,Gris,2024,15
1,C 986,Finca San Pedro,U06,8.739128,-76.580300,2024-04-09 08:54:09,Gris,2024,15
2,C 986,Finca San Pedro,U06,8.739280,-76.580573,2024-04-09 08:57:30,Gris,2024,15
3,C 986,Finca San Pedro,U06,8.739350,-76.580700,2024-04-09 09:35:29,Gris,2024,15
4,C 986,Finca San Pedro,U06,8.739175,-76.580517,2024-04-09 09:47:23,Gris,2024,15
...,...,...,...,...,...,...,...,...,...
5355,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:48,Rojo,2024,16
5356,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:50,Rojo,2024,16
5357,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:52,Rojo,2024,16
5358,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:54,Rojo,2024,16
5359,993,Finca San Pedro,P07,8.739209,-76.515896,2024-04-18 00:00:56,Rojo,2024,16

In [143]:
df.dtypes

CÃ³digo                   object
Finca                    object
Lote                     object
lat                     float64
lng                     float64
Fecha            datetime64[ns]
Tipo de labor            object
AÃ±o                       int32
Semana                   UInt32
dtype: object

In [144]:
df.groupby(['Tipo de labor']).value_counts()

Tipo de labor  CÃ³digo  Finca            Lote  lat       lng         Fecha                AÃ±o   Semana
Amarillo       Q 811   Finca San Pedro  S01   8.800337  -76.503568  2024-04-10 15:50:58  2024  15        1
Azul           Q 811   Finca San Pedro  D08   8.734152  -76.600518  2024-04-11 08:35:16  2024  15        1
Cafe           E 800   Finca San Pedro  M01   8.748144  -76.528842  2024-04-10 07:34:25  2024  15        1
                                              8.748258  -76.528792  2024-04-10 07:34:44  2024  15        1
                                              8.748270  -76.529023  2024-04-10 07:36:59  2024  15        1
                                                                                                        ..
Rojo           w582    Finca San Pedro  S07   8.805468  -76.506893  2024-04-16 09:04:48  2024  16        1
                                              8.805472  -76.506707  2024-04-16 09:00:56  2024  16        1
Verde          C 986   Finca San Pedro  U06   8.739703  -76.580783  2024-04-16 19:31:11  2024  16        1
                                                                    2024-04-16 19:31:40  2024  16        1
                                                                    2024-04-16 19:31:42  2024  16        1
Name: count, Length: 5275, dtype: int64

In [145]:
df['Finca'] = ''

In [146]:
# Usando la informacion del diccionario fincas, si un lote dentro del dataframe esta en uno de los values de finca, colocar la key en la columna finca
for index, row in df.iterrows():
    for key, value in fincas.items():
        if row['Lote'] in value:
            df.at[index, 'Finca'] = key
df

,CÃ³digo,Finca,Lote,lat,lng,Fecha,Tipo de labor,AÃ±o,Semana
0,C 986,Uveros,U06,8.739557,-76.580495,2024-04-09 08:46:50,Gris,2024,15
1,C 986,Uveros,U06,8.739128,-76.580300,2024-04-09 08:54:09,Gris,2024,15
2,C 986,Uveros,U06,8.739280,-76.580573,2024-04-09 08:57:30,Gris,2024,15
3,C 986,Uveros,U06,8.739350,-76.580700,2024-04-09 09:35:29,Gris,2024,15
4,C 986,Uveros,U06,8.739175,-76.580517,2024-04-09 09:47:23,Gris,2024,15
...,...,...,...,...,...,...,...,...,...
5355,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:48,Rojo,2024,16
5356,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:50,Rojo,2024,16
5357,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:52,Rojo,2024,16
5358,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:54,Rojo,2024,16
5359,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:56,Rojo,2024,16

In [147]:
df['Lote'].unique()

array(['U06', 'U07', nan, 'S01', 'S02', 'S08', 'S03', 'S04', 'S05', 'S07',
       'S06', 'P05', 'P13', 'P14', 'P03', 'P04', 'P01', 'P10', 'P09',
       'P16', 'P07', 'P11', 'P06', 'P15', 'P02', 'P08', 'P12', 'M02',
       'M01', 'M05', 'M04', 'D08', 'D20'], dtype=object)

In [148]:
# Eliminamos las filas que el 'Lote' en nan
df = df.dropna(subset=['Lote'])
df['Lote'].unique()

array(['U06', 'U07', 'S01', 'S02', 'S08', 'S03', 'S04', 'S05', 'S07',
       'S06', 'P05', 'P13', 'P14', 'P03', 'P04', 'P01', 'P10', 'P09',
       'P16', 'P07', 'P11', 'P06', 'P15', 'P02', 'P08', 'P12', 'M02',
       'M01', 'M05', 'M04', 'D08', 'D20'], dtype=object)

In [149]:
# Cambiar el nombre de 'Tipo de labor' a 'Color'
df = df.rename(columns={'Tipo de labor': 'Color'})
df

,CÃ³digo,Finca,Lote,lat,lng,Fecha,Color,AÃ±o,Semana
0,C 986,Uveros,U06,8.739557,-76.580495,2024-04-09 08:46:50,Gris,2024,15
1,C 986,Uveros,U06,8.739128,-76.580300,2024-04-09 08:54:09,Gris,2024,15
2,C 986,Uveros,U06,8.739280,-76.580573,2024-04-09 08:57:30,Gris,2024,15
3,C 986,Uveros,U06,8.739350,-76.580700,2024-04-09 09:35:29,Gris,2024,15
4,C 986,Uveros,U06,8.739175,-76.580517,2024-04-09 09:47:23,Gris,2024,15
...,...,...,...,...,...,...,...,...,...
5355,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:48,Rojo,2024,16
5356,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:50,Rojo,2024,16
5357,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:52,Rojo,2024,16
5358,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:54,Rojo,2024,16
5359,993,Pedrito,P07,8.739209,-76.515896,2024-04-18 00:00:56,Rojo,2024,16

In [150]:
week = 16
# Mostrar los valores de la semana 16, aÃ±o 2024, en la finca 'San Pedro'
df[(df['Semana'] == week) & (df['AÃ±o'] == 2024) & (df['Finca'] == 'San Pedro')]

,CÃ³digo,Finca,Lote,lat,lng,Fecha,Color,AÃ±o,Semana
374,M 284,San Pedro,S01,8.800497,-76.503932,2024-04-16 06:26:29,Rojo,2024,16
375,M 284,San Pedro,S01,8.800442,-76.504165,2024-04-16 06:28:25,Rojo,2024,16
376,M 284,San Pedro,S01,8.800685,-76.503930,2024-04-16 06:34:47,Rojo,2024,16
377,M 284,San Pedro,S01,8.800407,-76.503630,2024-04-16 06:40:46,Rojo,2024,16
378,M 284,San Pedro,S01,8.800343,-76.503535,2024-04-16 06:42:03,Rojo,2024,16
...,...,...,...,...,...,...,...,...,...
4912,w582,San Pedro,S06,8.805432,-76.505960,2024-04-16 08:27:45,Rojo,2024,16
4913,w582,San Pedro,S06,8.805372,-76.505915,2024-04-16 08:28:48,Rojo,2024,16
4914,w582,San Pedro,S06,8.805480,-76.505698,2024-04-16 08:30:23,Rojo,2024,16
4915,w582,San Pedro,S06,8.805557,-76.506022,2024-04-16 08:32:54,Rojo,2024,16
4916,w582,San Pedro,S06,8.802803,-76.507018,2024-04-16 09:57:02,Rojo,2024,16

In [151]:
# Borrar las filas donde Finca sea igual a ''
df = df[df['Finca'] != '']

In [152]:
df['Finca'].unique()

array(['Uveros', 'San Pedro', 'Pedrito', 'La MontaÃ±ita', 'Damaquiel'],
      dtype=object)

In [153]:
df.to_csv('data/sioma.csv', index=False)

In [154]:
# Usaremos un ciclo, para contar la cantidad de labores en cada finca por semana y por color y guardarlo en un dataframe
df_labores = pd.DataFrame()
for i in range(df['Semana'].max()):
    temp = df[df['Semana'] == i]['Color'].value_counts()
    temp = temp.reset_index()
    temp = temp.rename(columns={'index': 'Color', 'Color': 'Cantidad'})
    temp['Semana'] = i
    df_labores = pd.concat([df_labores, temp])
df_labores.reset_index(drop=True, inplace=True)
df_labores

   Cantidad  count  Semana
0    Morado   1692      15
1      Gris    380      15
2     Negro    311      15
3      Cafe    111      15
4  Amarillo      1      15
5      Azul      1      15
6   Naranja      1      15

In [155]:
temp = df.groupby(by='Semana')['Color'].value_counts().unstack().fillna(0)
temp

Color   Amarillo  Azul   Cafe   Gris  Morado  Naranja  Negro    Rojo  Verde
Semana
15           1.0   1.0  111.0  380.0  1692.0      1.0  311.0     0.0    0.0
16           0.0   0.0    0.0    0.0   382.0      0.0    0.0  2098.0    3.0

In [156]:
# Sumar la cantidad por semana
temp = temp.reset_index()
temp = temp.melt(id_vars='Semana', var_name='Color', value_name='Cantidad')
temp = temp[temp['Cantidad'] != 0]
temp

    Semana     Color  Cantidad
0       15  Amarillo       1.0
2       15      Azul       1.0
4       15      Cafe     111.0
6       15      Gris     380.0
8       15    Morado    1692.0
9       16    Morado     382.0
10      15   Naranja       1.0
12      15     Negro     311.0
15      16      Rojo    2098.0
17      16     Verde       3.0

In [157]:
# Agrupar por semana y sumar la cantidad dejando solo las columnas 'Semana' y 'Cantidad'
# temp = temp.groupby(by='Semana').sum()
#temp = temp.reset_index()
#temp = temp.drop(columns='Color')
#temp

In [158]:
# Crear un dataframe con los colores por semana, son 10 colores, estos colores se repetiran 52 veces, asignamos el codigo de color a cada color usando el diccionario color
colores = ['Blanco', 'Azul', 'Cafe', 'Gris', 'Morado', 'Rojo', 'Negro', 'Naranja', 'Verde', 'Amarillo']
color_dict = {
    'Blanco': '#FFFFFF',
    'Azul': '#0000FF',
    'Cafe': '#964B00',
    'Gris': '#808080',
    'Morado': '#A020F0',
    'Rojo': '#FF0000',
    'Negro': '#000000',
    'Naranja': '#FFA500',
    'Verde': '#008000',
    'Amarillo': '#FFFF00'
}

color = pd.DataFrame(columns=['Semana', 'Color', 'Codigo Color'])
for i in range(0, 52, 1):
    semana = i % 10
    color_semana = colores[semana]
    codigo_color = color_dict[color_semana]
    color = pd.concat([color, pd.DataFrame({'Semana': [i+1], 'Color': [color_semana], 'Codigo Color': [codigo_color]})], ignore_index=True)
color.to_csv('data/colores_semana_embolse.csv',index=False)
color

   Semana     Color Codigo Color
0       1    Blanco      #FFFFFF
1       2      Azul      #0000FF
2       3      Cafe      #964B00
3       4      Gris      #808080
4       5    Morado      #A020F0
5       6      Rojo      #FF0000
6       7     Negro      #000000
7       8   Naranja      #FFA500
8       9     Verde      #008000
9      10  Amarillo      #FFFF00
10     11    Blanco      #FFFFFF
11     12      Azul      #0000FF
12     13      Cafe      #964B00
13     14      Gris      #808080
14     15    Morado      #A020F0
15     16      Rojo      #FF0000
16     17     Negro      #000000
17     18   Naranja      #FFA500
18     19     Verde      #008000
19     20  Amarillo      #FFFF00
20     21    Blanco      #FFFFFF
21     22      Azul      #0000FF
22     23      Cafe      #964B00
23     24      Gris      #808080
24     25    Morado      #A020F0
25     26      Rojo      #FF0000
26     27     Negro      #000000
27     28   Naranja      #FFA500
28     29     Verde      #008000
29     30  Amarillo      #FFFF00
30     31    Blanco      #FFFFFF
31     32      Azul      #0000FF
32     33      Cafe      #964B00
33     34      Gris      #808080
34     35    Morado      #A020F0
35     36      Rojo      #FF0000
36     37     Negro      #000000
37     38   Naranja      #FFA500
38     39     Verde      #008000
39     40  Amarillo      #FFFF00
40     41    Blanco      #FFFFFF
41     42      Azul      #0000FF
42     43      Cafe      #964B00
43     44      Gris      #808080
44     45    Morado      #A020F0
45     46      Rojo      #FF0000
46     47     Negro      #000000
47     48   Naranja      #FFA500
48     49     Verde      #008000
49     50  Amarillo      #FFFF00
50     51    Blanco      #FFFFFF
51     52      Azul      #0000FF

In [159]:
# Crear un dataframe con los colores por semana, son 10 colores, estos colores se repetiran 52 veces, asignamos el codigo de color a cada color usando el diccionario color
colores = ['Verde', 'Amarillo', 'Blanco', 'Azul', 'Cafe', 'Gris', 'Morado', 'Rojo', 'Negro', 'Naranja']
color_dict = {
    'Blanco': '#FFFFFF',
    'Azul': '#0000FF',
    'Cafe': '#964B00',
    'Gris': '#808080',
    'Morado': '#A020F0',
    'Rojo': '#FF0000',
    'Negro': '#000000',
    'Naranja': '#FFA500',
    'Verde': '#008000',
    'Amarillo': '#FFFF00'
}

color = pd.DataFrame(columns=['Semana', 'Color', 'Codigo Color'])
for i in range(0, 52, 1):
    semana = i % 10
    color_semana = colores[semana]
    codigo_color = color_dict[color_semana]
    color = pd.concat([color, pd.DataFrame({'Semana': [i+1], 'Color': [color_semana], 'Codigo Color': [codigo_color]})], ignore_index=True)
color.to_csv('data/colores_semana_desflore.csv',index=False)
color

   Semana     Color Codigo Color
0       1     Verde      #008000
1       2  Amarillo      #FFFF00
2       3    Blanco      #FFFFFF
3       4      Azul      #0000FF
4       5      Cafe      #964B00
5       6      Gris      #808080
6       7    Morado      #A020F0
7       8      Rojo      #FF0000
8       9     Negro      #000000
9      10   Naranja      #FFA500
10     11     Verde      #008000
11     12  Amarillo      #FFFF00
12     13    Blanco      #FFFFFF
13     14      Azul      #0000FF
14     15      Cafe      #964B00
15     16      Gris      #808080
16     17    Morado      #A020F0
17     18      Rojo      #FF0000
18     19     Negro      #000000
19     20   Naranja      #FFA500
20     21     Verde      #008000
21     22  Amarillo      #FFFF00
22     23    Blanco      #FFFFFF
23     24      Azul      #0000FF
24     25      Cafe      #964B00
25     26      Gris      #808080
26     27    Morado      #A020F0
27     28      Rojo      #FF0000
28     29     Negro      #000000
29     30   Naranja      #FFA500
30     31     Verde      #008000
31     32  Amarillo      #FFFF00
32     33    Blanco      #FFFFFF
33     34      Azul      #0000FF
34     35      Cafe      #964B00
35     36      Gris      #808080
36     37    Morado      #A020F0
37     38      Rojo      #FF0000
38     39     Negro      #000000
39     40   Naranja      #FFA500
40     41     Verde      #008000
41     42  Amarillo      #FFFF00
42     43    Blanco      #FFFFFF
43     44      Azul      #0000FF
44     45      Cafe      #964B00
45     46      Gris      #808080
46     47    Morado      #A020F0
47     48      Rojo      #FF0000
48     49     Negro      #000000
49     50   Naranja      #FFA500
50     51     Verde      #008000
51     52  Amarillo      #FFFF00

In [160]:
# Se reinicia el index
temp.reset_index()
temp.size

30

In [161]:
temp

    Semana     Color  Cantidad
0       15  Amarillo       1.0
2       15      Azul       1.0
4       15      Cafe     111.0
6       15      Gris     380.0
8       15    Morado    1692.0
9       16    Morado     382.0
10      15   Naranja       1.0
12      15     Negro     311.0
15      16      Rojo    2098.0
17      16     Verde       3.0

In [162]:
codigo_color_dict = dict(zip(color['Color'], color['Codigo Color']))
temp['Codigo Color'] = temp['Color'].map(codigo_color_dict)
temp

    Semana     Color  Cantidad Codigo Color
0       15  Amarillo       1.0      #FFFF00
2       15      Azul       1.0      #0000FF
4       15      Cafe     111.0      #964B00
6       15      Gris     380.0      #808080
8       15    Morado    1692.0      #A020F0
9       16    Morado     382.0      #A020F0
10      15   Naranja       1.0      #FFA500
12      15     Negro     311.0      #000000
15      16      Rojo    2098.0      #FF0000
17      16     Verde       3.0      #008000

## Vamos a usar ahora el RDT

In [163]:
df = pd.read_excel(r'c:\Users\alext\Dropbox\TROPICAL  2022 oficina\Nomina Dopbox\RDT 2023\RDT  26  de Abril de 2024  (1).xlsx', sheet_name='RDT')
df.head(15)

c:\Users\alext\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Fecha,AÃ±o,Semana,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca PDrtenece,Centro De Costo,CÃ³digo Labor,...,Valor Ganado,Recibo de caja,Valor Pagado,Centro De Costo2,TIPO DE NOMINA,Labores,NaN,NaN,NaN,NaN
14,NaN,2023-09-04 00:00:00,2023,36,325,Yenifer Sanchez,FIJO,S20,S20,L144-1,...,12800,RCM 4995,12800,SAN PEDRO,40,EMPACADORA,NaN,NaN,NaN,NaN

In [164]:
# Eliminamos las primeras 13 filas y la primera columna
df = df.iloc[13:, 1:]
# Colocamos la primera fila como titulos de las columnas
df.columns = df.iloc[0]
df = df.iloc[1:]
# Eliminamos las ultimas 4 columnas
df = df.iloc[:, :-4]
df

13,Fecha,AÃ±o,Semana,Codigo Contratista,Nombre Empleado,Tipo Empleado,Finca PDrtenece,Centro De Costo,CÃ³digo Labor,Nombre Labor,...,Aprobado Adminiatrador,ValidaciÃ³n De Reportes,Horas Empleadas,Valor Unidad2,Valor Ganado,Recibo de caja,Valor Pagado,Centro De Costo2,TIPO DE NOMINA,Labores
14,2023-09-04 00:00:00,2023,36,325,Yenifer Sanchez,FIJO,S20,S20,L144-1,Preembarque,...,Aprobado,Aprobado,0,12800,12800,RCM 4995,12800,SAN PEDRO,40,EMPACADORA
15,2023-09-04 00:00:00,2023,36,26,Wuilfredo Antonio Ocanto BriceÃ±o,FIJO,S20,S20,L0111-1,Desflore,...,Aprobado,Aprobado,0,160,18400,RCM 5026,18400,SAN PEDRO,20,Desflore
16,2023-09-04 00:00:00,2023,36,26,Wuilfredo Antonio Ocanto BriceÃ±o,FIJO,S20,S20,L047-1,Embolse,...,Aprobado,Aprobado,0,160,23040,RCM 5026,23040,SAN PEDRO,20,Embolse
17,2023-09-04 00:00:00,2023,36,227,Wilberto Guzman Gonzalez,FIJO,PE23,PE23,L00,No TrabajÃ³,...,Aprobado,Aprobado,0,0,0,RCM 5264,0,0,30,0
18,2023-09-04 00:00:00,2023,36,809,Miguel Enrique Malariaga,FIJO,PE23-N,PE23-N,L00,No TrabajÃ³,...,Aprobado,Aprobado,0,0,0,RCM 5006,0,0,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,2024-04-23 00:00:00,2024,17,996,Ferney Fuentes,FIJO,PE23,P23,EM01,Contrato Corte de platano,...,NaN,No Aprobado,0,33600,NaN,NaN,NaN,PEDRITO,30,Embarque
8494,2024-04-23 00:00:00,2024,17,737,Liset Medina,OCASIONAL,PE23,P23,EM01,Contrato Corte de platano,...,NaN,No Aprobado,0,33600,NaN,NaN,NaN,PEDRITO,40,Embarque
8495,2024-04-23 00:00:00,2024,17,733,Arcelia Julio Pertuz,OCASIONAL,PE23,P23,EM01,Contrato Corte de platano,...,NaN,No Aprobado,0,33600,NaN,NaN,NaN,PEDRITO,30,Embarque
8496,2024-04-23 00:00:00,2024,17,42,Edith Maria Morelos Poo,OCASIONAL,S20,P23,EM01,Contrato Corte de platano,...,NaN,No Aprobado,0,33600,NaN,NaN,NaN,PEDRITO,40,Embarque
8497,2024-04-24 00:00:00,2024,17,882,Eduardo Martinez,OCASIONAL,S20,P23,DM00,Contrato Desmache,...,NaN,No Aprobado,0,0,NaN,NaN,NaN,PEDRITO,40,Desmache

In [165]:
# Vemos todas las columnas del RDT
df.columns

Index(['Fecha', 'AÃ±o', 'Semana', 'Codigo Contratista', 'Nombre Empleado',
       'Tipo Empleado', 'Finca PDrtenece', 'Centro De Costo', 'CÃ³digo Labor',
       'Nombre Labor', 'Unidad de Pago', 'Unidades Elaboradas', 'Valor Unidad',
       'Primer Lote', ' Unides Primer Lote', ' Tiempo Empleado',
       'Codgo generico L1', 'Segundo Lote', 'Unides Segundo Lote',
       ' Tiempo Empleado2', 'Codgo generico L 2', 'Tercer Lote',
       'Unides Tercer Lote', ' Tiempo Empleado3', 'Codgo generico L3',
       'Cuarto Lote', 'Unides Cuarto Lote', ' Tiempo Empleado4',
       'Codgo generico L4', 'CÃ³digo Insumo', 'Nombre Insumo',
       'Unidad de Medida Insumo', 'Isumo Consumo', 'Dosis Insumos', 'Reales',
       'BOMBAS', 'Teorico', 'Diferenca', 'CÃ³digo Insumo 2', 'Nombre Insumo 2',
       'Unidad de Medida Insumo 2', 'Isumo Consumo 2', 'Dosis Insumos 2',
       'BOMBAS 2', 'Teorico 2', 'Diferenca 2', 'CÃ³digo Insumo 3',
       'Nombre Insumo 3', 'Unidad de Medida Insumo 3', 'Isumo Consumo 3',
       'Dosis Insumos 3', 'BOMBAS 3', 'Teorico 3', 'Diferenca 3',
       'CÃ³digo Insumo 4', 'Nombre Insumo 4', 'Unidad de Medida Insumo 4',
       'Isumo Consumo 4', 'Dosis Insumos 4', 'BOMBAS 4', 'Teorico 4',
       'Diferenca 4', 'CÃ³digo Insumo 5', 'Nombre Insumo 5',
       'Unidad de Medida Insumo 5', 'Isumo Consumo 5', 'Dosis Insumos 5',
       'BOMBAS 5', 'Teorico 5', 'Diferenca 5', 'Aprobado Operario',
       'Aprobado Coordinador', 'Aprobado Adminiatrador',
       'ValidaciÃ³n De Reportes', 'Horas Empleadas', 'Valor Unidad2',
       'Valor Ganado', 'Recibo de caja', 'Valor Pagado', 'Centro De Costo2',
       'TIPO DE NOMINA', 'Labores'],
      dtype='object', name=13)

In [166]:
# Vamos a especificar las columnas que queremos conservar
columnas_a_conservar = [
    'Fecha',
    'AÃ±o',
    'Semana',
    'Nombre Labor',
    ' Unides Primer Lote',
    'Codgo generico L1',
    'Unides Segundo Lote',
    'Codgo generico L 2',
    'Unides Tercer Lote',
    'Codgo generico L3',
    'Unides Cuarto Lote',
    'Codgo generico L4',
    'Labores'
]
# Eliminamos las columnas que no estan en 'columnas_a_conservar'
df = df[columnas_a_conservar]
df

13,Fecha,AÃ±o,Semana,Nombre Labor,Unides Primer Lote,Codgo generico L1,Unides Segundo Lote,Codgo generico L 2,Unides Tercer Lote,Codgo generico L3,Unides Cuarto Lote,Codgo generico L4,Labores
14,2023-09-04 00:00:00,2023,36,Preembarque,1,E20,NaN,0,NaN,0,NaN,0,EMPACADORA
15,2023-09-04 00:00:00,2023,36,Desflore,115,S06,NaN,0,NaN,0,NaN,0,Desflore
16,2023-09-04 00:00:00,2023,36,Embolse,144,S06,NaN,0,NaN,0,NaN,0,Embolse
17,2023-09-04 00:00:00,2023,36,No TrabajÃ³,NaN,0,NaN,0,NaN,0,NaN,0,0
18,2023-09-04 00:00:00,2023,36,No TrabajÃ³,NaN,0,NaN,0,NaN,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8494,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8495,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8496,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8497,2024-04-24 00:00:00,2024,17,Contrato Desmache,NaN,P08,NaN,0,NaN,0,NaN,0,Desmache

In [167]:
# Mostramos las columnas
df.columns

Index(['Fecha', 'AÃ±o', 'Semana', 'Nombre Labor', ' Unides Primer Lote',
       'Codgo generico L1', 'Unides Segundo Lote', 'Codgo generico L 2',
       'Unides Tercer Lote', 'Codgo generico L3', 'Unides Cuarto Lote',
       'Codgo generico L4', 'Labores'],
      dtype='object', name=13)

In [168]:
# Cambiamos el nombre de las columnas
df.columns = [
    'Fecha',
    'AÃ±o',
    'Semana',
    'Nombre Labor',
    'Unidades Primer Lote',
    'Codigo Generico L1',
    'Unidades Segundo Lote',
    'Codigo Generico L2',
    'Unidades Tercer Lote',
    'Codigo Generico L3',
    'Unidades Cuarto Lote',
    'Codigo Generico L4',
    'Labores'
]
df

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
14,2023-09-04 00:00:00,2023,36,Preembarque,1,E20,NaN,0,NaN,0,NaN,0,EMPACADORA
15,2023-09-04 00:00:00,2023,36,Desflore,115,S06,NaN,0,NaN,0,NaN,0,Desflore
16,2023-09-04 00:00:00,2023,36,Embolse,144,S06,NaN,0,NaN,0,NaN,0,Embolse
17,2023-09-04 00:00:00,2023,36,No TrabajÃ³,NaN,0,NaN,0,NaN,0,NaN,0,0
18,2023-09-04 00:00:00,2023,36,No TrabajÃ³,NaN,0,NaN,0,NaN,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8494,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8495,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8496,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8497,2024-04-24 00:00:00,2024,17,Contrato Desmache,NaN,P08,NaN,0,NaN,0,NaN,0,Desmache

In [169]:
# Mostrar los valores donde 'Labores' sea igual a 0
df[df['Labores'] == 0]

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
17,2023-09-04 00:00:00,2023,36,No TrabajÃ³,NaN,0,NaN,0,NaN,0,NaN,0,0
18,2023-09-04 00:00:00,2023,36,No TrabajÃ³,NaN,0,NaN,0,NaN,0,NaN,0,0
19,2023-09-04 00:00:00,2023,36,Recaba De Canales,40.714286,M07,NaN,0,NaN,0,NaN,0,0
23,2023-09-04 00:00:00,2023,36,No TrabajÃ³,NaN,0,NaN,0,NaN,0,NaN,0,0
25,2023-09-04 00:00:00,2023,36,No TrabajÃ³,NaN,0,NaN,0,NaN,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8450,2024-05-09 00:00:00,2024,19,0,NaN,0,NaN,0,NaN,0,NaN,0,0
8453,2024-04-25 00:00:00,2024,17,0,NaN,0,NaN,0,NaN,0,NaN,0,0
8454,2024-04-26 00:00:00,2024,17,0,NaN,0,NaN,0,NaN,0,NaN,0,0
8455,2024-04-27 00:00:00,2024,17,0,NaN,0,NaN,0,NaN,0,NaN,0,0
8456,2024-04-23 00:00:00,2024,17,No TrabajÃ³,NaN,0,NaN,0,NaN,0,NaN,0,0

In [170]:
# Mostramos los valores unicos de 'Labores'
df['Labores'].unique()

array(['EMPACADORA', 'Desflore', 'Embolse', 0, 'Labores Campo',
       'Fumigacion  Control Maleza ', 'Deshoje', 'Desmache',
       'GuadaÃ±a Control Maleza', 'EMBARQUE', 'Abonar', 'MANTENIMIENTO',
       'Recojida Coco', 'Control', 'Construccion', 'FOLIAR', 'SIEMBRA',
       'REPARACIONES', 'Aministracion', 'Limpia machete', 'Embarque',
       'Administracion', 'Resiembra', 'Mantenimiento', 'Coco',
       'Pelada coco', 'Foliar', 'Canales', 'Madera', 'Siembra/resiembra',
       'Limpia bejuco', 'Amarre'], dtype=object)

In [171]:
# Mostramos los valores unicos de 'Nombre Labor'
df['Nombre Labor'].unique()

array(['Preembarque', 'Desflore', 'Embolse', 'No TrabajÃ³',
       'Recaba De Canales', 'Arranque Bejuco', 'Arranque De Semillas',
       'Contrato De FumigaciÃ³n ', 'Contrato Deshoje',
       'Desmache 13 Semanas Libre', 'Desmache 4 Semanas Libre',
       'Operario Motosierra Pedrito', 'Desmache 10 Semanas Libre',
       'RecolecciÃ³n De Semilla Y Acarreo',
       'Operario de maquinaria pesada', 'Pase De GuadaÃ±a ',
       'Arreglo De Cinta', 'Corte De PlÃ¡tano', 'Siembra De Colinos',
       'CodificaciÃ³n De CartÃ³n', 'Toconeo', 'Barcadillero',
       'Fumigacion A 7 Semanas Libre', 'Amarre De Pita A La Cinta',
       'Fumigacion A 4 Semanas Libre', 'Labor Al BÃ¡sico',
       'Abono Con Sulfato De Amonio',
       'Aseo Botada De VÃ¡stagos De PlÃ¡tano', 'Aseo Embarque ',
       'Mantenimiento Y Reparacion Equipos', 'Pase De GuadaÃ±a',
       'Abono con materia organica', 'Corte de madera en astillas',
       'Desmache 11 Semanas Libre', 'Arreo De Semillas',
       'Deshoje Especial (2)', 'Casiqueo', 'Siembra De Cabeza Toro',
       'Deshoje Especial(4)', 'Recabas  Pedrito', 'Deshoje Especial(3)',
       'Desmache 8 Semanas Libre',
       'Arranque Recojida Y Traida De Semilla De PlÃ¡tano',
       'Repique De Matas CaÃ­das', 'Aseo Embarque (UVERO/DAMAQUIEL)',
       'RecolecciÃ³n De Coco Derramado', 'Control Foliar Pedrito',
       'Fumigacion A 15 Semanas Libre', 'Fumigacion A 14 Semanas Libre',
       'Recabas  F La MontaÃ±a (PN21)', 'Desmache 7 Semanas Libre',
       'Fumigacion A 9 Semanas Libre', 'Desmache 9 Semanas Libre',
       'Fumigacion A 5 Semanas Libre', 'Deshoje Especial(7)',
       'Acarreo De Madera', 'Fumigacion A 10 Semanas Libre',
       'Fumigacion A 6 Semanas Libre', 'Fumigacion A 8 Semanas Libre',
       'Abono Con Urea', 'Deshoje Especial(5)',
       'Desmache 12 Semanas Libre', 'Carrera em moto San Juan-San Pedro',
       'Fumigacion A 12 Semanas Libre', 'Termonebulizador ',
       'Deshoje Especial(6)', 'Abono con micorriza', 'Hoyado',
       'Control foliar', 'Recojida Y TraÃ­da De Semilla',
       'Fumigacion A 11 Semanas Libre', 'Deshoje Especial(8)',
       'Deshoje Especial(10)', 'Arranque, Recojida Y Traida De Semilla',
       'Deshoje Especial(9)', 'Precorte', 'Abono Con Potasio',
       'Siembra De Colinos La MontaÃ±a', 'HÃ©rcules',
       'Siembra De Colinos S/Hoyar', 'Contrato De Desmache',
       'Desmache 14 Semanas Libre', 'Desmache 6 Semanas Libre',
       'RecolecciÃ³n De Coco Tumbado', 'Mezclas Dap-Urea 120 grms',
       'Abono Con Dap', 'Desmache La AntioqueÃ±ita-Uveros',
       'Realce De Resiembra', 'Descargue Y Cargue De Bultos De Abono',
       'Realce De  Resiembra ', 'Siembra De Coco', 'Arreglo De Bodega',
       'Fumigacion A 13 Semanas Libre',
       'Control foliar con Nitrato de potasio y menores',
       'Desmache 5 Semanas Libre', 'Mantenimiento Garrucha',
       'Arranque Recojida Y Traida De Semilla De PlÃ¡tano(CABEZA DE TORO)',
       'Fumigacion A 3 Semanas Libre', 'Chapeo Con Machete', 0,
       'Mantenimiento Cerca', 'Desmache 3 Semanas Libre',
       'Desmache 2 Semanas Libre', 'Operador Motosierra',
       'Ayudante Motosierra', 'Limpia A Machete',
       'Mezclas Dap-Urea-Nitrato 150 grms (Enterrado)',
       'Pase De GuadaÃ±a-Corte bejuco-Toconeo',
       'Mantenimiento Instalaciones', 'Mantenimiento Cable VÃ­a',
       'Contrato Embolse', 'Arreglo Cerca',
       'Fumigacion A 2 Semanas Libre', 'BÃ¡sico Empleado',
       ' Contrato Limpieza a machete', 'Contrato Preembarque',
       'Contrato Arreglo De Cintas', 'Contrato Corte de platano',
       'Contrato De Deshoje 2 Semana', 'Contrato Desflore',
       'Codificacion de carton (caja completa)',
       'Contrato De Deshoje 1 Semana', 'Contrato Barcadillero',
       'Contrato Desmache 5 Semanas Libre', 'Reposo', 'Contrato Toconeo',
       'Contrato Fumigacion A 4 Semanas Libre',
       'Contrato Fumigacion A 2 Semanas Libre',
       'Contrato Fumigacion A 5 Semanas Libre',
       'Contrato Realce De  Resiembra ',
       'Contrato Desmache 6 Semanas Libre',
       'Contrato Mantenimiento Cerca', 'Contrato Aseo Embarque ',
       'Contrato Aseo bodega',
       'Contrato Aseo Botada De VÃ¡stagos De PlÃ¡tano',
       'Contrato Elaboracion cinta edad',
       'Contrato Fumigacion A 6 Semanas Libre', 'Labor a Basico',
       'Contrato Elaboracion Cerca', 'Contrato Desmache 8 Semanas Libre',
       'Contrato Fumigacion A 7 Semanas Libre',
       'Contrato De Deshoje 4 Semana', 'Contrato De Deshoje 3 Semana',
       'Contrato Casiqueo', 'Contrato Tumba Coco',
       'Contrato RecolecciÃ³n De Coco Tumbado', 'Contrato Pelada De Cocos',
       'Contrato Desmache TEMPORAL', 'Contrato Desmache 7 Semanas Libre',
       'Contrato Desmache 4 Semanas Libre',
       'Contrato Fumigacion A 3 Semanas Libre',
       'Contrato RecolecciÃ³n De Coco Derramado',
       'Descargue  De Bultos De Abono', 'Contrato Control foliar',
       'Contrato Rompimiento De Canales ',
       'Contrato Recabas  Canales Temporal',
       'Contrato de Mantenimiento de cable via(engrase)',
       'Contrato Repique De Matas CaÃ­das', 'Contrato de precorte',
       'Contrato Desmache 9 Semanas Libre',
       'Contrato De Deshoje 5 Semana', 'Contrato Operador Motosierra',
       'Corte de madera en astillas (BARETA)',
       'Contrato Toconeo Y Descumbre', 'Contrato Pase De GuadaÃ±a',
       'Contrato Embolse con Jaco', 'Contrato Inventario con Jaco',
       'Contrato Abono Con Urea', 'Contrato Siembra De Cabeza Toro',
       'Contrato Abono Con Urea Enterrado',
       'Contrato Desmache 2 Semanas Libre',
       'Contrato De Deshoje 7 Semana',
       'Contrato Fumigacion A 8 Semanas Libre',
       'Contrato Arranque Bejuco', 'Contrato Desmache 10 Semanas Libre',
       'Contrato De Deshoje 6 Semana',
       'Contrato Desmache 11 Semanas Libre', 'Contrato Desflore con Jaco',
       'ClasificaciÃ³n Coco', 'Contrato Reparacion en Cable VÃ­a',
       'Contrato Desmache 13 Semanas Libre',
       'Contrato Fumigacion A 10 Semanas Libre',
       'Contrato Desmache 1 Semanas Libre',
       'Contrato Abono Con  Tierra De Diatomeas 25 Kilos(Silicio)',
       'Contrato Desmache 12 Semanas Libre', 'Contato Aseo Instalaciones',
       'Contrato Fumigacion A 11 Semanas Libre',
       'Contrato Fumigacion A 9 Semanas Libre', 'Contrato Amarre',
       'Contrato Desmache', 'Contrato Desmache 14 Semanas Libre',
       'Contrato De Deshoje'], dtype=object)

In [172]:
# Eliminamos las filas donde 'Labores' sea igual a 0 y 'Nombre Labor' sea igual a 'No TrabajÃ³', solamente si se cumplen estas dos condiciones
df = df.drop(df[(df['Labores'] == 0) & (df['Nombre Labor'] == 'No TrabajÃ³')].index)
df

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
14,2023-09-04 00:00:00,2023,36,Preembarque,1,E20,NaN,0,NaN,0,NaN,0,EMPACADORA
15,2023-09-04 00:00:00,2023,36,Desflore,115,S06,NaN,0,NaN,0,NaN,0,Desflore
16,2023-09-04 00:00:00,2023,36,Embolse,144,S06,NaN,0,NaN,0,NaN,0,Embolse
19,2023-09-04 00:00:00,2023,36,Recaba De Canales,40.714286,M07,NaN,0,NaN,0,NaN,0,0
20,2023-09-04 00:00:00,2023,36,Arranque Bejuco,1.363636,P08,NaN,0,NaN,0,NaN,0,Labores Campo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8494,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8495,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8496,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
8497,2024-04-24 00:00:00,2024,17,Contrato Desmache,NaN,P08,NaN,0,NaN,0,NaN,0,Desmache

In [173]:
# Mostramos los valores donde 'Nombre Labor' sea igual a '0'
df[df['Nombre Labor'] == 0]

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
2732,2023-11-23 00:00:00,2023,47,0,NaN,0,NaN,0,NaN,0,NaN,0,0
2733,2023-11-23 00:00:00,2023,47,0,NaN,0,NaN,0,NaN,0,NaN,0,0
2734,2023-11-23 00:00:00,2023,47,0,NaN,0,NaN,0,NaN,0,NaN,0,0
3409,2023-12-11 00:00:00,2023,50,0,NaN,0,NaN,0,NaN,0,NaN,0,0
3426,2023-12-11 00:00:00,2023,50,0,NaN,0,NaN,0,NaN,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8449,2024-05-05 00:00:00,2024,18,0,NaN,0,NaN,0,NaN,0,NaN,0,0
8450,2024-05-09 00:00:00,2024,19,0,NaN,0,NaN,0,NaN,0,NaN,0,0
8453,2024-04-25 00:00:00,2024,17,0,NaN,0,NaN,0,NaN,0,NaN,0,0
8454,2024-04-26 00:00:00,2024,17,0,NaN,0,NaN,0,NaN,0,NaN,0,0
8455,2024-04-27 00:00:00,2024,17,0,NaN,0,NaN,0,NaN,0,NaN,0,0

In [174]:
# Eliminamos las filas que tengan los valores de 'Nombre Labor' en 0 y 'Labores' en 0
df = df.drop(df[(df['Nombre Labor'] == 0) & (df['Labores'] == 0)].index).reset_index(drop=True)
df

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
0,2023-09-04 00:00:00,2023,36,Preembarque,1,E20,NaN,0,NaN,0,NaN,0,EMPACADORA
1,2023-09-04 00:00:00,2023,36,Desflore,115,S06,NaN,0,NaN,0,NaN,0,Desflore
2,2023-09-04 00:00:00,2023,36,Embolse,144,S06,NaN,0,NaN,0,NaN,0,Embolse
3,2023-09-04 00:00:00,2023,36,Recaba De Canales,40.714286,M07,NaN,0,NaN,0,NaN,0,0
4,2023-09-04 00:00:00,2023,36,Arranque Bejuco,1.363636,P08,NaN,0,NaN,0,NaN,0,Labores Campo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6406,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
6407,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
6408,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
6409,2024-04-23 00:00:00,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
6410,2024-04-24 00:00:00,2024,17,Contrato Desmache,NaN,P08,NaN,0,NaN,0,NaN,0,Desmache

In [175]:
# Vamos a cambiar el formato de la fecha a 'DD/MM/YYYY'
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')
df['Fecha'] = df['Fecha'].dt.strftime('%d/%m/%Y')

In [176]:
# Vamos a guardar el dataframe en un archivo csv por ahora
df.to_csv('data/rdt.csv', index=False)

In [177]:
# Valores unicos de la columna 'Labores'
df['Labores'].unique()

array(['EMPACADORA', 'Desflore', 'Embolse', 0, 'Labores Campo',
       'Fumigacion  Control Maleza ', 'Deshoje', 'Desmache',
       'GuadaÃ±a Control Maleza', 'EMBARQUE', 'Abonar', 'MANTENIMIENTO',
       'Recojida Coco', 'Control', 'Construccion', 'FOLIAR', 'SIEMBRA',
       'REPARACIONES', 'Aministracion', 'Limpia machete', 'Embarque',
       'Administracion', 'Resiembra', 'Mantenimiento', 'Coco',
       'Pelada coco', 'Foliar', 'Canales', 'Madera', 'Siembra/resiembra',
       'Limpia bejuco', 'Amarre'], dtype=object)

In [178]:
df['Nombre Labor'].unique()

array(['Preembarque', 'Desflore', 'Embolse', 'Recaba De Canales',
       'Arranque Bejuco', 'Arranque De Semillas',
       'Contrato De FumigaciÃ³n ', 'Contrato Deshoje',
       'Desmache 13 Semanas Libre', 'Desmache 4 Semanas Libre',
       'Operario Motosierra Pedrito', 'Desmache 10 Semanas Libre',
       'RecolecciÃ³n De Semilla Y Acarreo',
       'Operario de maquinaria pesada', 'Pase De GuadaÃ±a ',
       'Arreglo De Cinta', 'Corte De PlÃ¡tano', 'Siembra De Colinos',
       'CodificaciÃ³n De CartÃ³n', 'Toconeo', 'Barcadillero',
       'Fumigacion A 7 Semanas Libre', 'Amarre De Pita A La Cinta',
       'Fumigacion A 4 Semanas Libre', 'Labor Al BÃ¡sico',
       'Abono Con Sulfato De Amonio',
       'Aseo Botada De VÃ¡stagos De PlÃ¡tano', 'Aseo Embarque ',
       'Mantenimiento Y Reparacion Equipos', 'Pase De GuadaÃ±a',
       'Abono con materia organica', 'Corte de madera en astillas',
       'Desmache 11 Semanas Libre', 'Arreo De Semillas',
       'Deshoje Especial (2)', 'Casiqueo', 'Siembra De Cabeza Toro',
       'Deshoje Especial(4)', 'Recabas  Pedrito', 'Deshoje Especial(3)',
       'Desmache 8 Semanas Libre',
       'Arranque Recojida Y Traida De Semilla De PlÃ¡tano',
       'Repique De Matas CaÃ­das', 'Aseo Embarque (UVERO/DAMAQUIEL)',
       'RecolecciÃ³n De Coco Derramado', 'Control Foliar Pedrito',
       'Fumigacion A 15 Semanas Libre', 'Fumigacion A 14 Semanas Libre',
       'Recabas  F La MontaÃ±a (PN21)', 'Desmache 7 Semanas Libre',
       'Fumigacion A 9 Semanas Libre', 'Desmache 9 Semanas Libre',
       'Fumigacion A 5 Semanas Libre', 'Deshoje Especial(7)',
       'Acarreo De Madera', 'Fumigacion A 10 Semanas Libre',
       'Fumigacion A 6 Semanas Libre', 'Fumigacion A 8 Semanas Libre',
       'Abono Con Urea', 'Deshoje Especial(5)',
       'Desmache 12 Semanas Libre', 'Carrera em moto San Juan-San Pedro',
       'Fumigacion A 12 Semanas Libre', 'Termonebulizador ',
       'Deshoje Especial(6)', 'Abono con micorriza', 'Hoyado',
       'Control foliar', 'Recojida Y TraÃ­da De Semilla',
       'Fumigacion A 11 Semanas Libre', 'Deshoje Especial(8)',
       'Deshoje Especial(10)', 'Arranque, Recojida Y Traida De Semilla',
       'Deshoje Especial(9)', 'Precorte', 'Abono Con Potasio',
       'Siembra De Colinos La MontaÃ±a', 'HÃ©rcules',
       'Siembra De Colinos S/Hoyar', 'Contrato De Desmache',
       'Desmache 14 Semanas Libre', 'Desmache 6 Semanas Libre',
       'RecolecciÃ³n De Coco Tumbado', 'Mezclas Dap-Urea 120 grms',
       'Abono Con Dap', 'Desmache La AntioqueÃ±ita-Uveros',
       'Realce De Resiembra', 'Descargue Y Cargue De Bultos De Abono',
       'Realce De  Resiembra ', 'Siembra De Coco', 'Arreglo De Bodega',
       'Fumigacion A 13 Semanas Libre',
       'Control foliar con Nitrato de potasio y menores',
       'Desmache 5 Semanas Libre', 'Mantenimiento Garrucha',
       'Arranque Recojida Y Traida De Semilla De PlÃ¡tano(CABEZA DE TORO)',
       'Fumigacion A 3 Semanas Libre', 'Chapeo Con Machete',
       'Mantenimiento Cerca', 'Desmache 3 Semanas Libre',
       'Desmache 2 Semanas Libre', 'Operador Motosierra',
       'Ayudante Motosierra', 'Limpia A Machete',
       'Mezclas Dap-Urea-Nitrato 150 grms (Enterrado)',
       'Pase De GuadaÃ±a-Corte bejuco-Toconeo',
       'Mantenimiento Instalaciones', 'Mantenimiento Cable VÃ­a',
       'Contrato Embolse', 'Arreglo Cerca',
       'Fumigacion A 2 Semanas Libre', 'BÃ¡sico Empleado',
       ' Contrato Limpieza a machete', 'Contrato Preembarque',
       'Contrato Arreglo De Cintas', 'Contrato Corte de platano',
       'Contrato De Deshoje 2 Semana', 'Contrato Desflore',
       'Codificacion de carton (caja completa)',
       'Contrato De Deshoje 1 Semana', 'Contrato Barcadillero',
       'Contrato Desmache 5 Semanas Libre', 'Reposo', 'Contrato Toconeo',
       'Contrato Fumigacion A 4 Semanas Libre',
       'Contrato Fumigacion A 2 Semanas Libre',
       'Contrato Fumigacion A 5 Semanas Libre',
       'Contrato Realce De  Resiembra ',
       'Contrato Desmache 6 Semanas Libre',
       'Contrato Mantenimiento Cerca', 'Contrato Aseo Embarque ',
       'Contrato Aseo bodega',
       'Contrato Aseo Botada De VÃ¡stagos De PlÃ¡tano',
       'Contrato Elaboracion cinta edad',
       'Contrato Fumigacion A 6 Semanas Libre', 'Labor a Basico',
       'Contrato Elaboracion Cerca', 'Contrato Desmache 8 Semanas Libre',
       'Contrato Fumigacion A 7 Semanas Libre',
       'Contrato De Deshoje 4 Semana', 'Contrato De Deshoje 3 Semana',
       'Contrato Casiqueo', 'Contrato Tumba Coco',
       'Contrato RecolecciÃ³n De Coco Tumbado', 'Contrato Pelada De Cocos',
       'Contrato Desmache TEMPORAL', 'Contrato Desmache 7 Semanas Libre',
       'Contrato Desmache 4 Semanas Libre',
       'Contrato Fumigacion A 3 Semanas Libre',
       'Contrato RecolecciÃ³n De Coco Derramado',
       'Descargue  De Bultos De Abono', 'Contrato Control foliar',
       'Contrato Rompimiento De Canales ',
       'Contrato Recabas  Canales Temporal',
       'Contrato de Mantenimiento de cable via(engrase)',
       'Contrato Repique De Matas CaÃ­das', 'Contrato de precorte',
       'Contrato Desmache 9 Semanas Libre',
       'Contrato De Deshoje 5 Semana', 'Contrato Operador Motosierra',
       'Corte de madera en astillas (BARETA)',
       'Contrato Toconeo Y Descumbre', 'Contrato Pase De GuadaÃ±a',
       'Contrato Embolse con Jaco', 'Contrato Inventario con Jaco',
       'Contrato Abono Con Urea', 'Contrato Siembra De Cabeza Toro',
       'Contrato Abono Con Urea Enterrado',
       'Contrato Desmache 2 Semanas Libre',
       'Contrato De Deshoje 7 Semana',
       'Contrato Fumigacion A 8 Semanas Libre',
       'Contrato Arranque Bejuco', 'Contrato Desmache 10 Semanas Libre',
       'Contrato De Deshoje 6 Semana',
       'Contrato Desmache 11 Semanas Libre', 'Contrato Desflore con Jaco',
       'ClasificaciÃ³n Coco', 'Contrato Reparacion en Cable VÃ­a',
       'Contrato Desmache 13 Semanas Libre',
       'Contrato Fumigacion A 10 Semanas Libre',
       'Contrato Desmache 1 Semanas Libre',
       'Contrato Abono Con  Tierra De Diatomeas 25 Kilos(Silicio)',
       'Contrato Desmache 12 Semanas Libre', 'Contato Aseo Instalaciones',
       'Contrato Fumigacion A 11 Semanas Libre',
       'Contrato Fumigacion A 9 Semanas Libre', 'Contrato Amarre',
       'Contrato Desmache', 'Contrato Desmache 14 Semanas Libre',
       'Contrato De Deshoje'], dtype=object)

In [179]:
# Mostrar los valores donde 'Labores' sea igual a 0
df[df['Labores'] == 0]

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
3,04/09/2023,2023,36,Recaba De Canales,40.714286,M07,NaN,0,NaN,0,NaN,0,0
13,04/09/2023,2023,36,Operario Motosierra Pedrito,1,M07,NaN,0,NaN,0,NaN,0,0
22,04/09/2023,2023,36,Arreglo De Cinta,538,E23,NaN,0,NaN,0,NaN,0,0
26,05/09/2023,2023,36,Siembra De Colinos,85,M07,NaN,0,NaN,0,NaN,0,0
27,05/09/2023,2023,36,Recaba De Canales,40.714286,M07,NaN,0,NaN,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6082,12/04/2024,2024,15,Contrato Elaboracion Cerca,2,0,NaN,0,NaN,0,NaN,0,0
6223,17/04/2024,2024,16,Contrato Elaboracion Cerca,NaN,M02,NaN,0,NaN,0,NaN,0,0
6224,17/04/2024,2024,16,Contrato Elaboracion Cerca,NaN,M02,NaN,0,NaN,0,NaN,0,0
6254,18/04/2024,2024,16,Contrato Elaboracion Cerca,17.5,M02,NaN,0,NaN,0,NaN,0,0
6255,18/04/2024,2024,16,Contrato Elaboracion Cerca,17.5,M02,NaN,0,NaN,0,NaN,0,0

In [180]:
# Eliminamos las filas donde 'Labores' sea igual a 0
df = df.drop(df[df['Labores'] == 0].index).reset_index(drop=True)
df

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
0,04/09/2023,2023,36,Preembarque,1,E20,NaN,0,NaN,0,NaN,0,EMPACADORA
1,04/09/2023,2023,36,Desflore,115,S06,NaN,0,NaN,0,NaN,0,Desflore
2,04/09/2023,2023,36,Embolse,144,S06,NaN,0,NaN,0,NaN,0,Embolse
3,04/09/2023,2023,36,Arranque Bejuco,1.363636,P08,NaN,0,NaN,0,NaN,0,Labores Campo
4,04/09/2023,2023,36,Arranque De Semillas,380,P08,NaN,0,NaN,0,NaN,0,Labores Campo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5965,23/04/2024,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
5966,23/04/2024,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
5967,23/04/2024,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
5968,23/04/2024,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
5969,24/04/2024,2024,17,Contrato Desmache,NaN,P08,NaN,0,NaN,0,NaN,0,Desmache

In [181]:
df.dtypes

Fecha                    object
AÃ±o                      object
Semana                   object
Nombre Labor             object
Unidades Primer Lote     object
Codigo Generico L1       object
Unidades Segundo Lote    object
Codigo Generico L2       object
Unidades Tercer Lote     object
Codigo Generico L3       object
Unidades Cuarto Lote     object
Codigo Generico L4       object
Labores                  object
dtype: object

In [182]:
# Asginamos tipo de valor a las columnas
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')
df['AÃ±o'] = df['AÃ±o'].astype(int)
df['Semana'] = df['Semana'].astype(int)
df['Nombre Labor'] = df['Nombre Labor'].astype(str)
df['Labores'] = df['Labores'].astype(str)
# Las unidades en tipo float con dos decimales
df['Unidades Primer Lote'] = df['Unidades Primer Lote'].astype(float)
df['Unidades Segundo Lote'] = df['Unidades Segundo Lote'].astype(float)
df['Unidades Tercer Lote'] = df['Unidades Tercer Lote'].astype(float)
df['Unidades Cuarto Lote'] = df['Unidades Cuarto Lote'].astype(float)
# Los codigos en tipo string
df['Codigo Generico L1'] = df['Codigo Generico L1'].astype(str)
df['Codigo Generico L2'] = df['Codigo Generico L2'].astype(str)
df['Codigo Generico L3'] = df['Codigo Generico L3'].astype(str)
df['Codigo Generico L4'] = df['Codigo Generico L4'].astype(str)
df.dtypes

Fecha                    datetime64[ns]
AÃ±o                               int32
Semana                            int32
Nombre Labor                     object
Unidades Primer Lote            float64
Codigo Generico L1               object
Unidades Segundo Lote           float64
Codigo Generico L2               object
Unidades Tercer Lote            float64
Codigo Generico L3               object
Unidades Cuarto Lote            float64
Codigo Generico L4               object
Labores                          object
dtype: object

In [183]:
df

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
0,2023-04-09,2023,36,Preembarque,1.000000,E20,NaN,0,NaN,0,NaN,0,EMPACADORA
1,2023-04-09,2023,36,Desflore,115.000000,S06,NaN,0,NaN,0,NaN,0,Desflore
2,2023-04-09,2023,36,Embolse,144.000000,S06,NaN,0,NaN,0,NaN,0,Embolse
3,2023-04-09,2023,36,Arranque Bejuco,1.363636,P08,NaN,0,NaN,0,NaN,0,Labores Campo
4,2023-04-09,2023,36,Arranque De Semillas,380.000000,P08,NaN,0,NaN,0,NaN,0,Labores Campo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5965,NaT,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
5966,NaT,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
5967,NaT,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
5968,NaT,2024,17,Contrato Corte de platano,1.190476,E23,NaN,0,NaN,0,NaN,0,Embarque
5969,NaT,2024,17,Contrato Desmache,NaN,P08,NaN,0,NaN,0,NaN,0,Desmache

In [184]:
df['Codigo Generico L1'].unique()

array(['E20', 'S06', 'P08', 'P05', 'S01', 'P07', 'S02', 'M07', 'P12',
       'E21', 'P01', 'S07', 'E23', 'E22', 'S08', 'S05', 'P09', 'P06',
       'S04', 'D11', 'D09', 'P02', 'P03', 'P15', 'U06', 'D10', 'S03',
       'U07', 'P13', 'P11', 'D08', 'P04', 'P20', 'P10', 'nan', '0', 'P14',
       'P16', 'M01', 'M03', 'M04', 'M05', 'M02', 'P17', 'R30'],
      dtype=object)

In [185]:
df[df['Codigo Generico L1']=='0']

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
1108,NaT,2023,43,Desflore,NaN,0,NaN,0,NaN,0,NaN,0,Desflore
1301,2023-04-11,2023,44,Desflore,125.5,0,NaN,0,NaN,0,NaN,0,Desflore
1567,NaT,2023,46,Labor Al BÃ¡sico,NaN,0,NaN,0,NaN,0,NaN,0,Labores Campo
1569,NaT,2023,46,Labor Al BÃ¡sico,NaN,0,NaN,0,NaN,0,NaN,0,Labores Campo
1592,NaT,2023,46,Labor Al BÃ¡sico,NaN,0,NaN,0,NaN,0,NaN,0,Labores Campo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5788,NaT,2024,16,Contrato Arreglo De Cintas,NaN,0,NaN,0,NaN,0,NaN,0,Embarque
5789,NaT,2024,16,Labor a Basico,NaN,0,NaN,0,NaN,0,NaN,0,Labores Campo
5843,NaT,2024,16,Contrato De FumigaciÃ³n,NaN,0,NaN,0,NaN,0,NaN,0,Fumigacion Control Maleza
5848,NaT,2024,16,Contrato Aseo Botada De VÃ¡stagos De PlÃ¡tano,NaN,0,NaN,0,NaN,0,NaN,0,Mantenimiento
5895,NaT,2024,16,Contrato Amarre,NaN,0,NaN,0,NaN,0,NaN,0,Amarre

In [186]:
# Colocamos los valores de 'Labores' en formato titulo
df['Labores'] = df['Labores'].str.title()

In [187]:
df['Labores'].unique()

array(['Empacadora', 'Desflore', 'Embolse', 'Labores Campo',
       'Fumigacion  Control Maleza ', 'Deshoje', 'Desmache',
       'GuadaÃ±a Control Maleza', 'Embarque', 'Abonar', 'Mantenimiento',
       'Recojida Coco', 'Control', 'Construccion', 'Foliar', 'Siembra',
       'Reparaciones', 'Aministracion', 'Limpia Machete',
       'Administracion', 'Resiembra', 'Coco', 'Pelada Coco', 'Canales',
       'Madera', 'Siembra/Resiembra', 'Limpia Bejuco', 'Amarre'],
      dtype=object)

In [188]:
df.columns

Index(['Fecha', 'AÃ±o', 'Semana', 'Nombre Labor', 'Unidades Primer Lote',
       'Codigo Generico L1', 'Unidades Segundo Lote', 'Codigo Generico L2',
       'Unidades Tercer Lote', 'Codigo Generico L3', 'Unidades Cuarto Lote',
       'Codigo Generico L4', 'Labores'],
      dtype='object')

In [189]:
# La columna fecha la convertimos en tipo datetime
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')
df.dtypes

Fecha                    datetime64[ns]
AÃ±o                               int32
Semana                            int32
Nombre Labor                     object
Unidades Primer Lote            float64
Codigo Generico L1               object
Unidades Segundo Lote           float64
Codigo Generico L2               object
Unidades Tercer Lote            float64
Codigo Generico L3               object
Unidades Cuarto Lote            float64
Codigo Generico L4               object
Labores                          object
dtype: object

In [190]:
df[df['Unidades Segundo Lote'] == 0]

,Fecha,AÃ±o,Semana,Nombre Labor,Unidades Primer Lote,Codigo Generico L1,Unidades Segundo Lote,Codigo Generico L2,Unidades Tercer Lote,Codigo Generico L3,Unidades Cuarto Lote,Codigo Generico L4,Labores
248,NaT,2023,37,Desflore,23.0,P01,0.0,P11,0.0,P12,0.0,P13,Desflore
4155,NaT,2024,7,Contrato Desflore,2.0,P10,0.0,nan,14.0,P15,NaN,0,Desflore
4556,2024-04-03,2024,10,Contrato Desflore,0.0,P03,0.0,P05,21.0,P06,NaN,0,Desflore
4643,2024-06-03,2024,10,Contrato Desflore,17.0,P01,0.0,P12,16.0,P15,NaN,0,Desflore

In [191]:
# En las columnas de unidades, si el valor es vacio, se colocara en 0
df['Unidades Primer Lote'] = df['Unidades Primer Lote'].replace('', 0)

In [192]:
df.to_csv('data/rdt.csv', index=False)

In [193]:
# Agrupar por Semana, Codigo Generico L1 y Labores, hacer la sumatoria de 'Unidades Primer Lote'
temp = df.groupby(['AÃ±o', 'Semana', 'Codigo Generico L1', 'Labores']).sum(numeric_only=True).reset_index()
# Mostramos los datos del 'Codigo Generico L1' == S01 y 'Labores' == 'Fumigacion  Control Maleza '
temp[(temp['Codigo Generico L1'] == 'S01') & (temp['Labores'] == 'Fumigacion  Control Maleza ')]

,AÃ±o,Semana,Codigo Generico L1,Labores,Unidades Primer Lote,Unidades Segundo Lote,Unidades Tercer Lote,Unidades Cuarto Lote
471,2023,43,S01,Fumigacion Control Maleza,2.72,0.0,0.0,0.0
539,2023,44,S01,Fumigacion Control Maleza,2.71,0.0,0.0,0.0
967,2023,50,S01,Fumigacion Control Maleza,2.72,0.0,0.0,0.0
1060,2023,51,S01,Fumigacion Control Maleza,2.71,0.0,0.0,0.0
1376,2024,3,S01,Fumigacion Control Maleza,5.43,0.0,0.0,0.0
1454,2024,4,S01,Fumigacion Control Maleza,0.00,0.0,0.0,0.0
1722,2024,7,S01,Fumigacion Control Maleza,5.43,0.0,0.0,0.0
2481,2024,15,S01,Fumigacion Control Maleza,5.43,0.0,0.0,0.0

In [194]:
df_fincas.columns

Index(['Finca', 'Lote', 'TamaÃ±o Area Bruta', 'TamaÃ±o Area Neta'], dtype='object')

In [195]:
# Ahora hacemos un calculo de porcentaje cuando la labor es 'Fumigacion  Control Maleza ' las unidades entre el area neta del lote en 'Codigo Generico L1' sea igual al valor de 'Lote' en df_fincas y lo multiplicamos por 100
for index, row in temp.iterrows():
    for index2, row2 in df_fincas.iterrows():
        if row['Codigo Generico L1'] == row2['Lote']:
            temp.at[index, 'Porcentaje'] = (row['Unidades Primer Lote'] / row2['TamaÃ±o Area Neta']) * 100
temp.reset_index(drop=True, inplace=True)
temp[(temp['Codigo Generico L1'] == 'S01') & (temp['Labores'] == 'Fumigacion  Control Maleza ')]

,AÃ±o,Semana,Codigo Generico L1,Labores,Unidades Primer Lote,Unidades Segundo Lote,Unidades Tercer Lote,Unidades Cuarto Lote,Porcentaje
471,2023,43,S01,Fumigacion Control Maleza,2.72,0.0,0.0,0.0,50.092081
539,2023,44,S01,Fumigacion Control Maleza,2.71,0.0,0.0,0.0,49.907919
967,2023,50,S01,Fumigacion Control Maleza,2.72,0.0,0.0,0.0,50.092081
1060,2023,51,S01,Fumigacion Control Maleza,2.71,0.0,0.0,0.0,49.907919
1376,2024,3,S01,Fumigacion Control Maleza,5.43,0.0,0.0,0.0,100.000000
1454,2024,4,S01,Fumigacion Control Maleza,0.00,0.0,0.0,0.0,0.000000
1722,2024,7,S01,Fumigacion Control Maleza,5.43,0.0,0.0,0.0,100.000000
2481,2024,15,S01,Fumigacion Control Maleza,5.43,0.0,0.0,0.0,100.000000